@import "./hero.scss";
@import "./_map.scss";
@import "./steps.scss";
@import "./help.scss";
@import "./stats.scss";



.home-link {
    font-size: 1.333rem;
    text-decoration: none;
}


.card .age-uk-wirral-logo {
  display: block;
  margin: 2rem auto;
}