@import "./hero.scss";
@import "./street-check.scss";
@import "./steps.scss";
@import "./help.scss";
@import "./stats.scss";

@media screen and (max-width: $sm-screen){
    .btn--sign-up {
        white-space: nowrap;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .w100 {
        width: 100%;
    }
}

@media screen and (max-width: $med-screen){
    .btn--sign-up{
        margin-top: $med-margin;
    }
}
    