.street-check {
    @media screen and (min-width: $med-screen) {
        > div {
            margin: 0 auto;
        }

        .max {
            max-width: 830px;
        }

        h3 {
            margin-top: 40px;
            font-size: 36px;
            line-height: 48px;
        }

        input {
            width: 392px;
            font-size: 18px;
            line-height: 22px;
            padding: 20px 32px;
        }
    }

    @media screen and (min-width: $sm-screen) and (max-width: $med-screen) {
        > div {
            text-align: center;
            max-width: 500px;
            margin: 0 auto;
        }

        .postcode-input-button {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: $sm-margin;
        }
    }

    @media screen and (max-width: $med-screen) {
        .align-center {
            justify-content: center;
        }

        span {
            width: 100%;
        }

        p > span:first-of-type {
            padding-bottom: $xxs-margin;
        }

        .ml32 {
            margin-left: 0;
        }

        h3 {
            margin-top: 0;
            margin-bottom: $sm-margin;
            font-size: 27px;
            line-height: 36px;
        }

        .input {
            margin-bottom: 0;
        }

        input {
            width: 100%;
            font-size: 14px;
            line-height: 18px;
            padding: 15px 24px;
        }
    }

    .progress {
        display: inline-block;
        width: 227px;
        height: 3px;
        background-color: #eee;
        margin: 0 10px;
        border-radius: 5px;

        .indicator {
            border-radius: 5px;
            display: inline-block;
            width: 15%;
            height: 3px;
            background-color: #48a415;
        }

        @media screen and (max-width: $sm-screen) {
            width: 100%;
        }
    }

    label {
        font-weight: bold;
    }

    .btn {
        @media screen and (min-width: $med-screen) {
            margin-left: 24px;
        }

        @media screen and (max-width: $sm-screen) {
            width: 100%;
            margin-top: $sm-margin;
        }
    }
}

.postcode__info {
    background: $background-main;
    padding: 10px;

    @media screen and (min-width: $sm-screen) {
        margin: 0px;
    }
    margin-top:10px;

    @media screen and (min-width: $sm-screen) {
        width: 80%;
    }

    width: 100%;

    &__message {
        @media screen and (min-width: $sm-screen) {
            margin: 0 0px;
        }

        &__text {
            padding: 20px;
            color: $dark-blue;
            font-weight: 600;

            p {
                color: $dark-blue;
            }

            &__warning {
                color: $orange;
                font-weight: 600;
            }
        }
    }
}

