<footer>
    <div class="btn-wrapper">
        <button class="btn cta  btnPrev  left clear-button">Back</button>
        <button class="btn btnNext cta  right">Next <span class="desktop">Step</span></button>
        <button class="btn cta btnBackToStart auth-error right">Back to Start</button>
    </div>
</footer>