<footer>
    <div class="btn-wrapper">
        <button class="btn btnPrev  left cta--blue">Back</button>
        <button class="btn btnNext cta  right">Continue</button>
        <button class="btn cta btnBackToStart auth-error right"> <span class="desktop">Back to </span> <span class="mobile">< </span>&nbsp;Start</button>
    </div>
</footer>