@using HelpMyStreetFE.Models.Yoti;
@model YotiOptions


<div class="row">
    <div class="sm12">
        <div class="auth-error">
            <div class="verification-step__text">
                <p class="verification-step__text__header--small">Oops. Sorry, something didn’t work!<p>
                    <div class="verification-step__text__copy">
                        <ul>
                            <li>Please check the Yoti app has taken a clear picture of your details on your Passport or Driving Licence.</li>
                            <li>Please check that your details taken from the documents in the Yoti app are correct.</li>
                            <li>Please then try again by scanning the QR Code</li>
                        </ul>
                    </div>
                <p>Still having problems? Please let us know by sending us a message to <a href="mailto:support@helpmystreet.org">support@helpmystreet.org</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="sm7">
        <div  class="verification-step__yoti__auth__desktop"><partial name="_StepCounter" model='new StepCounterViewModel { Step = 3, Description = "Scan The Code with the Yoti App" }'></div>
        <div class="verification-step__yoti__auth__mobile"><partial name="_StepCounter" model='new StepCounterViewModel { Step = 3, Description = "Click the blue \"Use Yoti\" Button below" }'></div>
        <div class="verification-step__text">
            <p class="verification-step__text__copy verification-step__yoti__auth__desktop">After scanning the code in the app, you will be asked for your consent to share your name and date of birth with HelpMyStreet to verify your identity.</p>
            <p class="verification-step__text__copy verification-step__yoti__auth__mobile">You will be taken to the Yoti app where you will be asked for your consent to share your name and date of birth with HelpMyStreet to verify your identity. </p>
        </div>
    </div>
    <div class="sm5">
        <div class="yoti__auth__button" id="@Model.DomId"></div>
        <div class="text-center verification-step__yoti__auth__desktop">
            <a id="reload-yoti">Can't see QR code?</a>
        </div>
    </div>
</div>



<partial name="_NextPrevButtons" />