@using HelpMyStreetFE.Models.Yoti;

<div class="row">
    <div class="sm12">
        <partial name="_StepCounter" model='new StepCounterViewModel { Step = 2, Description = "Follow the instructions in the Yoti app to upload your passport or Driving License" }'>
    </div>
</div>
<div class="row">
    <div class="sm12">
        <div class="verification-step___text__copy">
            <p><strong>Please have an ID in your name (either Passport or </strong></p>
        </div>
    </div>
</div>


<partial name="_NextPrevButtons" />