@using HelpMyStreetFE.Models.Yoti;
@model YotiOptions


<div class="row">
    <div class="sm12">
        <partial name="_StepCounter" model='new StepCounterViewModel { Step = 3, Description = "Scan The Code with the Yoti App" }'>
    </div>
</div>

<div class="row">
    <div class="sm6">
        <div class="yoti__auth__button" id="@Model.DomId"></div>
    </div>
    <div class="sm6">
        <div class="verification-step__text">
            <p class="verification-step__text__header--small">Scan with the Yoti App<p>            
            <p  class="verification-step__copy">All our volunteers are ID Verified with out partner Yoti. to provide peace of mind to those in need, as well as their friends and family</p>
        </div>      
        </div>
    </div>


<partial name="_NextPrevButtons" />