@model HelpMyStreetFE.Models.Yoti.VerificationViewModel
@{
    var viewModel = Model;

}
    <div id="verification-panel" class="verification-panel">
        <div class="loading-overlay">
            <div class="loading-overlay__spinner">
                <img src="~/img/loading_spinner.svg" />
                <div class="loading-overlay__spinner__text">
                    <span>Verifying your ID…</span>
                </div>
            </div>
        </div>
        <article class="user-profile profile-panel p-md">
            <header class="profile-panel__header">
                <h3 class="profile-panel__title" id="verification-title">My Activity</h3>
            </header>

            <article class="profile">
                <div id="landing" class="verification-step @(Model.StartAtStep == 0 ? "active" : "") ">
                    <partial name="_VerificationLanding" model="Model" />
                </div>
                <div id="step-one" class="verification-step @(Model.StartAtStep == 1 ? "active" : "") ">
                    <partial name="_StepOne" />
                </div>
                <div id="step-two" class="verification-step @(Model.StartAtStep == 2 ? "active" : "") ">
                    <partial name="_StepTwo" for="YotiOptions" />
                </div>
            </article>            
        </article>
    </div>