@model HelpMyStreetFE.Models.Yoti.VerificationViewModel

@if (Model.IsVerified)
{
<div class="row">
    <div class="sm6">
        <div class="verification-step__status">
            <div class="verification-step__status--centre">
                <div class="verification-step__status__img">
                    <img src="~/img/icons/green-tick.svg" />
                </div>
                <div class="verification-step__status__title">
                    @Model.DisplayName, you're a verified volunteer!

                </div>
            </div>
        </div>
    </div>
    <div class="sm6">
        <div class="verification-step__status">
            <div class="verification-step___text">
                <span class="verification-step__text__header">Verified</span>
                <div class="verification-step__text__copy">
                    <p>Congratulations, you’re a verified volunteer!</p>
                    <p>Take a look at the Open Requests tab to see what help is needed near you.</p>
                    <p>Just so you know, some of the organisations we work with may require additional checks for some types of request. If any are needed we’ll let you know.</p>
                </div>
            </div>
        
        </div>
    </div>
</div>
}
else
{
    <div class="row">
        <div class="sm6">
            <div class="verification-step__status">
                <div class="verification-step__status--centre">
                    <div class="verification-step__status__img">
                        <img src="~/img/icons/anonymous-user.png" width="120" />
                    </div>
                    <div class="verification-step__status__title">
                        @Model.DisplayName, you're nearly there! <br />
                        Confirm your ID to become a verified volunteer
                    </div>
                </div>
            </div>
        </div>
        <div class="sm6">
            <div class="verification-step__status">
                <div class="verification-step___text">
                    <span class="verification-step__text__header">Why Verify?</span>
                    <div class="verification-step__text__copy">
                        <p>To keep everyone safe, most requests for help on our platform need a verified volunteer – that means we’ve been able to confirm you are who you say you are.</p>
                        <p>Verifying your ID is easy, simply click the green ‘Confirm ID’ button below to get started.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="btn-wrapper">
            <button class="btn cta btnNext right">Confirm ID</button>
        </div>
    </footer>
}
