@model HelpMyStreetFE.Models.Yoti.VerificationViewModel

@if (Model.IsVerified)
{
<div class="row">
    <div class="sm6">
        <div class="verification-step__status">
            <div class="verification-step__status--centre">
                <div class="verification-step__status__img">
                    <img src="~/img/icons/green-tick.svg" />
                </div>
                <div class="verification-step__status__title">
                    You're fully Verified and ready to go!

                </div>
            </div>
        </div>
    </div>
    <div class="sm6">
        <div class="verification-step__status">
            <div class="verification-step___text">
                <span class="verification-step__text__header">Verified</span>
                <div class="verification-step__text__copy">
                    @if (Model.IsStreetChampion)
                    {
                    <p>Congratulations @Model.DisplayName, you’re a verified Street Champion!</p>
                    <p>You can see the contact details for nearby Street Champions and Helpers in the 'My Streets' area of your profile.</p>
                    <p>When we receive a 'Request for Help' in your street(s), we’ll send you an email with all the details.</p>
                    }
                    else
                    {
                        <p>Congratulations @Model.DisplayName, you’re a verified Helper!</p>
                        <p>Nearby Street Champions can get in touch to introduce themselves and check if you can complete requests for help in your local area.</p>                      
                    }
                </div>
            </div>
        
        </div>
    </div>
</div>
}
else
{
    <div class="row">
        <div class="sm6">
            <div class="verification-step__status">
                <div class="verification-step__status--centre">
                    <div class="verification-step__status__img">
                        <img src="~/img/icons/anonymous-user.png" width="120" />
                    </div>
                    <div class="verification-step__status__title">
                        You're nearly there! <br />
                        Just your ID Verification to complete.
                    </div>
                </div>
            </div>
        </div>
        <div class="sm6">
            <div class="verification-step__status">
                <div class="verification-step___text">
                    <span class="verification-step__text__header">Why Verify?</span>
                    <div class="verification-step__text__copy">
                        @if (Model.IsStreetChampion)
                        {
                        <p>
                            @Model.DisplayName, you're currently registered as an unverified Street Champion. As soon as you've completed your ID verification, you'll be a verified Street Champion and will be able to access requests for help and support from people in your local area.</p>
                            <p>You will also be able to see contact details of nearby Street Champions and Helpers in the ‘My Streets’ area of your profile.</p>
                            <p>We are now receiving requests from people who need to shelter safely at home. Complete your ID Verification today so that you can start helping these people!</p>
                        }
                        else
                        {
                            <p>@Model.DisplayName, you're currently registered as an unverified Helper. As soon as you've completed your ID verification, you'll be a verified Helper and will be able to start helping people in your local area. </p>
                            <p>We are now receiving requests from people who need to shelter safely at home. Complete your ID Verification today so that you can start helping these people!</p>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="btn-wrapper">
            <button class="btn cta btnNext right">Confirm ID</button>
        </div>
    </footer>
}