

<div class="row">
    <div class="sm6">
        <div class="verification-step__status">
            <div class="verification-step__status--centre">
                <div class="verification-step__status__img">
                    <img src="~/img/icons/green-tick.svg" />
                </div>
                <div class="verification-step__status__title">
                    You're nearly there <br />
                    Just your ID Verification to complete!
                </div>
            </div>
        </div>
    </div>
    <div class="sm6">
        <div class="verification-step__status">
            <div class="verification-step___text">
                <span class="verification-step__text__header">Why Verify?</span>
                <div class="verification-step___text__copy">
                    <p>John D, you're currently registered as an unverified Helper. As soon as you've completed your ID Verification. you'll be a Verified Helper and will be able to access requests for help and support from tpeople in your local area.</p>                              
                    <p>Last week we had 23 Requests from people who need to shelter safely at home. Verify now so that you can start helping these people today!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="btn-wrapper">
        <button class="btn cta btnNext right">Confirm ID</button>
    </div>
</footer>