<div class="yoti__instructions">
    <div class="yoti__instructions__item">
        <div class="yoti__instructions__item__content">
            <p>Once the Yoti app shows you:</p>
            <div class="yoti__instructions__check-grid">
                <div class="yoti__instructions__check-grid__icon__wrapper">
                    <img class="yoti__instructions__check-grid__icon" src="~/img/icons/green-tick.svg" />
                </div>
                <div class="yoti__instructions__check-grid__text">Your Passport has been added</div>
                <div></div>
                <div class="yoti__instructions__check-grid__or">OR</div>
                <div class="yoti__instructions__check-grid__icon__wrapper">
                    <img class="yoti__instructions__check-grid__icon" src="~/img/icons/green-tick.svg" />
                </div>
                <div class="yoti__instructions__check-grid__text">Your Driving Licence has been added</div>
            </div>
            <p>Then come back to this page - we'll be waiting for you!</p>
            @*<p>Just so that you have it to hand, we'll also send you an email with a link to this page</p>*@
        </div>
    </div>
</div>