<div class="yoti__download">
    <a href="https://itunes.apple.com/us/app/yoti/id983980808?ls=1&amp;mt=8" target="_blank">
        <img alt="iOS Store" src="https://www.yoti.com/wp-content/themes/yoti/assets/images/app-store-badge.svg" />
    </a>
    <div class="yoti__download__gap">

    </div>
    <a href="https://play.google.com/store/apps/details?id=com.yoti.mobile.android.live" target="_blank">
        <img alt="Google Play Store" src="https://www.yoti.com/wp-content/themes/yoti/assets/images/google-play-badge.svg" />
    </a>
</div>