# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master
- next-major-release
- dev

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1
  displayName: NuGet install

- task: NuGetCommand@2
  displayName: NuGet restore
  inputs:
    command: 'restore'
    restoreSolution: '$(solution)'
    feedsToUse: 'select'
    vstsFeed: 'e5c08e0c-1c28-42ca-815f-5ca90021fd46/9ff815b0-abc7-442a-98cb-d2879666c3bb'

- task: DotNetCoreCLI@2
  displayName: DotNetCore build
  inputs:
    command: 'build'
    projects: 'HelpMyStreetFE/HelpMyStreetFE/HelpMyStreetFE.csproj'

- task: DotNetCoreCLI@2
  displayName: DotNetCore test
  inputs:
    command: 'test'
    projects: 'HelpMyStreetFE\HelpMyStreetFE.UnitTests\HelpMyStreetFE.UnitTests.csproj'
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'

# Expect to remove this step once the new version of npm/node works
- task: NodeTool@0
  inputs:
    versionSpec: '14.18.1'
- task: Npm@1
  displayName: npm install
  inputs:
    command: 'install'
    workingDir: 'HelpMyStreetFE/HelpMyStreetFE/'

- task: Npm@1
  displayName: npm run build
  inputs:
    command: 'custom'
    workingDir: 'HelpMyStreetFE/HelpMyStreetFE/'
    customCommand: 'run build --production'

- task: DotNetCoreCLI@2
  displayName: DotNetCore publish
  inputs:
    command: publish
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: Publish Build Artefacts
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)' 
    artifactName: 'drop'
