@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreetFE.Models.Account.Jobs;

@model AcceptJobSeriesPopupViewModel;

<div class="popup__content wide">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        <div class="popup__content__header">Start Helping?</div>
        <div class="popup__content__text credentials-required">
            @if (Model.AnnotatedGroupActivityCredentialSets.AnnotatedCredentialSets.Where(s => !s.Any(c => c.UserHasCredential)).Count() == 1)
            {
                <p class="text-left">There's just one more thing you need to do before you can accept one of these requests.</p>
            }
            else
            {
                <p class="text-left">There's just a few more things you need to do before you can one of these requests. </p>
            }

            <p class="text-left">To complete one of these <strong>@Model.ReferringGroup</strong> requests for <strong>@Model.RequestSummary.JobBasics.First().GetSupportActivityName</strong> you need:</p>

            <partial name="_CredentialsRequired" model="Model.AnnotatedGroupActivityCredentialSets" />
        </div>
    </div>
</div>

