<ol class="yoti__auth__explanation__list__mobile">
    <li>
        Click the Blue "Open Yoti" button below.
        <ul>
            <li>A pop-up will ask for your consent to share your name and date of birth from your Yoti ID with HelpMyStreet</li>
        </ul>
    </li>

    <li>
        Click the Blue "Share Details" button. You will be taken to the Yoti app and please follow the instructions there.
        <ul>
            <li>In the Yoti app:</li>
            <li>You will be asked to click a blue ‘Send’ button to give your consent to share your name and date of birth from your Yoti ID with HelpMyStreet to verify your ID.</li>
            <li>You will be asked to enter your 5 digit Yoti passcode to confirm that it’s you using the app.</li>  
        </ul>
    </li>
    <li class="no__list__style">You're ready to go!</li>
</ol>