<ul class="yoti__auth__explanation__list">
    <li>Keep your Yoti app open in the background.</li>
    <li>Click the green button below.</li>
    <li>A pop-up will ask for your consent to share your name, address and age from your Yoti ID with HelpMyStreet</li>
    <li>Click "accept to proceed" in the Yoti app.</li>
    <li>You're ready to go!</li>
</ul>