<ul class="yoti__auth__explanation__list">
    <li>Keep your Yoti app open in the background.</li>
    <li>Click the green button below.</li>
    <li>Use your phone's camera to scan the QR code.</li>
    <li>In the Yoti app, a pop-up will ask for your consent to share your name, and date of birth from your Yoti ID with HelpMyStreet</li>
    <li>Click "accept to proceed" in the Yoti app.</li>
    <li>You're ready to go!</li>
</ul>