<ol class="yoti__auth__explanation__list">
    <li>
        Click the Blue "Open Yoti" button below to reveal a QR code
        <ul>
            <li>Open up the Yoti app (you will be asked to enter your 5-digit Yoti passcode to confirm that it’s you using the app)</li>
            <li>Tap “scan” to use your smartphone’s camera to scan the QR code</li>
            <li>Point your smartphone’s camera at the QR code</li>
        </ul>
    </li>
    <li>
        On the Yoti app, share your details with HelpMyStreet to verify your ID
        <ul>
            <li>Confirm that you recognise the website you came from (HelpMyStreet.org). Click the blue “Yes, continue” button</li>
            <li>Give your consent to share your name and date of birth from your Yoti ID with HelpMyStreet. Please click the Blue “Send” button.</li>
        </ul>
    </li>
    <li class="no__list__style">You're ready to go!</li>
</ol>