<div class="yoti__auth__loading yoti__auth__loading__desktop">
    <div class="middle">
        <img src="~/img/loading_spinner.svg" />
    </div>
    <div class="middle">
        <span>Verifying your ID…</span>
    </div>
</div>