@model AuthenticateViewModel;

@{
    ViewData["Title"] = "Authentication Failed";
        Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}

@section Scripts {
    <script>
        const initObj = { domId: '@Model.DomId', scenarioId: '@Model.ScenarioId', clientSdkId: '@Model.ClientSdkId' };
    </script>
    <script src="~/yoti.js" asp-append-version="true"></script>
}
<partial name="_LoadingMobile" />
<div class="container">
    <div class="yoti__auth__result sm8">
        <h2>Oops. Sorry, something didn’t work!</h2>
        <h2>Let’s get you back on track</h2>
        <div class="yoti__auth__result__content failed-content">
            <ul>
                <li>Please check the Yoti app has taken a clear picture of your details on your Passport or Driving Licence.</li>
                <li>Please check that your details taken from the documents in the Yoti app are correct.</li>
                <li>Please then try again by clicking on the blue "Open Yoti" button below</li>
            </ul>
            <p>Please then try again by clicking on the button below</p>
            <div class="yoti__auth__button" id="@Model.DomId"></div>
            <partial name="_LoadingDesktop" />
            <p>If you’ve checked everything and it still doesn’t work, we’re sorry that we can’t progress you to a verified profile today</p>
            <img class="yoti__auth__result__image" src="~/img/sad-face.svg">
        </div>
    </div>


</div>