@model AuthenticateViewModel;

@{
    ViewData["Title"] = "Authenticate";
        Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}

@section Scripts {
    <script>
        const initObj = { domId: '@Model.DomId', scenarioId: '@Model.ScenarioId', clientSdkId: '@Model.ClientSdkId' };
    </script>
    <script src="~/yoti.js" asp-append-version="true"></script>
}

<partial name="_LoadingMobile" />

<div class="container">
    <div class="yoti__auth sm8">
        <div class="yoti__auth__header">Complete Your ID Verification</div>
        <div class="yoti__auth__explanation">
            <div class="yoti__auth__explanation__heading">How it works?</div>
            <partial name="_InstructionsMobile" />
            <partial name="_InstructionsDesktop" />
        </div>
        <div class="yoti__auth__button" id="@Model.DomId"></div>




        <partial name="_LoadingDesktop" />
    </div>
</div>