@model AuthenticateViewModel;

@{
    ViewData["Title"] = "Authenticate";
}

@section Scripts {
    <script>
        const initObj = { domId: '@Model.DomId', scenarioId: '@Model.ScenarioId', clientSdkId: '@Model.ClientSdkId' };
    </script>
    <script src="~/yoti.js" asp-append-version="true"></script>
}

<div class="yoti__auth__loading yoti__auth__loading__mobile">
    <div class="middle">
        <img src="~/img/loading_spinner.svg" />
        <div>
            <span>Verifying your ID…</span>
        </div>
    </div>      
</div>

<div class="container">
    <div class="yoti__auth sm8">
        <div class="yoti__auth__header">Complete Your ID Verification</div>
        <div class="yoti__auth__explanation">
            <div class="yoti__auth__explanation__heading">How it works?</div>
            <partial name="_InstructionsMobile" />
            <partial name="_InstructionsDesktop" />
        </div>
        <div class="yoti__auth__button" id="@Model.DomId"></div>


        

        <div class="yoti__auth__loading yoti__auth__loading__desktop">
            <div class="middle">
                <img src="~/img/loading_spinner.svg" />
            </div>
            <div class="middle">
                <span>Verifying your ID…</span>
            </div>
        </div>
    </div>
</div>