

@section Scripts {
    <script src="~/auth.js" asp-append-version="true"></script>
}


<div id="overlay" style="display:block;"></div>
<div class="loading-overlay-mobile" style="display:block;">
    <div class="loading-overlay-mobile__spinner">
        <img src="~/img/loading_spinner.svg" />
        <div class="loading-overlay-mobile__spinner__text">
            <span>Verifying your ID…</span>
        </div>
    </div>
</div>
