@model int;

@{
    var Steps = new Dictionary<int, string>
{
        { 1, "Your account" },
        { 2, "Your details" },
        { 3, "Volunteering Details" },     
    };
}
<div class="row justify-center">
    <div class="stepper sm8">
        @foreach (var step in Steps)
        {
            <div class="stepper__step @(Model == step.Key ? "stepper__step--active": string.Empty)">
                <div class="stepper__step__number circle">
                    @step.Key
                </div>
                <div class="stepper__step__text">
                    @step.Value
                </div>
            </div>
            @if (step.Key != Steps.Count())
            {
                <hr class="stepper__link" />
            }
        }
    </div>
</div>