<div class="yoti__instructions">
    <div class="yoti__instructions__item">
        <div class="yoti__instructions__item__number">1</div>
        <div class="yoti__instructions__item__header">Download the free Yoti app on your smartphone</div>
        <div class="yoti__instructions__item__content">
            <p>It’s free to download and use.</p>
            <p>Visit the App Store for iOS or Google Play for Android.</p>
        </div>
    </div>
    <div class="yoti__instructions__item">
        <div class="yoti__instructions__item__number">2</div>
        <div class="yoti__instructions__item__header">Create a Yoti (your online ID)</div>
        <div class="yoti__instructions__item__content">
            <ul class="yoti__instructions__item__content__list">
                <li>Open the Yoti app on your smartphone.</li>
                <li>Tap the <strong>Create a Yoti</strong> button.</li>
                <li>Complete the registration process.</li>
                <li>For your own security, this will include using your smartphone’s camera to show your face, so that the app can confirm you are the person in your ID.</li>
            </ul>
        </div>
    </div>
    <div class="yoti__instructions__item">
        <div class="yoti__instructions__item__number">3</div>
        <div class="yoti__instructions__item__header">Download the free Yoti app on your smartphone</div>
        <div class="yoti__instructions__item__content">
            <ul class="yoti__instructions__item__content__list">
                <li>Tap <strong>ID documents</strong> from the homescreen on the Yoti app.</li>
                <li class="yoti__instructions__item__content__extra-info">
                    <div>Tap the <strong>Add ID document</strong> button.</div>
                    <div>Yoti accepts a Passport or Driving Licence as a form of ID.</div>
                </li>
                <li>Adding an ID document should take a couple of minutes. It may then take a further couple of minutes for the ID document to be confirmed.</li>
            </ul>
        </div>
    </div>
    <div class="yoti__instructions__item">
        <div class="yoti__instructions__item__number">4</div>
        <div class="yoti__instructions__item__header">Download the free Yoti app on your smartphone</div>
        <div class="yoti__instructions__item__content">
            <p>Once the Yoti app shows you:</p>
            <div class="yoti__instructions__check-grid">
                <div class="yoti__instructions__check-grid__icon__wrapper">
                    <img class="yoti__instructions__check-grid__icon" src="~/img/icons/green-tick.svg" />
                </div>
                <div class="yoti__instructions__check-grid__text">Your Passport has been added</div>
                <div></div>
                <div class="yoti__instructions__check-grid__or">OR</div>
                <div class="yoti__instructions__check-grid__icon__wrapper">
                    <img class="yoti__instructions__check-grid__icon" src="~/img/icons/green-tick.svg" />
                </div>
                <div class="yoti__instructions__check-grid__text">Your Driving Licence has been added</div>
            </div>
            <p>Then come back to this page - we'll be waiting for you!</p>
            <p>Just so that you have it to hand, we’ll also send you an email with a link to this page.</p>
        </div>
    </div>
</div>