@model RegistrationViewModel;

@section Scripts {
    <script src="~/registration.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Registration";

    var Steps = new Dictionary<int, string>
    {
        { 1, "Your account" },
        { 2, "Your details" },
        { 3, "Volunteers" },
        { 4, "Street Champions" },
        { 5, "Verification" }
    };
}

<div class="container">
    <div class="row justify-center">
        <div class="stepper sm8">
            @foreach (var step in Steps)
            {
                <div class="stepper__step @(Model.ActiveStep == step.Key ? "stepper__step--active": string.Empty)">
                    <div class="stepper__step__number">
                        @step.Key
                    </div>
                    <div class="stepper__step__text">
                        @step.Value
                    </div>
                </div>
                @if (step.Key != Steps.Count())
                {
                    <hr class="stepper__link" />
                }
            }
        </div>
    </div>
    <div class="row justify-center mt72">
        <div class="sm8">
            <h1>Sign up to help</h1>
        </div>
    </div>
    <div class="row justify-center">
        <div class="sm8">
            <form id="user_creation_form" action="#" method="post">
                <div class="input">
                    <label>Email address</label>
                    <input name="email" type="Email" placeholder="Enter your email address" required />
                    <span class="error"></span>
                </div>
                <div class="input">
                    <label>Password <span class="input__hint">(6 characters with a mix of letters and numbers)</span></label>
                    <input name="password" type="Password" placeholder="Password" required />
                    <span class="error"></span>
                </div>
                <div class="input">
                    <label>Confirm password</label>
                    <input name="confirm_password" type="Password" placeholder="Password" required />
                    <span class="error"></span>
                </div>
                <p>
                    The information you provide will be shared with Street Champions in your local area to help organise volunteers.
                    You can read more in out <a href="#">Privacy Notice</a>
                </p>
                <div class="input input--checkbox">
                    <label>
                        <input name="privacy_notice" type="checkbox" hidden required />
                        <span class="input--checkbox__checkbox">
                            <span class="mdi mdi-check"></span>
                        </span>
                        I acknowledge the Help My Street <a href="#">Privacy Notice</a>
                    </label>
                </div>
                <div class="input input--checkbox">
                    <label>
                        <input name="terms_and_conditions" type="checkbox" hidden required />
                        <span class="input--checkbox__checkbox">
                            <span class="mdi mdi-check"></span>
                        </span>
                        I addree to the Help My Street <a href="#">Terms and Conditions</a>
                    </label>
                </div>
                <div class="controls">
                    <button class="btn cta" id="postcode_button" type="submit">
                        <span class="text">Continue to next page &gt;</span>
                        <span class="loader">Creating account&hellip;</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>