.cookie-grid-container {
    overflow: auto;
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 1.5fr 2fr 2fr;
    grid-template-areas: "Type Cookie Provider Purpose Expiry" "Neccesary cAntiForgery ProviderName pAntiForgery eAntiForgery" "Neccesary cArrfinity ProviderName pArrfinity eArrfinity" "Neccesary cCookieControl ProviderName pCookieControl eCookieControl" "Neccesary cCookieControlPrefs ProviderName pCookieControlPrefs eCookieControlPrefs" "Neccesary cOptOutStats ProviderName pOptOutStats eOptOutStats" "Statistics c_ga tppGoogle tp_ga te_ga" "Statistics c_gat tppGoogle tp_gat te_gat" "Statistics c_gid tppGoogle tp_gid te_gid" "Statistics c_jSessionId tpp_NewRelic tp_jSessionId te_jSessionId" "Statistics c_nreum tpp_NewRelic tp_nreum te_nreum" "Statistics tc_hjid tpp_Hotjar tp_hjid te_hjid" "Statistics tc_hjRecordingLastActivity tpp_Hotjar tp_hjRecordingLastActivity te_hjRecordingLastActivity" "Statistics tc_hjTLDTest tpp_Hotjar PurposeSix te_hjTLDTest" "Statistics tc_hjIncludedInSample tpp_Hotjar tp_hjIncludedInSample te_hjIncludedInSample" "Statistics tc_hjRecordingEnabled tpp_Hotjar tp_hjRecordingEnabled te_hjRecordingEnabled";
    border-top: 1px solid black;
    border-left: 1px solid black;

    div {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3px;
    }




    .Type {
        grid-area: Type;
        font-weight: 600;
    }

    .Cookie {
        grid-area: Cookie;
        font-weight: 600;
    }

    .Provider {
        grid-area: Provider;
        font-weight: 600;
    }

    .Purpose {
        grid-area: Purpose;
        font-weight: 600;
    }

    .Expiry {
        grid-area: Expiry;
        font-weight: 600;
    }

    .Neccesary {
        grid-area: Neccesary;
    }

    .cAntiForgery {
        grid-area: cAntiForgery;
    }

    .ProviderName {
        grid-area: ProviderName;

        a {
            display: contents;
        }
    }

    .pAntiForgery {
        grid-area: pAntiForgery;
    }

    .pArrfinity {
        grid-area: pArrfinity;
    }

    .pCookieControl {
        grid-area: pCookieControl;
    }

    .pCookieControlPrefs {
        grid-area: pCookieControlPrefs;
    }

    eCookieControlPrefs {
        grid-area: eCookieControlPrefs;
    }

    .pOptOutStats {
        grid-area: pOptOutStats;
    }

    .eOptOutStats {
        grid-area: eOptOutStats;
    }

    eCookieControlPrefs {
        grid-area: eCookieControlPrefs;
    }


    .eAntiForgery {
        grid-area: eAntiForgery;
    }

    .eArrfinity {
        grid-area: eArrfinity;
    }

    .eCookieControl {
        grid-area: eCookieControl;
    }

    .cArrfinity {
        grid-area: cArrfinity;
    }

    .cCookieControl {
        grid-area: cCookieControl;
    }


    .cCookieControlPrefs {
        grid-area: cCookieControlPrefs;
    }

    .cOptOutStats {
        grid-area: cOptOutStats;
    }

    .Statistics {
        grid-area: Statistics;
    }

    .c_ga {
        grid-area: c_ga;
    }

    .c_jSessionId {
        grid-area: c_jSessionId;
    }

    .c_nreum {
        grid-area: c_nreum;
    }

    .ThirdPartyCookie2 {
        grid-area: ThirdPartyCookie2;
    }

    .ThirdParticyCookie3 {
        grid-area: ThirdParticyCookie3;
    }

    .tc_hjid {
        grid-area: tc_hjid;
    }

    .tc_hjRecordingLastActivity {
        grid-area: tc_hjRecordingLastActivity;
    }

    .ThirdParticyCookie6 {
        grid-area: ThirdParticyCookie6;
    }

    .tc_hjIncludedInSample {
        grid-area: tc_hjIncludedInSample;
    }

    .tc_hjRecordingEnabled {
        grid-area: tc_hjRecordingEnabled;
    }

    .tppGoogle {
        grid-area: tppGoogle;

        a {
            display: contents;
        }
    }

    .tpp_Hotjar {
        grid-area: tpp_Hotjar;

        a {
            display: contents;
        }
    }

    .tpp_NewRelic {
        grid-area: tpp_NewRelic;

        a {
            display: contents;
        }
    }

    .tp_ga {
        grid-area: tp_ga;
    }

    .tp_gat {
        grid-area: tp_gat;
    }

    .tp_gid {
        grid-area: tp_gid;
    }

    .tp_jSessionId {
        grid-area: tp_jSessionId;
    }

    .tp_nreum {
        grid-area: tp_nreum;
    }

    .tp_hjid {
        grid-area: tp_hjid;
    }

    .tp_hjRecordingLastActivity {
        grid-area: tp_hjRecordingLastActivity;
    }

    .tp_hjTLDTest {
        grid-area: PurposeSix;
    }

    .tp_hjIncludedInSample {
        grid-area: tp_hjIncludedInSample;
    }

    .tp_hjRecordingEnabled {
        grid-area: tp_hjRecordingEnabled;
    }

    .te_ga {
        grid-area: te_ga;
    }

    .te_gat {
        grid-area: te_gat;
    }

    .te_gid {
        grid-area: te_gid;
    }

    .te_jSessionId {
        grid-area: te_jSessionId;
    }

    .te_nreum {
        grid-area: te_nreum;
    }

    .te_hjid {
        grid-area: te_hjid;
    }

    .te_hjRecordingLastActivity {
        grid-area: te_hjRecordingLastActivity;
    }

    .te_hjTLDTest {
        grid-area: te_hjTLDTest;
    }

    .te_hjIncludedInSample {
        grid-area: te_hjIncludedInSample;
    }

    .te_hjRecordingEnabled {
        grid-area: te_hjRecordingEnabled;
    }
}
