.cookie-grid-container {
    overflow: auto;
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 1.5fr 2fr 2fr;
    grid-template-areas: "Type Cookie Provider Purpose Expiry" 
        "Neccesary cAntiForgery ProviderName pAntiForgery eAntiForgery" 
        "Neccesary cArrfinity ProviderName pArrfinity eArrfinity" 
        "Neccesary cConsent ConsentProviderName pConsent eConsent" 
        "Preferences cPreferences PreferencesProviderName pPreferences ePreferences" 
        "Marketing cMarketingOne MarketingProviderName pMarketingOne eMarketingOne" 
        "Marketing cMarketingTwo MarketingProviderName pMarketingTwo eMarketingTwo" 
        "Marketing cMarketingThree MarketingProviderName pMarketingThree eMarketingThree"
        "Marketing cMarketingFour MarketingProviderName pMarketingFour eMarketingFour"
        "Marketing cMarketingFive MarketingProviderName pMarketingFive eMarketingFive"
    ;
    border-top: 1px solid black;
    border-left: 1px solid black;

    div {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3px;
    }




    .Type {
        grid-area: Type;
        font-weight: 600;
    }

    .Cookie {
        grid-area: Cookie;
        font-weight: 600;
    }

    .Provider {
        grid-area: Provider;
        font-weight: 600;
    }

    .Purpose {
        grid-area: Purpose;
        font-weight: 600;
    }

    .Expiry {
        grid-area: Expiry;
        font-weight: 600;
    }

    .Neccesary {
        grid-area: Neccesary;
    }

    .Marketing {
        grid-area: Marketing;
    }

    .MarketingProviderName {
        grid-area: MarketingProviderName;
    }

    .cAntiForgery {
        grid-area: cAntiForgery;
    }

    .ProviderName {
        grid-area: ProviderName;

        a {
            display: contents;
        }
    }

    .ConsentProviderName {
        grid-area: ConsentProviderName;
    }


    .pAntiForgery {
        grid-area: pAntiForgery;
    }

    .pArrfinity {
        grid-area: pArrfinity;
    }

    .pCookieControl {
        grid-area: pCookieControl;
    }

    .pOptOutStats {
        grid-area: pOptOutStats;
    }

    .eOptOutStats {
        grid-area: eOptOutStats;
    }

    .eAntiForgery {
        grid-area: eAntiForgery;
    }

    .eArrfinity {
        grid-area: eArrfinity;
    }

    .eCookieControl {
        grid-area: eCookieControl;
    }

    .cArrfinity {
        grid-area: cArrfinity;
    }

    .cCookieControl {
        grid-area: cCookieControl;
    }

    .pMarketingOne {
        grid-area: pMarketingOne;
    }

    .pMarketingTwo {
        grid-area: pMarketingTwo;
    }

    .pMarketingThree {
        grid-area: pMarketingThree;
    }

    .pMarketingFour {
        grid-area: pMarketingFour;
    }

    .pMarketingFive {
        grid-area: pMarketingFive;
    }

    .eMarketingOne {
        grid-area: eMarketingOne;
    }

    .eMarketingTwo {
        grid-area: eMarketingTwo;
    }

    .eMarketingThree {
        grid-area: eMarketingThree;
    }

    .eMarketingFour {
        grid-area: eMarketingFour;
    }

    .eMarketingFive {
        grid-area: eMarketingFive;
    }

    .Preferences {
        grid-area: Preferences;
    }

    .cPreferences {
        grid-area: cPreferences;
    }

    .pPreferences {
        grid-area: pPreferences;
    }

    .PreferencesProviderName {
        grid-area: PreferencesProviderName;
    }

    .ePreferences {
        grid-area: ePreferences;
    }

    .cConsent {
        grid-area: cConsent;
    }

    .pConsent {
        grid-area: pConsent;
    }

    .eConsent {
        grid-area: eConsent;
    }
}
