@import "../colours.scss";
@import "../mixins/effects";

/* Provides background that prevents site from being interacted with while the cookie modal is displayed*/
#gdpr-cookie-message-outer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Cookie Dialog */
#gdpr-cookie-message {
    @include shadow-md;
    position: fixed;
    max-width: 500px;
    background-color: $light-blue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
    font-family: system-ui;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gdpr-cookie__button-container {
    display: flex;
    justify-content: center;
}

#gdpr-cookie-message h4 {
    color: $dark-blue;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

#gdpr-cookie-message h5 {
    color: $dark-blue;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: $dark-blue;
    font-size: 15px;
    line-height: 1.5em;
}

#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}

#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}

#gdpr-cookie-message a {
    color: $blue;
    text-decoration: underline;
    font-size: 15px;
    padding-bottom: 2px;
    
    transition: all 0.3s ease-in;
}

#gdpr-cookie-message a:hover {
    color: $dark-blue;    
    transition: all 0.3s ease-in;
}

#gdpr-cookie-message button,
button#ihavecookiesBtn {
    transition: all 0.3s ease-in;
}

#gdpr-cookie-message button:hover {
    opacity:1;
}

#gdpr-cookie-message button:disabled {
    opacity: 0.3;
}

#gdpr-cookie-message input[type="checkbox"] {
    float: none;
    margin-top: 0;
    margin-right: 5px;
}

#gdpr-cookie-message label {
    float: none;
    margin-top: 0;
    margin-right: 5px;
    font-size: 15px;
}
