

.community-marker {
  a, a:hover {
    text-decoration: none;

    img {
      display: block;
      width: 30vw;
      max-height: 10vw;
      object-fit: cover;
      object-position: 0 20%;

      @media screen and (max-width: $sm-screen) {
        width: 100vw;
        max-height: initial;
      }
    }

    .marker-title {
      background: $blue;
      padding: 8px 10px 10px 10px;

      h4 {
        margin: 0px;
        color: $white;
        font-size: 1.2rem;

        @media screen and (max-width: $sm-screen) {
          font-size: 0.8em;
        }
      }

      .marker-subtitle {
        @media screen and (max-width: $sm-screen) {
          display: none;
        }

        p {
          color: $white;
          text-align: left;

          span.visit-homepage {
            float: right;
            text-decoration: underline;
            color: $white;
            transition: color 0.5s;

            &:hover {
              color: $black;
              transition: color 0.1s;
            }
          }
        }
      }
    }
  }


  p {
    margin: 0px;
    text-align: right;
  }
}
