.animate-button {
    background-color: lawngreen;
    border: none;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 10px;

    &.animating {
        background-color: red;

    }
    &.reset {
        background-color: orange;
    }
}

.date-display {
    background-color: white;
    border-radius: 5px;
    opacity: 0.75;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.community-marker {
  a, a:hover {
    text-decoration: none;

    img {
      display: block;
      width: 30vw;
      min-width: 100%;
      max-height: 10vw;
      object-fit: cover;
      object-position: 0 20%;

      @media screen and (max-width: $sm-med-screen) {
        width: 100vw;
        max-height: initial;
      }
    }

    .marker-title {
      background: $blue;
      padding: 8px 10px 10px 10px;

      h4 {
        margin: 0px;
        color: $white;
        font-size: 1.2rem;

        @media screen and (max-width: $sm-med-screen) {
          font-size: 0.8em;
        }
      }

      .marker-subtitle {
        @media screen and (max-width: $sm-med-screen) {
          display: none;
        }

        p {
          color: $white;
          text-align: left;
          margin: 0px;

          span.visit-homepage {
            float: right;
            text-decoration: underline;
            color: $white;
            transition: color 0.5s;

            &:hover {
              color: $black;
              transition: color 0.1s;
            }
          }
        }
      }
    }
  }
}
