.community-marker {

    .marker-title {
        position: absolute;
        bottom: 10%;
        left: 3%;
        p {
            color: white;
            text-align: right;
        }
    }

    p {
        margin: 0px;
        text-align: right;
    }

    h4 {
        margin: 0px;
        color: white;

        @media screen and (max-width: $sm-screen) {
            font-size: 1em;
        }
    }

    a {
        font-size: 1em;
    }

    img {
        width: 24vw;

        @media screen and (max-width: $sm-screen){
            width: 100vw;
        }
    }
}
