@import "../mixins/typography/copy";
@import "../mixins/typography/titles";
@import "../mixins//effects";

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  top: 0;

  &__content {

    .btn--close {
      margin: 0 0 0 auto;
    }

    .error {
      font-weight: bold;
      color: red;
    }

    max-width: 90%;
    width: 35rem;
    background: white;
    z-index: 4;
    border: 8px solid $green;
    text-align: center;
    @include shadow-md;
    padding: 20px;

    &.wide {
      width: 65rem;
    }

    &.warning {
      border-color: $orange
    }

    &__wrapper {
      margin-bottom: 1.0rem;
    }

    &__header {
      color: $dark-blue;
      @include title-sz-3;
      margin: 1rem 0 2rem 0;
    }

    &__text {
      p {
        @include copy-sz-md;
        margin-bottom: 2rem;
      }

      > .loading-spinner {
        margin-bottom: 3rem;
      }
    }

    &__buttons {

      &__button {
        display: inline-block;
        margin: 0.5rem;

        @media screen and (max-width: $sm-med-screen) {
          display: block;

          .btn.wide.fill {
            min-width: auto;
            width: 100%;
          }
        }
      }
    }

    form {
      .input {

        @extend .mt-md;

        label {
          position: relative;
          top: initial;
          @extend .mb-sm;
        }

        .tiles {
          margin: 0;
        }

        input, textarea, .tiles__tile {
          background-color: $background-main;
        }

        .tiles__tile {
          border-color: $background-main;

          &.selected {
            border: 2px solid $light-orange;
            background: $light-orange-opaque;
          }
        }
      }
    }
  }


  &__backdrop {
    position: fixed;
    background: $popup-backdrop;
    width: 100%;
    height: 100%;
  }
}