@import "../mixins/typography/copy";
@import "../mixins/typography/titles";
@import "../mixins//effects";

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;

    &__content {
        position: inherit;
        top: 30%;
        left: 53%;
        transform: translate(-50%, -50%);
        min-width: 300px;
        width: 50%;
        background: white;
        z-index: 4;
        border: 8px solid $green;
        text-align: center;
        @include shadow-md;
        padding: 20px;

        &__header {
            color: $dark-blue;
            @include title-sz-3;
            margin: 1rem 0 2rem 0;
        }

        &__text {
            p {
                @include copy-sz-md;
                margin-bottom: 2rem;
            }
        }

        &__buttons {
            &__button {
                margin-bottom: 1.5rem;
            }
        }
    }


    &__backdrop {
        background: $popup-backdrop;
        width: 100%;
        height: 100%;
    }
}