.tab {
    @media screen and (min-width: $med-screen) {
        display: none;
    }


}

.tabcontent {
    @media screen and (max-width: $sm-screen) {
        text-align: center;
    }

    .tab-content-title {
        @media screen and (max-width: $sm-screen) {
            font-size: 1rem;
            display: none;
        }
    }

    h2 {
        font-size: 1.5rem;
    }
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 8px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.tabs {
    .inactive {
        @media screen and (max-width: $sm-screen) {
            display: none;
        }


    }
}