/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #eee;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
    display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 0.5rem;

  p {
    margin: 0;
    font-size: 1.5rem;
  }

  &:nth-child(even) {
    background: yellow;
  }

  &:nth-child(odd) {
    background: green;
  }
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
    0% {
        transform: translate3d(100%, 0, 0);
    }

  100% {
    transform: translate3d(calc(-100% * var(--numberOfMessages)), 0, 0);
  }
}

.hmove {
  animation: tickerh linear calc(5s * var(--numberOfMessages)) infinite;
}

.hmove:hover {
    animation-play-state: paused;
}
