/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #eee;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
    height: 3rem;
    padding: 0.5rem 0;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  position: absolute;
  width: 100%;
  text-align: center;

  p {
    margin: 0;
    font-size: 1.5rem;
    white-space: nowrap;
  }
}
