.slider {
    width: 100%;

    .slides {
        margin: 0 auto;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        text-align: center;


        > div {
            margin: 0 10px;
            padding: 15px;
            flex-shrink: 0;
            max-width: 300px;

            &:first-child {
                margin-left: auto;
            }

            &:last-child {
                margin-right: auto;
            }

            .slide {
                border-radius: 4px;
                object-fit: cover;
                background: white;
                width: 270px;
                height: 300px;
                box-shadow: 2px 3px 13px 5px rgba(0,0,0,0.1);

                &.logo {
                    object-fit: contain;
                    padding: 1rem;
                }

                &.small {
                    width: 200px;
                    height: 100px;
                }
            }
        }
    }
}

.slides::-webkit-scrollbar {
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #13161459;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}




@media screen and (max-width: $sm-screen) {
    .slides {
        scroll-snap-type: x mandatory;

        > div {
            scroll-snap-align: center;
        }
    }
}

