.news-ticker {
  overflow: hidden;
  background: #eee;

  &__inner {
    height: 3rem;
    padding: 0.5rem 0;
  }

  &__item {
    position: absolute;
    min-width: 100%;
    display: flex;
    justify-content: center;

    p {
      margin: 0 1rem;
      font-size: 1.2rem;
      white-space: nowrap;

      @media screen and (min-width: $sm-med-screen) {
        font-size: 1.5rem;
      }
    }

    &.dark-blue strong {
      color: $dark-blue;
    }

    &.blue strong {
      color: $blue;
    }

    &.light-purple strong {
      color: $light-purple;
    }


    img {
      max-height: 2rem;
    }
  }
}
