@import "../../mixins/effects";

.community {
    li {
        font-size: 16px;
    }

    .community-banner {
        max-height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        img {
            width: 100%;
        }

        &.crop-when-oversize {
            display: block;

            img {
                width: 1248px;
                max-width: initial;
            }
        }
    }

    .north-muskham-banner {
        img {
            max-height: 12rem;
            margin-bottom: 1rem;

            @media screen and (min-width: $med-screen) {
                margin-bottom: 0;
            }
        }

        .right-column {
            align-content: center;

            h2 {
                color: $black;

                &.proud {
                    font-weight: normal;
                    margin-top: 0.75rem;
                    margin-bottom: 2rem;
                    font-size: 1.4rem;
                }
            }

            p {
                &.partnership {
                    color: $gray-8;
                    width: 100%;
                    text-align: right;
                    margin: 0;
                }
            }
        }
    }

    .southwell-banner {
        background-color: #ff4b4f;

        img {
            max-width: 12rem;
            margin: 2rem;
        }

        .right-column {
            align-self: center;
            justify-content: center;

            h2 {
                color: white;
                font-size: 2.2rem;
                padding: 1rem;
                text-align: center;
            }
        }
    }


    .btn {
        &.disabled {
            background: $gray-8;

            &.btn--sign-up {
                pointer-events: none;
                cursor: default;
            }

            &.prevent-submit {
                pointer-events: none;
                cursor: default;
            }
        }
    }

    .commmunity-map-container {
        height: 100%;
        min-height: 400px;
    }

    .community-volunteers-container {
        display: flex;
        justify-content: center;
        overflow: hidden;

        .volunteer {
            margin: 15px;

            .volunteer-image {
                display: flex;
                justify-content: center;
                overflow: hidden;
            }

            .volunteer-text {
                text-align: center;
            }
        }
    }

    .yt-video-placeholder {
        cursor: pointer;
    }

    .help-examples {
        .card {
            min-height: 260px;
        }
    }


    .gfm-embed {
        max-width: 480px;
        margin: 0 auto;
    }

    .mw1000 {
        max-width: 1000px;
    }

    .vaccination-banner {
        @include border-red-yellow;

        &__inner {
            background: yellow;
            text-align: center;
            color: $black;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    .flag-panel-container {

        .flag-panel-toggle {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                margin-right: 1.5rem;
            }

            img {
                width: 5rem;
                border-radius: 5px;
            }
        }

        .flag-panel {
            display: none;

            .flag-panel-inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .flag-container {
                    margin: 0.5rem 0.25rem;

                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: $black;

                        &:hover {
                            color: $green;
                            transition: color 0.1s;

                            img {
                                border-color: $green;
                            }
                        }
                    }

                    img {
                        width: 8rem;
                        height: 4.5rem;
                        border-radius: 10px;
                        border: 2px solid $background-main;
                        transition: border-color 0.1s;
                    }

                    &.selected {
                        img {
                            border-color: $green;
                        }

                        a {
                            color: $green;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: $med-screen) {
            padding-left: 2rem;
            padding-right: 2rem;

            .flag-panel-toggle {
                display: none;
            }

            .flag-panel {
                display: block;

                .flag-panel-inner {
                    justify-content: space-around;
                    flex-wrap: nowrap;
                }
            }
        }
    }
}