@import "../../mixins/effects";

.community-banner {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
    }
}


.btn {
    &.disabled {
        background: $gray-8;
        &.btn--sign-up { 
            pointer-events: none;
            cursor: default;
        }
    }
}

.commmunity-map-container {
    height: 100%;
    min-height: 400px;
}

.community-volunteers-container {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .volunteer {        
        margin: 15px;

        .volunteer-image {
            display: flex;
            justify-content: center;
            overflow: hidden;

            img {
                max-height: 200px;
            }
        }

        .volunteer-text {
            text-align: center;
        }
    }
}

.community-volunteers-text {
    overflow: hidden;
}

.community-useful-links {

}


.outer-container--padding {
    padding: 2rem 0 2rem 0;
}


.card {
    &.min-height {
        min-height: 280px;
    }
}

.help-examples{
    .card{
        min-height:260px;
    }
}

.mask-of-the-week {
    background: $white;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    @include shadow-md;
    .img {
        
        margin: 10px auto;
        width: 95%;
        text-align:center;
        img{
            width:95%;
        }
        
    }

    .header {
        font-size:1.2rem;
        text-align: center;
        font-weight:600;
    }

    .text {
        text-align:left;
    }
}

.gfm-embed {
    max-width: 480px;
    margin: 0 auto;
}

.mw1000 {
    max-width: 1000px;
}