.group-logo {
    img {
        display: block;
        max-height: 2.5rem;
        margin: 0.25rem;

        @media (min-width: $med-screen) {
            max-width: 10rem;
            max-height: 8rem;
        }
    }

    .composite-logo {
        display: flex;
        align-items: center;

        img {
            max-width: 2.5rem;
            margin: 0.5rem 0.5rem 0 0.5rem;
        }

        span {
            font-family: 'Raleway', sans-serif;
            line-height: 1.1;
            color: black;
        }
    }
}

.card-partner {
  .group-logo {
    img {
      max-height: initial;

      @media (min-width: $med-screen) {
        max-width: 100%;
      }
    }

    .composite-logo {
      img {
        max-width: 2.5rem;
      }
    }
  }
}