@using HelpMyStreetFE.Models.Feedback
@using HelpMyStreet.Utils.Enums;


@model FeedbackCaptureEditModel




<form class="feedback-capture" method="post">
    @Html.AntiForgeryToken()

    <h2 class="text-center mt-xl">Tell us how it went?</h2>

    <partial name="_FeedbackCaptureForm" model="Model" />

</form>