@model HelpMyStreetFE.Models.Awards.AwardsViewModel;
@using HelpMyStreetFE.Models.Awards;


    @if (Model.Award != null)
    {
        <div class="award">
            <img src="@Model.Award.ImageLocation"/>
            <div>
                <h3>@Model.Award.AwardName</h3>
                <p>@Html.Raw(Model.Award.AwardDescription)</p>
            </div>
        </div>

        <script>var nextAwardLevel = @Model.NextAwardLevel</script>
    }

