@model HelpMyStreetFE.Models.Account.AccountViewModel;
@using HelpMyStreetFE.Enums.Account;
@using HelpMyStreet.Utils.Enums;

<nav class="account__nav">
    <ul class="account__nav__list m-0 p-0">
        <li class="account__nav__item">
            @await Component.InvokeAsync("OpenRequestsNav",  new CountNavViewModel { CurrentPage = Model.CurrentPage })
        </li>

        <li class="account__nav__item">
            @await Component.InvokeAsync("AcceptedRequestsNav", new CountNavViewModel { CurrentPage = Model.CurrentPage })
        </li>
        @if (Model.UserDetails.IsStreetChampion && Model.UserDetails.IsVerified)
        {
            <li class="account__nav__item">
                <a href="/account/streets" class="@(Model.CurrentPage == MenuPage.MyStreets ? "selected" : string.Empty)">My Streets</a>
            </li>
        }
        <li class="account__nav__item">
            <a href="/account/profile" class="@(Model.CurrentPage == MenuPage.UserDetails ? "selected" : string.Empty)">My Profile</a>
        </li>
        @foreach(var userGroup in Model.UserGroups)
        {
            @if (userGroup.UserRoles.Contains(GroupRoles.TaskAdmin) || userGroup.UserRoles.Contains(GroupRoles.UserAdmin))
            {
                <li class="account__nav__item submenu__container">
                    <a href=@($"/account/g/{userGroup.GroupKey}")>@userGroup.GroupName</a>
                    <ul>
                        @if (userGroup.UserRoles.Contains(GroupRoles.TaskAdmin))
                        {
                            <li class="account__nav__item">
                                <a href=@($"/account/g/{userGroup.GroupKey}/requests")>Requests</a>
                            </li>
                        }
                        @if (userGroup.UserRoles.Contains(GroupRoles.UserAdmin))
                        {
                            <li class="account__nav__item">
                                <a href=@($"/account/g/{userGroup.GroupKey}/volunteers")>Volunteers</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }

    </ul>
</nav>
