<article class="contact-form">
  <form id="contact-form" method="post">

    <div class="row">
      <div class="input">        
          <label>Your name</label>
          <input name="name" type="text" placeholder="e.g. John" />
          <span class="error"></span>
      </div>
      <div class="input">        
          <label>Your email address</label>
          <input name="name" type="email" placeholder="Email address" />
          <span class="error"></span>
      </div>
    </div>

    <div class="row">
      <div class="input">        
          <label>Your mobile number</label>
          <input name="name" type="tel" placeholder="Phone number" />
          <span class="error"></span>
      </div>
      <div class="input">        
          <label>Other telephone number</label>
          <input name="name" type="email" placeholder="" />
          <span class="error"></span>
      </div>
    </div>
    
    <div class="row">
      <div class="input">        
          <label>Your organisation (if applicable)</label>
          <input name="name" type="text" placeholder="Organisation name" />
          <span class="error"></span>
      </div>
      <div class="input">        
          <label>Your role (if applicable)</label>
          <input name="name" type="text" placeholder="Your role" />
          <span class="error"></span>
      </div>
    </div>

    <div class="row">
      <div class="input">        
          <label>How can we help?</label>
          <input name="name" type="text" placeholder="How can we help?" />
          <span class="error"></span>
      </div>
    </div>
    
    <div class="row">
      <button type="submit" class="btn cta btn--submit">Send</button>
    </div>
  </form>
</article>