<div id="cookie-consent">
    <h3>This website uses cookies</h3>
    <div class="cookie-text">
        We use cookies to help make our website usable and to understand how visitors interact with us. More information can be found in our <a href="@Url.Action("PrivacyPolicy", "Pages")" target="_blank">Privacy Policy</a> <br />
        You can change or withdraw your consent at any time by changing your browser settings.
    </div>
    <div class="cookie-button">
        <a class="btn cta btn--consent" id="cookie_close" href="">I Understand</a>
    </div>
</div>
