<div class="filter">
  <header class="filter__header">
    <button class="btn btn__filter-toggle btn__toggle-show" data-target-item="filters-a">Filters</button>
  </header>
  <div class="filter__list-wrapper" id="filters-a">
    <button class="btn--close btn__filter-toggle btn__toggle-show" data-target-item="filters-a">
        <svg xmlns="" viewBox="0 0 100 100" class="icon--close" width="32" height="32">
            <circle cx="50" cy="50" r="50" class="bg" />
            <path d="M30,30 L70,70 M30,70 L70,30" class="cross" stroke-linecap="round" />
        </svg>
    </button>    
    <div class="filter__list">

      <div class="filter__list__category group--filters-a" id="list-a">
        <button class="btn blue filter__list__toggle btn__toggle-show toggle--exclusive" data-target-item="list-a" data-target-group="group--filters-a">Group heading</button>
        <div class="form-group__wrapper">
          <div class="form-group">
            <input id="item-a" type="checkbox">
            <label for="item-a">Item Aa</label>
          </div>

          <div class="form-group">
            <input id="item-b" type="checkbox">
            <label for="item-b">Item Bbb bbaa</label>
          </div>

          <div class="form-group">
            <input id="item-c" type="checkbox">
            <label for="item-c">Item Ccc cccc cc</label>
          </div>
          <div class="form-group">
            <input id="item-d" type="checkbox">
            <label for="item-d">Item D</label>
          </div>
          <div class="form-group">
            <input id="item-e" type="checkbox">
            <label for="item-e">Item Eee</label>
          </div>

          <button class="btn small btn--apply-filter" data-target-filter="list-a">Apply</button>
        </div>
      </div>

      <div class="filter__list__category group--filters-a" id="list-b">
        <button class="btn filter__list__toggle btn__toggle-show toggle--exclusive" data-target-item="list-b" data-target-group="group--filters-a">Group heading</button>
        <div class="form-group__wrapper">
          <div class="form-group">
            <input id="item-1" type="checkbox">
            <label for="item-1">Item Af</label>
          </div>

          <div class="form-group">
            <input id="item-2" type="checkbox">
            <label for="item-2">It</label>
          </div>

          <div class="form-group">
            <input id="item-3" type="checkbox">
            <label for="item-3">Iteaf f am C</label>
          </div>
          
          <button class="btn small btn--apply-filter" data-target-filter="list-b">Apply</button>
        </div>
      </div>

      <div class="filter__list__category group--filters-a" id="list-c">
        <button class="btn filter__list__toggle btn__toggle-show toggle--exclusive" data-target-item="list-c" data-target-group="group--filters-a">Group heading</button>
        <div class="form-group__wrapper">
          <div class="form-group">
            <input id="item-zz" type="checkbox">
            <label for="item-zz">Item</label>
          </div>

          <div class="form-group">
            <input id="item-yy" type="checkbox">
            <label for="item-yy">Item Bewr</label>
          </div>

          <div class="form-group">
            <input id="item-xx" type="checkbox">
            <label for="item-xx">Item Ceea as</label>
          </div>
          
          <button class="btn small btn--apply-filter" data-target-filter="list-c">Apply</button>
        </div>
      </div>

      <div class="filter__list__category group--filters-a" id="list-d">
        <button class="btn filter__list__toggle btn__toggle-show toggle--exclusive" data-target-item="list-d" data-target-group="group--filters-a">Group heading</button>
        <div class="form-group__wrapper">
          <div class="form-group">
            <input id="item-11" type="checkbox">
            <label for="item-11">Item Aa311</label>
          </div>

          <div class="form-group">
            <input id="item-22" type="checkbox">
            <label for="item-22">Item Bs22222</label>
          </div>

          <div class="form-group">
            <input id="item-33" type="checkbox">
            <label for="item-33">Item 33333 33</label>
          </div>
          
          <button class="btn small btn--apply-filter" data-target-filter="list-d">Apply</button>
        </div>
      </div>

    </div>
  </div>
</div>