@using HelpMyStreet.Utils.Enums;

@model HelpMyStreetFE.Models.Community.GroupLogoViewModel

    <div class="group-logo">
        @switch (Model.GroupId)
        {
            case (int)Groups.Generic:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>HelpMyStreet.org</span>
                </span>
                break;
            case (int)Groups.AgeUKWirral:
                <img src="~/img/community/ageUK/wirral/AgeUKWirral-logo.png" alt="AgeUK Wirral" />
                break;
            case (int)Groups.Ruddington:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>Ruddington</span>
                </span>
                break;            
            case (int)Groups.Sandbox:
                <img src="~/img/logos/sandbox.svg" alt="HMS Sandbox" />
                break;
            case (int)Groups.Southwell:
                <img src="~/img/community/southwell/logo.png" alt="Southwell" />
                break;            
        }
    </div>
