@using Westwind.AspNetCore.Markdown

@model HelpMyStreet.Utils.Models.Instructions

@if (!string.IsNullOrEmpty(Model.Intro))
{
    <p>@Model.Intro</p>
}

@if (Model.Steps.Count > 0)
{
    <ol>
        @foreach (var step in Model.Steps)
        {
            <li>
                <div class="step-heading">@step.Heading</div>
                @Markdown.ParseHtmlString(step.Detail)
            </li>
        }

    </ol>
}

@if (!string.IsNullOrEmpty(Model.Close))
{
    <p>@Model.Close</p>
}
