@using HelpMyStreet.Utils.Enums;

@model HelpMyStreetFE.Models.Community.GroupLogoViewModel

    <div class="group-logo">
        @switch (Model.GroupId)
        {
            case (int)Groups.Generic:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>HelpMyStreet.org</span>
                </span>
                break;
            case (int)Groups.AgeUKWirral:
                <img src="~/img/community/ageUK/wirral/AgeUKWirral-logo.png" alt="AgeUK Wirral" />
                break;
            case (int)Groups.AgeUKLSL:
                <img src="~/img/community/ageUK/lsl/AgeUKLSL_logo_300px.png" alt="AgeUK Lincoln & South Lincolnshire" />
                break;
            case (int)Groups.Ruddington:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>Ruddington</span>
                </span>
                break;
            case (int)Groups.Tankersley:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>Tankersley</span>
                </span>
                break;
            case (int)Groups.AgeUKNottsNorthMuskham:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>North Muskham</span>
                </span>
                break;
            case (int)Groups.AgeUKNottsBalderton:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>Balderton</span>
                </span>
                break;
            case (int)Groups.AgeUKFavershamAndSittingbourne:
                <img src="~/img/community/ageUK/kent/favershamandsittingbourne/logo.png" alt="Age UK Faversham & Sittingbourne" />
                break;
            case (int)Groups.AgeUKNorthWestKent:
                <img src="~/img/community/ageUK/kent/northwest/logo.png" alt="Age UK Northwest Kent" />
                break;
            case (int)Groups.AgeUKSouthKentCoast:
                <img src="~/img/community/ageUK/kent/southkentcoast/logo.png" alt="Age UK South Kent Coast" />
                break;
            case (int)Groups.LincolnPCN:
                <img src="~/img/community/vacc/lincolnshirevolunteers/APEX-PCN.png" alt="APEX" />
                break;
            case (int)Groups.StamfordPCN:
                <img src="~/img/community/vacc/lincolnshirevolunteers/four-counties-logo.png" alt="Four Counties PCN" />
                break;
            case (int)Groups.LincolnshireVCS:
                <img src="~/img/community/lincolnshirevolunteers/cropped-vcs-logo-new-site.png" alt="VCS" />
                break;
            case (int)Groups.LincolnshireLCVS:
                <img src="~/img/community/lincolnshirevolunteers/Lincolnshire-Community-Voluntary-Service-main-logo.png" alt="LCVS" />
                break;
            case (int)Groups.EastLindseyPCN:
                <img src="~/img/community/vacc/lincolnshirevolunteers/east-lindsey-PCN.png" alt="East Lindsey PCN" />
                    break;
                case (int)Groups.LincolnPortlandPCN:
                case (int)Groups.LincolnshireVolunteers:
                case (int)Groups.SouthLincolnPCN:
                case (int)Groups.SpilsbyPCN:
                case (int)Groups.GranthamPCN:
                case (int)Groups.BostonPCN:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>Lincs Volunteers</span>
                </span>
                break;
            case (int)Groups.MansfieldCVS:
                <img src="~/img/community/vacc/mansfield-cvs/MansfieldCVS.jpg" alt="Mansfield CVS" />

                break;
            case (int)Groups.MansfieldWickes:
            case (int)Groups.GamstonCommunityHall:
            case (int)Groups.RichardHerrodCentre:
            case (int)Groups.KingsMeadowCampus:
            case (int)Groups.ForestRecreationGround:
                <img src="~/img/community/vacc/mansfield-cvs/nottinghamshire-vaccine-volunteers.jpg" alt="Nottinghamshire Vaccine Volunteers" />
                break;
            case (int)Groups.Sandbox:
                <img src="~/img/logos/sandbox.svg" alt="HMS Sandbox" />
                break;
            case (int)Groups.AgeConnectsCardiff:
                <img src="~/img/community/ageconnectscardiff/logo.png" alt="Age Connects Cardiff & the Vale" />
                break;
            case (int)Groups.MeadowsCommunityHelpers:
                <span class="composite-logo">
                    <img src="~/img/logos/HelpMyStreet_BrandMarque_Transparent.svg" alt="HelpMyStreet" />
                    <span>Meadows</span>
                </span>
                break;
            case (int)Groups.Southwell:
                <img src="~/img/community/southwell/logo.png" alt="Southwell" />
                break;
            case (int)Groups.ApexBankStaff:
                <img src="~/img/community/vacc/apex-pcn-bank-staff/APEX-Bank-Staff.png" alt="Apex PCN Bank Staff" />
                break;
            case (int)Groups.AgeUKMidMersey:
                <img src="~/img/community/ageUK/midmersey/logo.png" alt="Age UK Mid Mersey" />
                break;
            case (int)Groups.BostonGNS:
                <img src="~/img/community/bostongns/GNS.png" alt="Boston GNS" />
                break;
            case (int)Groups.NHSVRDemo:
                <img src="~/img/community/nhs/NHSVR Demo.png" alt="NHS Volunteer Responders Demonstration Group" />
                break;
            case (int)Groups.NottinghamshireCountyCouncil:
                <img src="~/img/community/nhs/Notts_CC.png" alt="Nottinghamshire County Council" />
                break;
            case (int)Groups.NottinghamshireIntegratedCareBoard:
                <img src="~/img/community/nhs/NN_ICB.png" alt="NHS Nottingham and Nottinghamshire" />
                break;
        }
    </div>
