<div class="row justify-center text-center help">
    <div class="sm12 mb-lg">
        <h2>Getting the right help to the right people&hellip;</h2>
    </div>
    <div class="sm4">
        <div class="card pt32">
            <img src="~/img/people-icon--orange.svg" alt="human icon" width="86" />
            <h6 class="mb0">Collect prescription for 73 year old grandmother</h6>
        </div>
    </div>
    <div class="sm4">
        <div class="card pt32 large-screen-only">
            <img src="~/img/people-icon--blue.svg" alt="human icon" width="86" />
            <h6 class="mb0">Grocery shopping for a pregnant young mum</h6>
        </div>
    </div>
    <div class="sm4">
        <div class="card pt32 large-screen-only">
            <img src="~/img/people-icon--orange.svg" alt="human icon" width="86" />
            <h6 class="mb0">Post items for an 88 year old grandad</h6>
        </div>
    </div>
</div>