@model HelpMyStreetFE.Models.HelpExampleCardsViewModel;

<div class="row justify-center text-center help help-examples">
    <div class="sm12 mb-lg">
        <h2>Getting the right help to the right people&hellip;</h2>
    </div>
    <div class="sm4 pad-sm">
        <div class="card pt32">
            <img src="~/img/people-icon--orange.svg" alt="human icon" width="86" />
            <h6 class="mb0">@(Model.Example1 ?? "Collect prescription for 73 year old grandmother")</h6>
        </div>
    </div>
    <div class="sm4 pad-sm">
        <div class="card pt32 large-screen-only">
            <img src="~/img/people-icon--blue.svg" alt="human icon" width="86" />
            <h6 class="mb0">@(Model.Example2 ?? "Grocery shopping for a pregnant young mum")</h6>
        </div>
    </div>
    <div class="sm4 pad-sm">
        <div class="card pt32 large-screen-only">
            <img src="~/img/people-icon--orange.svg" alt="human icon" width="86" />
            <h6 class="mb0">@(Model.Example3 ?? "Post items for an 88 year old grandad")</h6>
        </div>
    </div>
</div>