
    <script src="~/helpertabs.js" asp-append-version="true"></script>
<div class="tabs row">
    <div class="tab text-center">
        <h4>Getting started is easy</h4>
        <button id ="sign-up-helper" class="tablinks active">Want to help</button>
        <button id ="request-help-helper" class="tablinks">Requesting help</button>
    </div>
    <div id="sign-up-helper-content" class="sm6 tabcontent active flex flex-column">
        <h2 class="tab-content-title green">How to volunteer with HelpMyStreet</h2>
        <p class="tab-content-p1">
            Help as much or as little as you like with our easy to use platform. We show you where help is needed near you so you can help in a way that’s right for you.
        </p>
        <div class="row">
        <div class="sm1"><span class="fab circle">1</span></div>
        <div class="sm9 pad-md">
            <p class="h4">
                Register with us
            </p>
            <p>
                Sign up or log in using the green button below.
            </p>
        </div>
        </div>
        <div class="row">
            <div class="sm1"><span class="fab circle">2</span></div>
            <div class="sm9 pad-md">
                <p class="h4">
                    Verify your ID
                </p>
                <p>
                    Verifying your ID is quick and easy and lets us know you’re a real person! All you need is valid photo ID and a mobile device.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="sm1"><span class="fab circle">3</span></div>
            <div class="sm9 pad-md">
                <p class="h4">
                    Find and accept requests for help
                </p>
                <p>
                    Browse open requests in your profile and accept the ones you can help with.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="sm1"><span class="fab circle">4</span></div>
            <div class="sm9 pad-md">
                <p class="h4">
                    Help those in need
                </p>
                <p>
                    Get in touch and let them know when you’ll be there to help!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="sm1"><span class="fab circle">5</span></div>
            <div class="sm9 pad-md">
                <p class="h4">
                    Come back for more!
                </p>
                <p>
                    Don’t forget to keep checking back for new requests near you!
                </p>
            </div>
        </div>
        <p>Find out more by checking out our <a href="/questions">FAQs</a></p>
        <div class="text-center">
            @if (Model != null && Model)
            {
                <a href="/account" class="btn cta large fill mt16 btn--sign-up">View Open Requests</a>
            }
            else
            {
                <a href="/login" class="btn cta large fill mt16 btn--sign-up">Sign Up or Log In</a>
            }
        </div>
    </div>
    <div id="request-help-helper-content" class="sm6 tabcontent inactive flex flex-column">
        <h2 class="tab-content-title orange">How to request help</h2>
        <p class="tab-content-p1">
            We protect your privacy by only sharing your details with the people who need them, when they need them.
        </p>
        <div class="row">
            <div class="sm1"><span class="fab circle">1</span></div>
            <div class="sm9 pad-md">
                <p class="h4">
                    Tell us what you need
                </p>
                <p>
                    Request help using the orange button below - you can request help for yourself, or for someone else like a loved one at the other end of the country.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="sm1"><span class="fab circle">2</span></div>
            <div class="sm9 pad-md">
                <p class="h4">
                    Wait for a volunteer to get in touch
                </p>
                <p>
                    As soon as a volunteer accepts your request we’ll let you know!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="sm1"><span class="fab circle">3</span></div>
            <div class="sm9 pad-md">
                <p class="h4">
                    Receive the help you need
                </p>
                <p>
                    Volunteers offer their time and skills for free, but if your volunteer incurs any costs you need to pay back (like the cost of your groceries for example) they’ll let you know how you can pay them back.
                </p>
            </div>
        </div>
        <p>Find out more by checking out our <a href="/questions">FAQs</a></p>
        <div class="text-center">
            <a href="/request-help" class="btn cta large fill mt16 btn--request-help cta--orange">Request Help</a>
        </div>
    </div>
</div>