<div class="info-popup">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="info-popup__icon">
    <circle cx="50" cy="50" r="50" fill="#e8f4fb" />
    <text class="info-popup__label" x="50" y="72">i</text>
  </svg>
  <aside class="info-popup__body p-sm">Here is some inline content as requested</aside>
</div>