<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpMyStreetFE</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="sm6">
                    HelpMyStreet.org
                    <p>
                        Help My Street is a not-for-profit Community Interest Company, 
                        registered in England and Wales, Company Number 12534175. 
                        Help My Street CIC is registered with the Information Commissioner’s Office.
                    </p>
                </div>
                <div class="sm2">&nbsp;</div>
                <div class="sm4">
                    Brought to you by
                </div>
            </div>
            <div class="row">
                <div class="sm12">
                    <p><span class="black bold">&copy; HelpMyStreet CIC. All Right Reserved.</span> Privacy Policy</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>