<!DOCTYPE html>
<html lang="en" class="no-fouc">
<head>
    <style>
        .no-fouc {
            display: none;
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>@ViewData["Title"] - Help My Street</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link  defer href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css" rel="stylesheet" />
    <script defer src="https://www.yoti.com/share/client/"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">

    <meta property="og:title" content="@ViewData["Title"] - Help My Street" />
    <meta property="og:type" content="website" />
    @*<meta property="og:url" content="https://www.helpmystreet.org/" />*@
    <meta property="og:image" content="https://www.helpmystreet.org/img/logos/HelpMyStreet_BrandMarque.jpg" />
    <meta property="og:site_name" content="Help My Street" />
    <meta property="og:video" content="https://youtu.be/BD--FjbDKp8" />

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBCLBXV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div id="overlay"></div>
    <!-- End Google Tag Manager (noscript) -->
    @await Component.InvokeAsync("SiteHeader")
    <partial name="_Popup" />
    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="sm6">
                    <img class="logo" src="~/img/logos/HelpMyStreet_logo.svg" alt="Help My Street Logo" />
                    <p>
                        Help My Street is a not-for-profit Community Interest Company,
                        registered in England and Wales, Company Number 12534175.
                        Help My Street CIC is registered with the Information Commissioner’s Office.
                    </p>
                </div>
                <div class="sm5">&nbsp;</div>
                <div class="sm1">
                    <div class="partner-logos">
                        <ul class="text-center">
                            <li>
                                <a href="https://factor-50.co.uk">
                                    <img src="~/img/logos/Factor50_logo.png" alt="Factor 50 Logo" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sm12">
                    <p>
                        <span class="black bold">&copy; HelpMyStreet CIC. All Right Reserved.</span>
                        <a href="/privacy-policy" class="ml-sm">Privacy Policy</a>
                        <a href="/terms-conditions" class="ml-sm">Terms &amp; Conditions</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>