@model LoadingSpinnerViewModel
<div class="loading-spinner hidden">
    @if (Model.ShowDarkSpinner)
    {
        <img src="~/img/loading_spinner.svg" alt="Loading ..." />
    }else
    {
    <img src="~/img/loading_spinner-white.svg" alt="Loading ..." />      
    }
  <div class="loading-spinner__label">@Model.Text</div>
</div>