@using HelpMyStreet.Contracts;
@using Westwind.AspNetCore.Markdown;

@model IEnumerable<NewsTickerMessage>

@if (Model != null)
{
    <script>
        document.documentElement.style.setProperty("--numberOfMessages", @Model.Count());
    </script>

    <div class="news-ticker">
        <div class="hwrap">
            <div class="hmove">
                @foreach (var message in Model)
                {
                    <div class="hitem">@Markdown.ParseHtmlString(message.Message)</div>
                }
            </div>
        </div>
    </div>
}

