@using HelpMyStreet.Contracts;
@using Westwind.AspNetCore.Markdown;
@using HelpMyStreetFE.Helpers;

@model IEnumerable<NewsTickerMessage>

@if (Model != null)
{
    <script>
        document.documentElement.style.setProperty("--numberOfMessages", @Model.Count());
    </script>

    <div class="hwrap">
        <div class="hmove">
            @foreach (var message in Model)
            {
                @if (message.SupportActivity.HasValue)
                {
                    <img src="~/img/icons/@message.SupportActivity.Value.Icon()" />
                }
                <div class="hitem"> @Markdown.ParseHtmlString(message.Message)</div>
            }
        </div>
    </div>
}

