@using HelpMyStreetFE.Models.Community;
@using Westwind.AspNetCore.Markdown;

@model CommunityViewModel

<div class="hwrap">
    <div class="hmove">
        @foreach (var message in Model.NewsTickerMessages)
        {
            <div class="hitem"> @Markdown.ParseHtmlString(message.Message)</div>
        }
    </div>
</div>

