@using HelpMyStreet.Utils.Extensions
@model HelpMyStreetFE.Models.PersonalDetailsView

<div class="sm6">
    <h5>@Model.RequestRole.FriendlyName()</h5>
    <dl>
        @if (!string.IsNullOrEmpty(Model.RecipientOrganisation))
        {
            <dt>Organisation</dt>
            <dd>@Model.RecipientOrganisation</dd>
        }
        @if (Model.PersonalDetails != null)
        {
            <partial name="_ContactDetails" model="Model.PersonalDetails" />

            @if (Model.PersonalDetails.Address != null)
            {
                <dt>Address</dt>
                <dd>
                    @Html.DisplayFor(x => Model.PersonalDetails.Address)
                </dd>
            }
        }
    </dl>
</div>
