<div id="popup-template" class="popup">
    <div class="popup__backdrop popup-close"></div>
    <div class="popup__content">
        <partial name="_PopupCloseButton" />
        <div class="popup__content__wrapper">
            <div class="popup__content__header"></div>
            <div class="popup__content__text">
                <partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Hide = false, ShowDarkSpinner = true, Text = "Loading..." }' />
            </div>
            <div class="popup__content__buttons dnone">
                <p class="error"></p>
                <div class="popup__content__buttons__button">
                    <button id="popup-accept" class="btn cta  wide fill ">
                        <span class="text">Accept</span>
                        <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Submitting..."}' /></div>
                    </button>
                </div>
                <div class="popup__content__buttons__button dnone">
                    <button id="popup-reject" class="btn cta--dark-blue-border wide fill">
                        <span class="text">Reject</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>