<div id="popup" class="popup">
    <div class="popup__backdrop"></div>
    <div class="popup__content">
        <div class="popup__content__header">Accept?</div>
        <div class="popup__content__text">
           
        </div>
        <div class="popup__content__buttons">
            <div class="popup__content__buttons__button">
                <button class="btn cta  wide "> Accept</button>
            </div>
            <div class="popup__content__buttons__button">
                <button class="btn clear  wide"> Cancel</button>
            </div>
        </div>
    </div>
</div>