<div id="popup" class="popup">
    <div class="popup__backdrop popup-close"></div>
    <div class="popup__content">
        <button class="btn--close popup-close">
            <svg xmlns="" viewBox="0 0 100 100" class="icon--close" width="32" height="32">
                <circle cx="50" cy="50" r="50" class="bg" />
                <path d="M30,30 L70,70 M30,70 L70,30" class="cross" stroke-linecap="round" />
            </svg>
        </button>
        <div class="popup__content__header">Accept?</div>
        <div class="popup__content__text">

        </div>
        <div class="popup__content__buttons">
            <span class="error"></span>
            <div class="popup__content__buttons__button">
                <button id="popup-accept" class="btn cta  wide fill ">
                    <span class="text">Accept</span>
                    <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Submitting..."}' /></div>
                </button>
            </div>
        </div>
    </div>
</div>