<div id="popup-template" class="popup">
    <div class="popup__backdrop popup-close"></div>
    <div class="popup__content">
        <partial name="_PopupCloseButton" />
        <div class="popup__content__wrapper">
            <div class="popup__content__header"></div>
            <div class="popup__content__text">
                <partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Hide = false, ShowDarkSpinner = true, Text = "Loading..." }' />
            </div>
        </div>
    </div>
</div>