@model HelpMyStreetFE.Models.PopupButtonModel

<div class="popup__content__buttons__button">
    <button id="popup-reject" class="btn cta--dark-blue-border wide fill">
        <span class="text">@Model.ButtonText</span>
    </button>
</div>
