<header>
    <div class="outer-container outer-container--darker">
        <div class="container page-header-login align-center">
            <div class="page-header-login__sign-in">
                <partial name="_HeaderLogin" />
            </div>
        </div>
    </div>
    <div class="outer-container nav-holder">
        <div class="container page-header align-center">
            <div class="page-header__logo">
                <a href="/"><img class="logo" src="~/img/logos/HelpMyStreet_logo.svg" alt="Help My Street Logo" /></a>
            </div>
            <div class="page-header__nav">
                <partial name="_SiteNavigation" />
            </div>
            <div class="page-header__toggle">
                <button id="site-nav-toggle" class="page-header__btn--menu-toggle">
                    <svg xmlns="" viewBox="0 0 100 100" class="toggle-icon" width="32" height="32">
                        <path d="M25,25 L75,25 M25,50 L75,50 M25,75 L75,75" class="lines burger" stroke-linecap="round" />
                        <path d="M30,30 L70,70 M30,70 L70,30" class="lines cross" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>