<nav class="site-nav collapsed">
  <ul class="site-nav__items p-0 m-0">
    <li class="site-nav__item">
      <a href="#" class="site-nav__link">Community Organisers</a>
    </li>
    <li class="site-nav__item">
      <a href="#" class="site-nav__link">About Us</a>
    </li>
    <li class="site-nav__item">
      <a href="#" class="site-nav__link">Work With Us</a>
    </li>
    <li class="site-nav__item">
      <a href="#" class="site-nav__link">Resources</a>
    </li>
    <li class="site-nav__item">
      <a href="#" class="site-nav__link">Contact Us</a>
    </li>
  </ul>
</nav>