<header>
    <div class="outer-container nav-holder">
        <div class="container page-header align-center">
            <div class="page-header__logo">
                <a href="/"><img class="logo" src="~/img/logos/HelpMyStreet_logo.svg" alt="Help My Street Logo" /></a>
            </div>            
        </div>
    </div>
</header>