$dark-blue: #001489;
$blue: #1e91d6;
$orange: #ff4e00;
$green: #25ac10;
$p-color: #51535b;

$black: #131614;
$gray-10: #dddddd;

.white {
  color: white;
}

.green {
  color: $green;
}

.dark-blue {
  color: $dark-blue;
}

.orange {
  color: $orange;
}

.black {
  color: black;
}

.blue {
  color: $blue;
}

.bold {
  font-weight: bold;
}

.bg-green {
  background-color: $green;
}

.bg-white {
  background-color: white;
}

.transparent {
  background-color: transparent;
}
