$dark-blue: #001489;

$blue: #1e91d6;
$light-blue: #e8f4fb;
$washed-orange: #FFF3ED;
$washed-blue: #D5EAF7;
$light-purple: #574AE2;
$orange: #ff4e00;
$light-orange: #ff8f12;
$green: #25ac10;
$p-color: #51535b;
$user-circle-background: #1e91d61a;
$sub-title-blue: #021587;
$nhs-blue: #005EB8;

$background-main: #f7f6f4;
$background-darker-1: #f0ede8;

$black: #131614;
$gray-4: #2C332E;
$gray-5: #56635A;
$gray-8: #a0a0a0;
$gray-10: #dddddd;
$white: #ffffff;

$loading-transparant: rgba(240,237,232, 0.9);
$light-orange-opaque: rgba(255, 143, 18, 0.3);
$green-transparent: rgba(37, 172, 16, 0.1);
$green-transparent-1: rgba(37, 172, 16, 0.3);

$loading-transparant-dark: rgba(240,237,232, 0.9);
$popup-backdrop: rgba(0,0,0, 0.7);

.white {
    color: $white;
}

.green {
  color: $green;
}

.dark-blue {
  color: $dark-blue;
}

.orange {
    color: $orange;
}

.black {
  color: $black;
}

.blue {
  color: $blue;
}

.red {
    color: red;
}

.light-purple {
    color: $light-purple;
}

.nhs-blue {
    color: $nhs-blue;
}

.gray-4 {
  color: $gray-4;
}

.gray-5 {
  color: $gray-5;
}

.gray-8 {
  color: $gray-8;
}


.bold {
  font-weight: bold;
}

.bg-green {
  background-color: $green;
}

.bg-orange {
    background-color: $orange;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-gray-8 {
    background-color: $gray-8;
}


.bg-white {
  background-color: white;
}

.border-dark-blue {
    border-color: $dark-blue;
}

.border-orange {
  border-color: $orange;
}

.border-green {
  border-color: $green;
}

.border-gray-8 {
  border-color: $gray-8;
}

.border-black {
  border-color: $black;
}

.transparent {
  background-color: transparent;
}
