/** Outer Wrapper */
.outer-container {
    width: 100%;
    &--darker {
        background-color: $background-darker-1;
    }
}

.inner-container {
    padding: 2rem 1rem 2rem 1rem;
}

.inner-container--no-side-padding {
    padding: 2rem 0rem 2rem 0rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 .container{
    .row{
            @for $i from 1 through 12 {
                .sm#{$i} {                          
                        padding-left: 0px !important;                    
                }
            }
           }
    }
}

@media screen and (min-width: $med-screen) {
    .container-fluid {
        max-width: 1400px + 24px;
        margin:auto;
    }

    .container {
        max-width: 1224px + 24px;
        margin: auto;

        .row {
            &:not(.small-screen-only) {
                display: flex;
                flex:1;
            }

            flex-wrap: wrap;

            @for $i from 1 through 12 {
                .sm#{$i} {
                    flex-basis: 100% * ($i / 12);

                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        padding-left: 0px;
                    }
                }
            }

            &.justify-center {
                justify-content: center;
            }

            &.justify-right {
                justify-content: flex-end;
            }

            &.align-center {
                align-content: center;
            }
        }
    }
    .small-screen-only {
        display: none;
    }
}

@media screen and (min-width: $sm-screen) and (max-width: $med-screen) {
    .container {
        width: calc(100vw - 64px);
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .large-screen-only {
        display: none;
    }
}

@media screen and (max-width: $sm-screen) {
    .container {
        width: calc(100vw - 32px);
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .large-screen-only {
            display: none;
    }
}
