$breakpointSm: 1150px;

.page-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "logo toggle"
    "nav nav"
    "auth auth";

    @media screen and (min-width: $breakpointSm) {
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "auth auth"
        "logo nav";
    }

    &__logo {
        grid-area: logo; 
    }
    &__nav {
        grid-area: nav;
    }
    &__sign-in {
        grid-area: auth;
        display: flex;
        justify-content: flex-end;
    }
    &__toggle {
        grid-area: toggle;
        text-align: right;

        @media screen and (min-width: $breakpointSm) {
            display: none;
        }
    }

    // This is the original page header CSS, just commented out to
    // get the navigation in place but reinstate if necessary
    /*
    padding: 50px 12px;
    margin-bottom: 32px;

    & > div {
        margin: 0 4px;
    }

    .logo {
        margin-right: 68px;
    }

    .btn {
        margin: 0 4px;
    }

    .spacer {
        height: 59px;
        width: 1px;
        background-color: #ccc;
    }
    */
}
