header.page-header {
    padding: 50px 12px;
    margin-bottom: 32px;

    & > div {
        margin: 0 4px;
    }

    .logo {
        margin-right: 68px;
    }

    .btn {
        margin: 0 4px;
    }

    .spacer {
        height: 59px;
        width: 1px;
        background-color: #ccc;
    }
}
