@import "./mixins/forms/inputs";


input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.input {
    label {
        position: absolute;
        top: -27px;
    }

    input {
        @include input-default;
    }

  a.input__link {
    display: block;
    line-height: 22px;
    color: var(--p-color);
    position: absolute;
    left: 0;
    bottom: -22px;
  }
}
