@import "./mixins/forms/inputs";
@import "./mixins/forms/textarea";

input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.input {
    label {
        position: absolute;
        top: -27px;
        left: 0;
        width : 100%;
    }


    &--radio {
        label {

            .error {
                display: block;
                font-size: 1rem;
                font-weight: normal;
                left: -42px;
                position: relative;
                bottom: -10px;
            }
         }
        }

        input {
            @include input-default;
        }

        textarea {
            @include textarea-default;
        }

        a.input__link {
            display: block;
            line-height: 22px;
            color: var(--p-color);
            position: absolute;
            bottom: -22px;

            &.float_right {
                float: right;
                position: initial;
                font-weight: normal;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        select {
            width: 100%;
            height: 64px;
        }
    }
    //hack to make safari use the set font-size
    select {
        background: $white;
    }