@import "./variables.scss";
@import "./colours.scss";
@import "./grid.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./spacing.scss";
@import "./input.scss";
@import "./registration.scss";
@import "./login.scss";
@import "./forgotton-password.scss";
@import "./ui/buttons";
@import "./ui/generic-expander";

@import "./site/site-nav";
@import "./views/content-page";
@import "./views/account";
@import "./views/resources";

@import "./mixins/forms/checkbox";
@import "./mixins/typography/titles";
@import "./mixins/typography/copy";

@import "./components/authentication/header-login";
@import "./components/authentication/yoti-loading-mobile";
@import "./components/community/community";
@import "./components/cookie-consent";
@import "./components/loading-spinner";
@import "./components/notification-card/notification";
@import "./components/profile/profile-panel";
@import "./components/info-popup";
@import "./components/popup";
@import "./components/home/home";
@import "./components/list/list";
@import "./components/list/filters";
@import "./components/_progress-bar";
@import "./components/cookie-grid";
@import "./views/style-guide";
@import "./views/request-help";
@import "./components/image-slider";
@import "./components/_tabs";
@import "./components/slick-carousel/slick";
@import "./components/slick-carousel/slick-theme";
@import "./components/_map-markers";
@import "./components/awards/awards";
@import "./components/community/group-logo";
@import "./components/news-ticker";
@import "./components/reports";

* {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  background-color: $background-main;
  margin: 0;
}

p {
  @include copy-sz-md;
  color: $p-color;

  &.subtitle {
    @include copy-sz-lg;
  }
}

a {
  color: $blue;
  transition: color 0.5s;

  &:hover {
    color: $green;
    transition: color 0.1s;
  }
}

h1 {
  @include title-sz-1;
  color: $dark-blue;
  letter-spacing: 1px;
  font-weight: bold;
}

h2 {
  @extend h1;
  @include title-sz-2;
  letter-spacing: 0.5px;
  margin: 0 0 0px;
}

h3 {
  @extend h2;
  @include title-sz-3;
  color: black;
  letter-spacing: 0.5px;
}

h4 {
  @extend h2;
  @include title-sz-4;
  color: black;
  margin: 15px 0;
}

h5 {
  @extend h2;
  @include title-sz-5;
  color: $black;
}

h6 {
  @extend h4;
  @include title-sz-6;
  margin-bottom: 0;
}

h6 + p {
  margin-top: 0;
}

span, b, strong, a, i, em {
  font-size: inherit;
}

sup {
    font-size: 70%;
    line-height: 0;
}

img {
  max-width: 100%;
}

ul.tick-list {
  list-style: none;
  padding-left: 0.5em;
  width: 100%;
  li:before {
    content: "\2714";
    margin-right: 0.5em;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex {
  display: flex;

  &-column {
    flex-direction: column;
  }

  &-grow {
    flex-grow: 1;
  }

  &.justifycontent {
    &-center {
      justify-content: center;
    }
  }

  &.align {
    &-center {
      align-items: center;
    }
  }
}

.inline-flex {
  @extend .flex;
  display: inline-flex;
}

.bold {
  font-weight: bold;
}

.fullwidth {
  width: 100% !important;
}
.dnone {
  display: none;
}

.circle {
  margin: 8px auto;
  display: block;
  background-color: $dark-blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-weight: bold;
  border-radius: 50%;

  @media screen and (min-width: $sm-screen) {
    font-size: 32px;
    line-height: 39px;
    height: 64px;
    width: 64px;
    min-height: 64px;
    min-width: 64px;
  }

  @media screen and (max-width: $sm-screen) {
    font-size: 20px;
    line-height: 24px;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
  }
}

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-blue;
  color: white;
  border-radius: 50%;
  font-weight: bold;

  @media screen and (max-width: $med-screen) {
    font-size: 20px;
    line-height: 24px;
    height: 40px;
    width: 40px;
  }

  @media screen and (min-width: $med-screen) {
    font-size: 40px;
    line-height: 49px;
    height: 80px;
    width: 80px;
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.loader {
  text-align: center;
  display: none;
}

.card {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: white;

  @media screen and (min-width: $med-screen) {
    padding: 24px;
  }

  @media screen and (max-width: $med-screen) {
    padding: $med-margin 16px;
  }

  &.p-sm {
    @extend .p-sm;
  }

  &.p-sm-md {
    @extend .p-sm-md;
  }

  &.p-md {
    @extend .p-md;
  }

  &__buttons {
    .btn {
      @extend .mt-sm;
      @extend .ml-sm;
      @extend .mr-sm;

      &.dnone {
        display: none;
      }
    }
  }

  &-feedback, &-partner {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: white;
    padding: 12px;

    .person {
      margin-bottom: 0px;
      text-align: right;
    }

    h3 {
      color: darkgray;
    }
  }

  &.flex {
    @extend .flex-column;
    @extend .mt-sm;
    @extend .mb-sm;

    p {
      flex-grow: 1;
    }
  }
}

.fill {
  @media screen and (max-width: $sm-screen) {
    width: 100%;
  }
}

.mdi-check {
  font-weight: bold;
}

dl,
dt,
dd {
  margin: 0;
}

.privacy {
  a {
    margin-right: 10px;
  }
}

.force-width {
  flex-basis: 50%;
}

.sticky-nav {
  display: none;
  opacity: 0.95;
  background: #555;
  color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 12;
  justify-content: center;
}

@media screen and (min-width: $sm-screen) and (max-width: $med-screen) {
  .show {
    display: inline-flex;
    opacity: 0.95;
    transition: 1s;
  }

  .hide {
    display: none;
    visibility: hidden;
    transition: 1s;
  }
}

#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  cursor: not-allowed;
  z-index: 100;
  display: none;
}

.no-wrap {
  white-space: nowrap;
}