.stepper {
    display: flex;
    width: 100%;
    align-items: stretch;

    &__step {
        text-align: center;
        flex-basis: 20%;
        opacity: 0.3;

        &--active {
            opacity: 1;
        }

        &__number {
            margin: 8px auto;
            display: block;
            background-color: $dark-blue;
            color: white;
            font-size: 32px;
            line-height: 39px;
            font-weight: bold;
            height: 64px;
            width: 64px;
            padding: 12.8px 0 12.2px;
            border-radius: 40px;
            z-index: 1;
        }

        &__text {
            color: $dark-blue;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.38px;
            font-weight: bold;
        }
    }

    &__link {
        content: "";
        border-top: 1px dashed #979797;
        height: 0px;
        z-index: 0;
        margin: 40px -40px;
        flex: 1 1 0px;
    }
}

form {
    a {
        color: $p-color;
    }

    .input {
        width: 100%;
        margin: 64px 0 32px;

        label {
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
        }

        .error {
            color: red;
            position: absolute;
            left: 0;
            bottom: -25px;
        }

        &__hint {
            font-weight: normal;
            color: $p-color;
        }

        input {
            width: 100%;
        }

        &--checkbox {
            margin: 32px 0;

            label {
                position: relative;
                margin: 0;
                padding-left: 40px;
                font-weight: normal;
                color: $p-color;
                top: 0;

                &:hover {
                    cursor: pointer;
                }
            }

            input:checked {
                & ~ .input--checkbox__checkbox span {
                    display: block;
                }
            }

            &__checkbox {
                background-color: #fff;
                border: 1px solid lightgrey;
                background-color: white;
                width: 25px;
                height: 25px;
                left: 0px;
                top: 0px;
                border-radius: 2px;
                position: absolute;

                span {
                    display: none;
                    text-align: center;
                }
            }
        }
    }

    .controls {
        text-align: right;
    }
}
