.mb0 {
  margin-bottom: 0px;
}
.mb15 {
  margin-bottom: 15px;
}

.mt16 {
  margin-top: 16px;
}

.mt72 {
  margin-top: 72px;
}

.pt32 {
  padding-top: 32px !important;
}

.mlmr-auto {
  margin-left: auto;
  margin-right: auto;
}

// Proposal: use sass function to generate a batch of spacing utility classes
// (used non-explicit naming so doesn't clash with existing classes above)
$props: "padding" "margin";
$propNames: "p" "m";

$directions: "top" "bottom" "left" "right";
$dirNames: "t" "b" "l" "r";

$variants: "0" "xs" "sm" "md" "lg" "xl";
$sizes: 0 0.25rem 0.5rem 1.6666rem 2.2225rem 2.778rem;

@each $property in $props {
  $p: index($props, $property);

  @each $variant in $variants {
    $v: index($variants, $variant);
    .#{nth($propNames, $p)}-#{$variant} {
      #{$property}: nth($sizes, $v);
    }

    @each $direction in $directions {
      $d: index($directions, $direction);
      .#{nth($propNames, $p)}#{nth($dirNames,$d)}-#{$variant} {
        #{$property}-#{$direction}: nth($sizes, $v);
      }
    }
  }
}
