$content-min-width: 1224px;
$content-max-width: $content-min-width + 24px;

$sm-screen: 500px;
$sm-med-screen: 750px;
$med-screen: 1000px;
$lg-screen: 1200px;
$xl-screen: 1300px;
$xxl-screen: 1600px;

$xxs-margin: 5px;
$xs-margin: 13px;
$sm-margin: 16px;
$med-margin: 24px;
$lg-margin: 32px;

// Breakpoints
$screen-xs: 375px;
