@using HelpMyStreetFE.Models.Account; 

@model CredentialsRequiredViewModel;

<p>You need credentials</p>

<ul>
    @foreach (var set in Model.AnnotatedGroupActivityCredentialSets.AnnotatedCredentialSets)
    {
        <li>
            <dl>
                @foreach (var cred in set)
                {
                    <dt>@cred.GroupCredential.Name</dt>
                    <dd>@cred.GroupCredential.HowToAchieve</dd>
                }
            </dl>
        </li>
    }
</ul>
