@model HelpMyStreetFE.Models.Community.CommunityViewModel;

<div class="card flex m-sm">

    <h2>How can we help?</h2>
    <p class="mt-sm mb-md">
        We&rsquo;ve got shoppers, sewers and hot-meal makers; walkers, talkers and home-work helpers all ready and waiting to help you!
    </p>

    <div class="" style="text-align: center">
        <a href="/request-help/@Model.EncodedGroupId" class="btn cta btn--request-help fill cta--orange ">Request Help</a>
    </div>

</div>
