@using Westwind.AspNetCore.Markdown;

@model HelpMyStreetFE.Models.Community.CommunityModel

<div class="popup__content">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        <div class="popup__content__header">Join Group</div>
        <div class="popup__content__text">
            <p>Would you like to join <b>@Model.FriendlyName</b>?</p>
            @if (!String.IsNullOrEmpty(Model.JoinGroupPopUpDetail))
            {
                @Markdown.ParseHtmlString(Model.JoinGroupPopUpDetail);
            }
        </div>
        <div class="popup__content__buttons mt-md">
            <p class="error dnone"></p>
            <partial name="_PopupAcceptButton" model='new PopupButtonModel { ButtonText = "Join now" }' />
        </div>
    </div>
</div>
