@model HelpMyStreetFE.Models.Community.CommunityViewModel

<a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta small btn--request-help fill cta--orange @(Model.ShowRequestHelpPopup ? "show-request-help-popup" : "")">Request Help</a>
