@using HelpMyStreetFE.Models.Community; 

@model CommunityViewModel;

<div class="card flex m-sm">
    <h2>Volunteer with us!</h2>
    <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
        Join us to help your neighbours. Just let us know when, where and how you can help. You can choose to help a little, or to help a lot! We&rsquo;re grateful for every contribution.
    </p>
    <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
        Thanks for being part of @Model.CommunityName.  Click below to view help requests in your area.
    </p>

    <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
</div>
