@using HelpMyStreetFE.Models.Community; 
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = "Age Connects Cardiff & the Vale", PrimaryMobileText = "Age Connects Cardiff", ShowSecondaryText = true };
    ViewData["RequestHelpGroupId"] = Model.EncodedGroupId;
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">
    <div class="container">
        <div class="community-banner">
            <img src="~/img/community/ageconnectscardiff/banner.png" alt="Age Connects Cardiff" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center justify-center content-page">
                    <header class="mw1000 text-center">
                        <h2 class="mb0 mt-md">Welcome to</h2>
                        <h2 class="mb-sm">Age Connects Cardiff &amp; the Vale</h2>
                    </header>

                    <p class='mt-sm mb-s'>
                        For decades, local charity Age Connects Cardiff and the Vale has been here to help and support local older people and their families. Here are some of the things we can help with:
                    </p>
                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Shopping for essentials</li>
                        <li>Collecting prescriptions</li>
                        <li>Friendship</li>
                        <li>Local transport</li>
                        <li>Practical help</li>
                    </ul>


                    <div class="row sm6 text-center justify-center mb-sm">
                        <p class="mt-sm mb-sm pl-md pr-md">To request help, complete our quick and easy online form or call us on 029 2068 3600.</p>
                        <partial name="_RequestHelpButton" model="Model" />
                    </div>

                    <div class="row sm6 text-center justify-center mb-sm">
                        <p class="mt-sm mb-sm pl-md pr-md">To volunteer and help older people in your area, sign up or log in today.</p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md card">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row justify-center align-center">
                <div class="sm11">
                    <h2 class="mb15 mt-lg text-center">Welcome from the Age Connects Cardiff and the Vale team</h2>

                    <div>
                        <p>
                            Age Connects is proud of its long history of providing volunteer support and keeping people connected to their community.
                        </p>
                        <p>
                            Over the past year more than ever we have experienced the power of community spirit and the importance of volunteer support.
                        </p>
                        <p>
                            We offer a range of stimulating and interesting volunteer opportunities, and have over 350 people supporting us by giving their time and skills. We could not provide our services without their invaluable help.
                        </p>
                        <p>Age Connects Cardiff and the Vale puts the health and wellbeing of clients and volunteers first and is constantly reviewing the volunteering opportunities available that can be delivered safely.</p>
                        <p class="mb0">
                            We're current recruiting for:</p>
                            <ul style="font-size:16px">
                                <li style="font-size:16px">Socially distanced befriending and telephone befriending.</li>
                                <li>Shopping and collection of prescriptions.</li>
                                <li>One off or ongoing fundraising support.</li>
                            </ul>
                            <p class="mt0">When restrictions permit, we'll have many more opportunities including:</p>
                            <ul>
                                <li>Helping reduce isolation for older people by driving them to regular activities and classes in your own car or visiting them weekly for a chat.</li>
                                <li>Serving customers in our café in Barry.</li>
                                <li>Helping provide information in person and over the phone.</li>
                                <li>Helping people to resolve problems and complete forms.</li>
                                <li>Helping in our office with administration and client care duties</li>
                            </ul>
                        
                        
                        <p>If you would like to get in touch to find out more you can give us a call on 02922 400 0030 or e-mail <a href="mailto:helen.prior@ageconnectscardiff.org.uk">helen.prior@ageconnectscardiff.org.uk</a>. But don't forget, you can check what opportunities are available near you, or request help for yourself or a loved one by using the buttons on this page.</p>
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">
                <div class="flex sm6">
                    <div class="card flex m-sm">

                        <h2>How can we help?</h2>
                        <p class="mt-sm mb-md">
                            If there’s something you think we could help, please get in touch. We have a team of friendly ID-checked volunteers ready and waiting to help you!
                        </p>

                        <div class="text-center">
                            <partial name="_RequestHelpButton" model="Model" />
                        </div>

                    </div>
                </div>
                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.ageconnectscardiff.org.uk/">Age Connects Cardiff Website</a> - A link to our main website for you to find out more about us</p>
                    <p><a href="/pdf/ageconnectscardiff/shopping-guidance.pdf">Shopping Guidance</a> - A downloadable PDF containing full shopping procedures for volunteers</p>
                    <p><a href="/docx/ageconnectscardiff/volunteer-bank-details.docx">Volunteer Bank Details Form</a> - Our bank details form. Volunteers must provide their bank details to claim expenses</p>
                    <p><a href="/docx/volunteer-expense-form.docx">Volunteer Expenses Form</a> - Our expenses form for volunteers</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey })
    </div>

    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">
                <div class="flex sm6">
                    <div class="card flex m-sm">

                        <h2>How can we help?</h2>
                        <p class="mt-sm mb-md">
                            If there’s something you think we could help, please get in touch. We have a team of friendly ID-checked volunteers ready and waiting to help you!
                        </p>

                        <div class="text-center">
                            <partial name="_RequestHelpButton" model="Model" />
                        </div>

                    </div>
                </div>
                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>


    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>


</div>