@using HelpMyStreetFE.Models.Feedback;
@using HelpMyStreetFE.Models.Community;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">

    <div class="container">
        <div class="community-banner">
            <img src="/img/community/ageUK/lsl/age-uk-lincoln-cathedral-banner.png" alt="Age UK Lincoln & South Lincolnshire" />
        </div>
    </div>

    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000">
                        <h2 class="mb0 mt-md">Older people in Lincoln & South Lincolnshire NEED YOUR HELP!</h2>
                    </header>

                    <p class='mt-sm mb-xs'>
                        The Winter months are incredibly challenging for many older people in our communities. Loneliness and isolation, cold days and long dark nights all have a significant impact on older people, people who may be living in your street!
                    </p>
                    <p class='mt-sm mb-xs'>
                        Please sign up to help us to support older people, you can help as little or as much as you like. We are always creating new projects and developing new services to support older people in Lincoln & South Lincolnshire, and we need the support of local volunteers to help us make a difference.
                    </p>

                    <div class="row sm12 text-center justify-center mb-sm">
                        <p class="mt-sm mb-sm pl-md pr-md">To ask for help, please go to our website or call us on 03455 564 144.</p>
                        <a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire" class="btn cta small btn--request-help fill cta--dark-blue">Go to our website</a>
                    </div>

                    <div class="row sm12 text-center justify-center mb-md">
                        <p class="mt-sm mb-sm pl-md pr-md">We need the support of local volunteers to help us make a difference.</p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Latitude" data-longitude="@Model.Longitude" data-zoom="@Model.ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container mb-lg">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row flex justify-center">
                <h2 class="mb15 mt-lg text-center">Welcome from Age UK Lincoln and South Lincolnshire</h2>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <partial name="_CommunityVolunteersSlider" model="Model" />
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <div>
                        <p>
                            Age UK Lincoln & South Lincolnshire is an independent, local charity and we have been working in the local community to help older people,
                            their families and carers for over 61 years. We have over 400 dedicated staff and volunteers helping us to deliver services and activities
                            for older people in Lincoln and across the county.
                        </p>
                        <p>
                            Supporting over 4,000 people aged 50 and over every week, our dedicated staff and volunteers deliver support services and activities across
                            17 departments for people countywide including personal care, befriending, free information and advice, help in the home, a meal delivery
                            service and much more.
                        </p>
                        <p>
                            Our support is varied and extensive; 11,845 people attended activities with us in 2018/19,  helping to combat social isolation by offering
                            opportunities for engagement through social activities, clubs and groups. Age UK Lincoln & South Lincolnshire exists to improve the lives of
                            older people, through supporting them to love later life and helping them where possible to remain independent in their own homes. We
                            continually work towards ending loneliness and isolation in older people, many of whom were isolated and living in a form of lockdown before
                            the recent pandemic and sadly for whom there is no &ldquo;new normal&rdquo;. Their reality remains loneliness and isolation.
                        </p>
                        <p>
                            Throughout the year we have many projects running that help older people and we are always looking for new volunteers to help support with
                            tasks such as prescription or shopping collections, helping with wellbeing calls and more. Even the smallest task can make a real difference
                            to someone in your community.
                        </p>
                        <p>
                            You can find out more about the impact we make <a href='https://ageuklslannualreview.org.uk'>here</a>.
                        </p>
                        <p>
                            For more information on our services and support, please get in touch by email <a href="mailto:info@ageuklsl.org.uk">info@ageuklsl.org.uk</a>
                            or call us on 03455 564 144.
                        </p>
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <div class="card flex m-sm">

                        <h2>How can we help?</h2>
                        <p class="mt-sm mb-md">
                            We support older people in and around Lincoln. To find out more about our other services and the support we can provide, please go to our website or call us on 03455 564 144.
                        </p>

                        <div class="text-center">
                            <a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire" class="btn cta fill cta--dark-blue">Go to our website</a>
                        </div>

                    </div>
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>
            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire">Age UK Lincoln and South Lincolnshire main site</a> - Find out more about Age UK Lincoln and South Lincolnshire services</p>
                    <p><a href="https://www.justgiving.com/age-uk-lincoln">Our Just Giving site</a> - Donate to help older people in Lincoln and South Lincolnshire</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.groupKey })
    </div>



    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <div class="card flex m-sm">

                        <h2>How can we help?</h2>
                        <p class="mt-sm mb-md">
                            We support older people in and around Lincoln. To find out more about our other services and the support we can provide, please go to our website or call us on 03455 564 144.
                        </p>

                        <div class="text-center">
                            <a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire" class="btn cta fill cta--dark-blue">Go to our website</a>
                        </div>

                    </div>
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>
            </div>
        </div>
    </div>

</div>