@using HelpMyStreetFE.Models.Feedback;
@using HelpMyStreetFE.Models.Community; 

@model HelpMyStreetFE.Models.Community.CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
    if (Model.EncodedGroupId != null && Model.ShowRequestHelp) { ViewData["RequestHelpGroupId"] = Model.EncodedGroupId;  }
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">

    <div class="container">
        <div class="community-banner">
            <img src="/img/community/ageUK/notts/balderton/banner-wide.jpg" alt="Balderton Community Support" />
        </div>
    </div>

    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000">
                        <h2 class="mb0 mt-md">In Balderton, help is always available!</h2>
                    </header>

                    <p class='mt-sm mb-xs'>
                        In our community there&rsquo;s always somebody here to help.
                        If you need support from your neighbours, Balderton Community Support are here and can help with:
                    </p>
                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Shopping for essentials</li>
                        <li>Collecting prescriptions</li>
                        <li>A friendly chat</li>
                        <li>Anything else, just ask!</li>
                    </ul>


                    <div class="row sm6 text-center justify-center mb-sm">
                        <a href="/request-help/@Model.EncodedGroupId" class="btn cta small btn--request-help fill cta--orange show-request-help-popup">Request Help</a>
                    </div>

                    <div class="row sm6 text-center justify-center mb-md">
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Latitude" data-longitude="@Model.Longitude" data-zoom="@Model.ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container mb-lg">
        <partial name="_PhotoSlider" model="Model.CarouselImages1" />
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row flex justify-center">
                <h2 class="mb15 mt-lg text-center">Welcome from Balderton Community Support</h2>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <partial name="_CommunityVolunteersSlider" model="Model" />
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <div>
                        <p>The Balderton community has come together to support our neighbours. We can help with all sorts of everyday tasks, from helping with your shopping to mowing your lawn.</p>
                        <p>If you&rsquo;d like some help from a local volunteer, just ask by clicking on one of the &lsquo;Request Help&rsquo; buttons on this page, or if you'd prefer you can give us a call on 07487 241596</p>
                        <p>To join us, sign up as a community volunteer above. You can help as much or as little as you are able, and we greatly appreciate any time and support you can give.</p>
                        <p>Email us at <a href="mailto: baldertoncs@helpmystreet.org">baldertoncs@helpmystreet.org</a></p>
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.newark-sherwooddc.gov.uk/baldertonpc/">Balderton Parish Council Website</a> - Get the latest news and updates from the Parish Council</p>
                    <p><a href="https://www.facebook.com/BaldertonCommunity/">Balderton Community Hub Facebook</a> - A page supporting the community of Balderton, sharing useful information, events, and positive comments.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.groupKey })
    </div>

    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>

</div>