@{
    ViewData["Title"] = "Community Sew";
    var isLoggedIn = User.Identity.IsAuthenticated;
}

@section Scripts {
    <script src="/lib/readmore/readmore.min.js" asp-append-version="true"></script>*
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="container">
    <div class="community-banner">
        <img />
    </div>

    <div class="outer-container">
        <div class="inner-container">
            <div class="row flex hero">
                <div class="row sm6 align-center content-page">
                    <header class="">
                        <h2 class="row sm12 mb0">Help My Street's Community Sewr</h2>
                    </header>
                    <p class="row sm12 text-left mt-sm mb-xs">We launched HelpMyStreet.org to ensure everybody in the il can find the help they need, when they need it - and this now includes face coverings!</p>
                    <p class="row sm12 text-left mt-sm mb-xs">If you need a face covering, make a request to find a home sewer near you.</p>

                    <p class="row sm12 text-left mt-sm mb-xs">If you're a home-sewer who can help, sign up to sew!</p>
                    <div class="row sm12">
                        <ul class="tick-list mt-xs mb-sm compact-list">
                            <li>Using public transport</li>
                            <li>Visiting hospitals or care homes</li>
                            <li>Shopping</li>
                            <li>Self isolating with symptoms</li>
                            <li>Other enclosed public spaces</li>
                        </ul>
                    </div>

                    <div class="row sm12 text-center justify-center small-screen-only mb-sm">
                        <a href="/request-help" class="btn cta small btn--request-help cta--orange">Request Help</a>
                    </div>

                    <p class="row sm12 mt-sm mb-sm">Help your neighbours in need</p>

                    <div class="row sm12 large-screen-only mb-sm"></div>

                    <div class="row sm6 text-center justify-center mb-md">
                        @if (isLoggedIn)
                        {
                            <a href="/registration/stepone" class="btn cta small btn--sign-up">Sign Up to Sew</a>

                        }
                        else
                        {
                            <a href="/account" class="btn cta small btn--sign-up">Provide Help</a>

                        }
                    </div>

                    <div class="row sm6 text-center justify-center mb-md large-screen-only">
                        <a href="/request-help" class="btn cta small btn--request-help cta--orange">Request a Face Covering</a>
                    </div>

                </div>

                <div class="sm6 text-right commmunity-map-container">
                    <img src="" />
                </div>
            </div>

        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="inner-container">
            <div class="row flex justify-center">
                <h2 class="mb15 text-center"></h2>
            </div>

            <div class="row">
                <div class="sm12">
                    <div class="community-volunteers-text" id="community-volunteers-text">
                        <p>
                            Wearing a face covering can help you to protect others and reduce the spread of coronavirus, which is why the government have made face coverings compulsory in some public settings. But face coverings aren't the same as face masks -
                            the public are being urged to use home-made fabric face coverings and save the medical masks for the medics
                        </p>

                        <p>HelpMyStreet is bringing together home-sewers who are able to offer their time and skills for free to help their neighbours.</p>
                        <p>
                            <strong>Will all of your masks look the same?</strong> Hopefully not! All of our volunteers are encourged to find a pattern and materials that suit them. All we ask is that face coverings have at least two layers of fabric and will fit comfortable and securely
                            - wheter you opt for a fitted or pleated style, use ties or elastics, gor for patterned or plain, it's completly up to you! if you're requesting face coverings and have a strong preference for a specific style
                            make sure to include it on your reuqest so volunteers know what you need.
                        </p>

                        <p>
                            <strong>Do you charge for face coverings?</strong> Did you know it takes the average sewer half an hour to make a face covering? Our volunteers won't charge for their time or skills, but may need to ask a small amount to
                            cover the cost of materials and postage if you're further afield - they'll let you know the cost when they contact you. See our FAQs for details on how to pay safely.
                        </p>

                        <p>If you have any questions about sigining up as a sewing volunteer or making a request for face coverings email <a href="mailto:sewing@helpmystreet.org">sewing@helpmystreet.org</a></p>
                        <p>You can also email us with your face covering selfies or share them with the hashtag <strong>#MaskOfTheWeek</strong> for a chance to appear as our mask of the week!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="outer-container">
        <div class="inner-container--no-side-padding">
            <div class="row hero flex text-center">
                <div class="sm6 mb-md">
                    <div class="card">

                        <h2>Do you need a face covering?</h2>
                        <p class="text-left mt-sm mb-md">
                            If you need face coverings for yourself, your family or your organisation request help now, wheter 1 or 100 we'll do our best to help.
                        </p>

                        <div class="" style="text-align: center">
                            <a href="/request-help" class="btn cta fixed-width btn--request-help cta--orange">Request a Face Covering</a>
                        </div>

                    </div>
                </div>

                <div class="sm6">
                    <div class="card">
                        <h2>Volunteer with us!</h2>
                        <p class="text-left mt-sm mb-md">
                            If you're a home-sewer and able to make face coverings as a donation or the cost of materials, join us to help your neighbours. You can choose to help a little, or to help a lot! We're grateful for every contribution
                        </p>

                        <div class="" style="text-align: center">
                            @if (isLoggedIn)
                            {
                                <a id="first-button" href="/registration/stepone" class="btn cta fixed-width btn--sign-up">Sign Up to Sew</a>
                            }
                            else
                            {
                                <a id="first-button" href="/account" class="btn cta fixed-width btn--sign-up">Provide Help</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="inner-container ">
            <div class="row justify-center">
                <h2 class="text-center">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links">
                    <strong>Patterns and Inspiration</strong>
                                        
                        <p><a href=''> The Big Community Sew </a> </p>
                        <p><a href=''> Downloadable florence fitted facemask pattern from freesewing.org</a></p>
                        <p><a href=''> Video: Pleated facemask with fabric ties from jenny Doan or missouri star quit company</a></p>                    
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="inner-container">
            @{
                ViewData["Box1"] = "10 plain face coverings so i can commute safely";
                ViewData["Box2"] = "Something bright to cheer my mum in hospital";
                ViewData["Box3"] = "Donations so relative can visit out care home";
            }

            <partial name="_HelpExampleCards" view-data="ViewData" />

        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="inner-container">
            <div class="row">
                <div class="sm12">
                    <h2 class="text-center">About HelpMyStreet.org</h2>
                </div>
            </div>


            <div class="row mt-lg">
                <div class="sm6 flex mb-sm home-video-container justify-center align-center text-right" id="video">
                    <iframe style="min-width: 100%; height: 350px" src="https://www.youtube-nocookie.com/embed/BD--FjbDKp8?rel=0&cc_load_policy=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="sm6">
                    <p class="">HelpMyStreet.org was launched to help the Helpers supporting their communities through the coronavirus pandemic.</p>

                    <p>Our goal is to make volunteering and finding volunteers simple, safe and effective for everyone.</p>

                    <p> We are a non-profit community interest company with a team of doctors, health practitioners, tech and data people, community volunteers and marketers. The founding team work for Factor 50, a healthcare analytics and digital company that works with the NHS, particularly in mental health.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="inner-container--no-side-padding">
            <div class="row hero flex text-center">
                <div class="sm6 mb-md">
                    <div class="card">
                        <h2>Do you need a face covering?</h2>
                        <p class="text-left mt-sm mb-md">
                            If you need face coverings for yourself, your family or your organisation request help now, wheter 1 or 100 we'll do our best to help.
                        </p>

                        <div class="" style="text-align: center">
                            <a href="/request-help" class="btn cta fixed-width btn--request-help cta--orange">Request a Face Covering</a>
                        </div>

                    </div>
                </div>

                <div class="sm6">
                    <div class="card">
                        <h2>Volunteer with us!</h2>
                        <p class="text-left mt-sm mb-md">
                            If you're a home-sewer and able to make face coverings as a donation or the cost of materials, join us to help your neighbours. You can choose to help a little, or to help a lot! We're grateful for every contribution
                        </p>

                        <div class="" style="text-align: center">
                            @if (isLoggedIn)
                            {
                                <a id="first-button" href="/registration/stepone" class="btn cta fixed-width btn--sign-up">Sign Up to Sew</a>
                            }
                            else
                            {
                                <a id="first-button" href="/account" class="btn cta fixed-width btn--sign-up">Provide Help</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


