@using HelpMyStreetFE.Models.Community; 
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = "Faversham And Sittingbourne", PrimaryMobileText = "Faversham And Sittingbourne", ShowSecondaryText = true };
    ViewData["RequestHelpGroupId"] = Model.EncodedGroupId;
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">
    <div class="container">
        <div class="community-banner">
            <img src="~/img/community/ageUK/kent/favershamandsittingbourne/banner.jpg" alt="Faversham and Sittingbourne Team" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000">
                        <h2 class="mb0 mt-md">Welcome to Age UK Faversham and Sittingbourne</h2>
                    </header>

                    <p class='mt-sm mb-xs'>
                        Age UK Faversham and Sittingbourne is an independent local charity covering the areas of Faversham and Sittingbourne. Here are just some of things we can help with:
                    </p>
                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>A friendly chat</li>
                        <li>A mealtime companion</li>
                        <li>Meals on wheels</li>
                        <li>Urgent medical transport</li>                        
                    </ul>


                    <div class="row sm6 text-center justify-center mb-sm">
                        <p class="mt-sm mb-sm pl-md pr-md">Click to request help, or alternatively give us a call on 01795 532766.</p>
                        <partial name="_RequestHelpButton" model="Model" />
                    </div>

                    <div class="row sm6 text-center justify-center mb-md">
                        <p class="mt-sm mb-sm pl-md pr-md">Age UK Faversham and Sittingbourne relies on volunteers to help us offer vital services. Can lend a hand?</p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Welcome from the Age UK Faversham and Sittingbourne Team</h2>
                    <div>
                        <p>
                            We're a local charity working in the community to support older people, their families and carers. We want everyone to be able to love later life.
                        </p>                                               
                        <p><strong>What we do:</strong></p>
                        <ul>
                            <li>We give advice - our Information and Advice service helps people across the area with a wide range of issues.</li>
                            <li>We offer home help - our AgeUcan service provides help and support for people to stay independent in their own home.</li>
                            <li>We befriend - our befriending service provides companionship for older people and helps reduce social isolation and loneliness.</li>
                            <li>We provide activities - our Day Centres in Faversham, Sittingbourne and Teynham provide social opportunities in these areas.</li>                            
                            <li>With your help, we can deliver more services to people in later life in the local Faversham and Sittingbourne areas. We have a wide range of fun and interesting volunteering opportunities - sign up on this page or find out more <a href="https://www.ageuk.org.uk/favershamandsittingbourne/get-involved/">here</a>.</li>
                            <li>To request help, simply fill in the request help form on this page or give us a call on one of the numbers below.</li>
                            <li>Telephone: 01795 532766 (Faversham)</li>
                            <li>Telephone: 01795 477520 (Sittingbourne)</li>
                            <li>We are open Monday - Friday 9.00am - 4.00pm, and Saturday 10am - 2pm in Faversham.</li>
                        </ul>                        
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.ageuk.org.uk/favershamandsittingbourne/">Age UK Faversham and Sittingbourne Website</a> - Visit our main webpage for more information</p>
                    <p><a href="https://www.facebook.com/AgeUKFS">Age UK Faversham & Sittingbourne Facebook</a> - The social media page</p>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>


    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.groupKey })
    </div>



    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>

</div>