@{
    ViewData["Title"] = "For The Love Of Scrubs";
    var isLoggedIn = User.Identity.IsAuthenticated;
}

@section Scripts {
    <script src="/lib/readmore/readmore.min.js" asp-append-version="true"></script>
    <script>$(document).ready(function () {
            $('#read-more-text').readmore({
        moreLink: '<a href="#">Read more</a>',
        lessLink: '<a href="#">Read less</a>',
        collapsedHeight: 200
        })
    });</script>
}

<div class="container">
    <div class="community-banner">
        <img src="~/img/community/fortheloveofscrubs/LOSBannerWide.png" />
    </div>

    <div class="outer-container">
        <div class="inner-container">
            <div class="row flex hero">
                <div class="row sm8 align-center content-page">
                    <header class="">
                        <h2 class="row sm12 mb0">A message from Ashleigh Linsdell, Founder and Director of ‘For the Love of Scrubs’ (FtLOS)</h2>
                    </header>
                    <p class="row sm12 text-left mt-sm mb-sm">
                        FtLOS has supplied many thousands of items to support frontline workers in hospitals, care homes and surgeries across the
                        country. We now have another line of defence to support - our communities.
                    </p>
                    <p class="row sm12 text-left mt-sm mb-sm">
                        We need everyone to do their bit to protect communities against Coronvirus by wearing a fabric face covering when out and
                        about in shops, buses, trains and other public places. Wearing a fabric face covering helps keep everyone safe and supports
                        the national defence strategy against the spread of Covid 19.
                    </p>
                    <p class="row sm12 text-left mt-sm mb-sm">
                        Everyone is asked to donate £3 to £4 per face covering to cover the cost of materials and to help us support our communities.
                        You’ll also be asked to cover the cost of postage (if needed).
                    </p>
                    <p class="row sm12 text-left mt-sm mb-md">
                        If you’d like to get involved, sign up to sew or request a face covering now.
                    </p>



                    <div class="row sm12 text-center justify-center small-screen-only mb-sm">
                        <a href="/request-help" class="btn cta small btn--request-help cta--orange">Request Help</a>
                    </div>

                    <div class="row  large-screen-only text-center ">
                        <div class="sm6 justify-center ">
                            @if (isLoggedIn)
                            {

                                <a href="/account" class="btn cta small btn--sign-up">Provide Help</a>
                            }
                            else
                            {
                                <a href="/registration/stepone" class="btn cta small btn--sign-up">Sign Up to Sew</a>

                            }
                        </div>

                        <div class="sm6 justify-center">
                            <a href="/request-help" class="btn cta small btn--request-help cta--orange">Request a Face Covering</a>
                        </div>
                    </div>
                </div>

                <div class="sm4 text-right">
                    <div id="jg-widget-scrubsforthenhs-75"></div>
                    <script>(function () { var id = "jg-widget-scrubsforthenhs-75", doc = document, pfx = (window.location.toString().indexOf("https") == 0) ? "https" : "http"; var el = doc.getElementById(id); if (el) { var js = doc.createElement('script'); js.src = pfx + "://widgets.justgiving.com/fundraisingpage/scrubsforthenhs?enc=ZT1qZy13aWRnZXQtc2NydWJzZm9ydGhlbmhzLTc1Jnc9NDAwJmI9aW1hZ2UsZG9uYXRlJmliPXRpdGxlLHJhaXNlZA%3D%3D"; el.parentNode.insertBefore(js, el); } })();</script>
                </div>
            </div>

        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="inner-container">

            <div class="row">
                <div class="sm12">
                    <div class="community-volunteers-text" id="read-more-text">
                        <h2>What to expect from FtLOS</h2>

                        <p>
                            The face coverings made by FtLOS volunteers are reusable, washable and well constructed. They can be posted straight to your home - we’ll just ask you to cover the cost of postage before we send them.
                        </p>
                        <p class="mb-xs mt-md">
                            <strong>Is there a cost for face coverings?</strong>
                            On top of the postage, all we ask if for a small donation of £2 - £3 per face covering to cover the cost of materials. You can donate through our JustGiving page which is linked at the top of this page. At the same time, you can also donate to support the free supply of items we’re making for the NHS and our communities:
                        </p>
                        <p class="mt-0 mb-0 ml-xl">
                            £10 pays for a metre fabric we can use for scrubs and other NHS supplies
                        </p>
                        <p class="mt-0 mb-0 ml-xl">
                            £25 pays for enough face coverings to help a small care home receive visitors
                        </p>
                        <p class="mt-0 mb-0 ml-xl">
                            £50 pays for a full set of scrubs for an NHS nurse or doctor
                        </p>
                        <p class="mt-md">
                            <strong>Who can order face coverings?</strong>
                            FtLOS face coverings are made by our communities for our communities, so we can’t accept commercial orders. Items supplied by our volunteers cannot be offered for resale under any circumstances.
                        </p>
                        <p class="mt-md">
                            <strong>Will all of your face coverings look the same?</strong>
                            Hopefully not! We use a few tried and tested patterns but lots of different fabrics.
                        </p>
                        <p class="mt-md">
                            <strong>How can I volunteer with For the Love of Scrubs?</strong>
                            Join us by signing up to sew. Our sewers receive a pre-prepared pack of materials straight to their door, once it has arrived you’ll have all you need to get sewing!
                        </p>
                        <p class="mt-md">
                            <strong>How can I donate to help you continue the good work?</strong>
                            You can donate through our JustGiving page which is linked at the top of this page.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        var requestHelpHead = "Do you need a face covering?";
        var requestHelpDesc = "If you’d like some For the Love of Scrubs face coverings for yourself, your family or an organisation, request them now. We'll do our best to help!";


        var provideHelpHead = "Volunteer with us!";
        var provideHelpDesc = "If you’d like to join For the Love of Scrubs (or register as an existing member) sign up now. We’ll send you everything you need to get started (except for the sewing machine!)";
    }

    <div class="outer-container">
        <div class="inner-container--no-side-padding">
            <div class="row hero flex text-center">
                <div class="sm6 mb-md">
                    <div class="card min-height">

                        <h2>@requestHelpHead</h2>
                        <p class="text-left mt-sm mb-md">
                            @requestHelpDesc
                        </p>

                        <div class="" style="text-align: center">
                            <a href="/request-help" class="btn cta btn--request-help cta--orange">Request a Face Covering</a>
                        </div>

                    </div>
                </div>

                <div class="sm6">
                    <div class="card min-height">
                        <h2>@provideHelpHead</h2>
                        <p class="text-left mt-sm mb-md">
                            @provideHelpDesc
                        </p>

                        <div class="" style="text-align: center">
                            @if (isLoggedIn)
                            {

                                <a id="first-button" href="/account" class="btn cta fixed-width btn--sign-up">Provide Help</a>
                            }
                            else
                            {
                                <a id="first-button" href="/registration/stepone" class="btn cta fixed-width btn--sign-up">Sign Up to Sew</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="inner-container ">
            <div class="row justify-center">
                <h2 class="text-center">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links">
                    <h6>Patterns</h6>
                    <p class="mb-xs"><a href="https://sustainmycrafthabit.com/how-to-make-a-simple-pleated-face-mask-with-free-pattern/#:~:text=%20Instructions%20%201%20Lay%20fabric%20out%20on,around%20the%20perimeter%20and%20stitch%20the...%20More%20">Simple Pleated Face Mask</a> - free pattern and video</p>
                    <p class="mt-xs mb-xs"><a href="https://hellosewing.com/wp-content/uploads/face-mask-pattern-1.jpg ">Fitted face mask pattern</a> - free pattern</p>
                    <p class="mt-xs mb-xs"><a href="https://www.youtube.com/watch?v=b78VGVWa6hw">Smile mask (with a clear panel)</a> - YouTube video</p>
                    <p class="mt-xs"><a href="https://freeprintablesonline.com/2020/03/printable-face-mask-patterns-roundup/">FreePrintablesOnline.com</a> - patterns, videos, hints and tips</p>

                    <h6>Donation page</h6>
                    <p><a href="#">You can donate through our JustGiving page</a></p>

                    <h6>Requesting materials</h6>
                    <p>If you’re a FtLOS sewer and need more materials contact your local group administrator or email <a href="mailto:materialrequest-ftlos@outlook.com">materialrequest-ftlos@outlook.com</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="inner-container help-examples">
            @{
                ViewData["Box1"] = "6 plain face coverings to safely commute";
                ViewData["Box2"] = "Bright face coverings to cheer my mum up in hospital";
                ViewData["Box3"] = "10 donated face coverings for care home visitors";
            }

            <partial name="_HelpExampleCards" view-data="ViewData" />

        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="inner-container">
            <div class="row">
                <div class="sm12">
                    <h2 class="text-center">About HelpMyStreet.org</h2>
                </div>
            </div>


            <div class="row mt-lg">
                <div class="sm6 flex mb-sm home-video-container justify-center align-center text-right" id="video">
                    <iframe style="min-width: 100%; height: 350px" src="https://www.youtube-nocookie.com/embed/BD--FjbDKp8?rel=0&cc_load_policy=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="sm6">
                    <p class="">
                        HelpMyStreet is working with community organisers to get help and support to people who need to shelter safely at home.
                        Many of these people live far from friends and family and don’t have a local support network.
                        HelpMyStreet gets the right help to the right people so that no one is left out.
                        All volunteers are ID Verified so that everyone is safe and secure.
                    </p>

                    <p>
                        HelpMyStreet CIC is a Nottingham-based non-profit established in March 2020. We’re a team of doctors, health practitioners, tech and data people, and community volunteers.
                        Help My Street CIC is registered in England and Wales, company number 12534175,
                        and registered with the Information Commissioner’s Office.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="inner-container--no-side-padding">
            <div class="row hero flex text-center">
                <div class="sm6 mb-md">
                    <div class="card min-height">

                        <h2>@requestHelpHead</h2>
                        <p class="text-left mt-sm mb-md">
                            @requestHelpDesc
                        </p>

                        <div class="" style="text-align: center">
                            <a href="/request-help" class="btn cta btn--request-help cta--orange">Request a Face Covering</a>
                        </div>

                    </div>
                </div>

                <div class="sm6">
                    <div class="card">
                        <h2>@provideHelpHead</h2>
                        <p class="text-left mt-sm mb-md">
                            @provideHelpDesc
                        </p>

                        <div class="" style="text-align: center">
                            @if (isLoggedIn)
                            {

                                <a id="first-button" href="/account" class="btn cta fixed-width btn--sign-up">Provide Help</a>
                            }
                            else
                            {
                                <a id="first-button" href="/registration/stepone" class="btn cta fixed-width btn--sign-up">Sign Up to Sew</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>