@using HelpMyStreetFE.Models.Community; 
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community content-page" data-group-id="@Model.EncodedGroupId">
    <div class="container">

        <div class="community-banner">
            <img src="~/img/community/vacc/lincolnshirevolunteers/banner.png" alt="Lincolnshire Volunteers" />
        </div>
    </div>

    <partial name="_NewsTicker" model="Model.NewsTickerMessages" />

    <div class="outer-container mt-sm-md">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm4 align-center justify-center content-page mr-md">

                    <h2 class="mb0 mt-md">Welcome to Lincolnshire Volunteers</h2>

                    <p class='row sm12 mb-sm'>
                        Volunteering has been at the forefront of the Covid-19 recovery and continues to demonstrate the importance of volunteering and the community spirit that exists within our communities.
                    </p>
                    <p class='row sm12 mb-sm'>
                        The Lincolnshire Volunteers Programme builds upon the momentum that has developed around volunteering, creating a lasting legacy for Lincolnshire. Our aim is to see Lincolnshire as a county where community matters, with volunteering at its heart and where everybody&rsquo;s contribution is valuable.
                    </p>
                    <p class='row sm12 mb-sm'>
                        The programme provides a wide range of enriching volunteering opportunities, alongside a robust level of coordination, training and ongoing support for volunteers.
                    </p>
                    <p class="row sm12 mb-sm ">
                        Volunteering opportunities can include:
                        <ul class='tick-list mt-xs mb-sm compact-list'>
                            <li>Volunteering in response to emergency situations</li>
                            <li>Volunteering at one off events and activities</li>
                            <li>Volunteering to support vulnerable individuals and communities</li>
                            <li>Volunteering and getting involved with local with projects</li>
                            <li>Micro-volunteering</li>
                        </ul>

                    </p>
                    <p class="row sm12 mb-sm ">
                        The programme will also provide Lincolnshire organisations with a simple and effective recruitment and deployment process to enable a flexible team of volunteers to access opportunities efficiently.
                    </p>

                    <div class="row sm12 mb-md">
                        <strong>To register your interest as a community volunteer and find opportunities near you, sign up today</strong>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Welcome from organisations across Lincolnshire</h2>

                    <div>
                        <div class="outer-container outer-container--darker">
                            <partial name="_CommunityVolunteersSlider" model="Model" />
                        </div>
                        <p>
                            <strong>Beyond COVID, we would like to build and maintain a team of volunteers who can support their communities. Examples of volunteering opportunities could include:</strong>
                            <ul>
                                <li>Responding to emergency situations with the Lincolnshire Resilience Forum &lsquo;Ready for Anything&rsquo; Programme.</li>
                                <li>Helping to tackle local issues like loneliness and isolation through tasks such as befriending calls, shopping and prescription collections or a chat and a cuppa with someone in need.</li>
                                <li>Supporting neighbours who need a little extra help with tasks such as gardening or moving the bin in and out on bin day.</li>
                                <li> Helping out with one-off events such as marshaling at races or setting up stalls.</li>
                                <li>Taking part in micro-volunteering events like creating cards for care home residents or knitting hats for premature babies.</li>
                                <li>Supporting organisations and services to deliver their vital work within our local communities including health and social care, local amenities and charities.</li>
                            </ul>
                        </p>
                        <p>
                            There are lots of opportunities to help which we hope to build into this platform over time, so please don't hesitate to register your interest by signing up today.
                        </p>
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">
                    Training and Learning Opportunities for our Volunteers
                </h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <p>
                        The Lincolnshire Volunteers Programme provides access to a wide range of training and learning opportunities for volunteers. Volunteering is a great way to gain practical experience across a vast number of sectors. We believe strongly in giving volunteers the opportunity to upskill and gain training qualifications alongside the benefit of the practical experience that they develop through the act of volunteering. Volunteers can access training even when they aren&rsquo;t  actively volunteering, allowing them to expand their knowledge base whilst they wait for the correct opportunities to come along. Volunteers who register with Help My Street have the opportunity to showcase their training and experience within their personal profiles.
                    </p>
                    <p>
                        You can find information about available training below.
                    </p>
                    <h6 class="mt-md">Volunteer Centres Lincolnshire Free Online Training</h6>

                    <p class="mt-sm"><u>How do I access it?</u></p>
                    <p>Online - <a href="https://www.lincolnshirevolunteering.org.uk/online-training">www.lincolnshirevolunteering.org.uk/online-training</a></p>

                    <p class="mt-sm"><u>What is it?</u></p>
                    <p>Our Volunteer Centres offer a range of training courses to help and support volunteers in their day to day volunteering such as GDPR, Equality and Diversity, Health and Safety, Safeguarding and First Aid.</p>
                    <p>Other bespoke topics include Food Safety, Customer Service, Autism Awareness, Mental Health Awareness, Disability Awareness, Loss and Bereavement, Unconscious Bias, Understanding Behaviour of Children and Young People, Substance Misuse and Suicide Awareness.</p>

                    <p class="mt-sm"><u>Who should complete it?</u></p>
                    <p>The training is available to any volunteer or potential volunteer within Lincolnshire.</p>

                    <h6 class="mt-md">NHS Volunteer Learning Programme</h6>
                    <p class="mt-sm"><u>How do I access it?</u></p>
                    <p>Online - <a href="https://www.e-lfh.org.uk/programmes/volunteer-learning">www.e-lfh.org.uk/programmes/volunteer-learning</a> (You will need to register to access these courses)</p>

                    <p class="mt-sm"><u>What is it?</u></p>
                    <p>The NHS Volunteer Learning Programme is freely available to all volunteers and includes e-learning resources for volunteers that have been designed by volunteers. There are six core standards which can be achieved through successful completion of 11 short e-learning modules.</p>

                    <p class="mt-sm"><u>Who should complete it?</u></p>
                    <p>All volunteers working with patients placed by Lincolnshire Community and Voluntary Service (LCVS) or Voluntary Centre Services (VCS) will be required to complete some, or all, of the e-learning modules before volunteering. You will be advised which modules are required for the activities you are interested in when you click to accept a request or apply for a role. LCVS and VCS will provide guidance and support to help you complete the training if required for a role.</p>
                    <p>You can also complete this training if you want to boost your knowledge and/or demonstrate that you are able to volunteer safely in health and social care. There are four optional modules available too.</p>

                    <h6 class="mt-md">Every-One E-Learning</h6>
                    <p class="mt-sm"><u>How do I access it?</u></p>
                    <p>Online - <a href="http://www.every-one.org.uk/e-learning">www.every-one.org.uk/e-learning</a> (You will need to complete an enrolment form to access these courses)</p>

                    <p class="mt-sm"><u>What is it?</u></p>
                    <p>Every-One is a Lincolnshire based charity that works in the care sector supporting carers and people that are cared for. Their first available e-learning course is &lsquo;Awareness Training&rsquo;. You will be able to find this, and any other courses they launch, on their website.</p>

                    <p class="mt-sm"><u>Who should complete it?</u></p>
                    <p>You can complete this training if you want to boost your knowledge about providing care in the care sector.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container mt-md">
        <div class="container pt-md pb-md">
            <div class="how-to-use row justify-center card">
                <div id="sign-up-helper-content" class="sm6 tabcontent active flex flex-column">
                    <h2 class="tab-content-title green">How to volunteer with HelpMyStreet</h2>
                    <p class="tab-content-p1">
                        Help as much or as little as you like with our easy to use platform. We show you where help is needed near you so you can help in a way that&rsquo;s right for you.
                    </p>
                    <div class="row">
                        <div class="sm1"><span class="fab circle">1</span></div>
                        <div class="sm9 pad-md">
                            <p class="h4">
                                Register with us
                            </p>
                            <p>
                                Sign up or log in using the green button below.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sm1"><span class="fab circle">2</span></div>
                        <div class="sm9 pad-md">
                            <p class="h4">
                                Verify your ID
                            </p>
                            <p>
                                Verifying your ID is quick and easy and lets us know you&rsquo;re a real person! All you need is valid photo ID and a mobile device.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sm1"><span class="fab circle">3</span></div>
                        <div class="sm9 pad-md">
                            <p class="h4">
                                Find and accept requests for help
                            </p>
                            <p>
                                Browse open requests in your profile and accept the ones you can help with.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sm1"><span class="fab circle">4</span></div>
                        <div class="sm9 pad-md">
                            <p class="h4">
                                Help those in need
                            </p>
                            <p>
                                Get in touch and let them know when you&rsquo;ll be there to help!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sm1"><span class="fab circle">5</span></div>
                        <div class="sm9 pad-md">
                            <p class="h4">
                                Come back for more!
                            </p>
                            <p>
                                Don&rsquo;t forget to keep checking back for new requests near you!
                            </p>
                        </div>
                    </div>
                    <p>Find out more by checking out our <a href="/questions">FAQs</a></p>
                    <div class="text-center">
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="outer-container outer-container">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <h6>Useful Information</h6>
                    <p><a href="https://lincolnshire.connecttosupport.org">Connect to Support Lincolnshire</a> - An online information and advice library, community directory and marketplace for adults in Lincolnshire</p>

                    <h6>Our Partners</h6>
                    <p><a href="http://www.lincolnshirecvs.org.uk/">Lincolnshire Community and Voluntary Service</a> - Find out more about the Lincolnshire CVS</p>
                    <p><a href="https://voluntarycentreservices.org.uk/">Voluntary Centre Services</a> - Find out more about Voluntary Centre Services in West Lincolnshire</p>
                    <p><a href="https://lvet.co.uk/"> Voluntary Engagement Team Lincolnshire</a> - Find out more about the Voluntary Executive Team for Lincolnshire; a partnership of voluntary organisations and statutory stakeholders who have chosen to work together to further opportunities for the voluntary sector in Lincolnshire.</p>
                    <p><a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire/">Age UK Lincoln & South Lincolnshire</a> - Helping older people in Lincoln and Lincolnshire</p>
                    <p><a href="https://lincolnshireresilienceforum.org/">Lincolnshire's Resilience Forum</a> - Find out more about Lincolnshire's Resilience Forum</p>
                    <p><a href="https://www.lincolnshire.nhs.uk/">Lincolnshire NHS</a> - Find out more about Lincolnshire NHS</p>
                    <p><a href="https://www.lincolnshire.gov.uk/">Lincolnshire County Council</a> - Find out more about the county council</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey })
    </div>

    <div class="outer-container--darker">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>

</div>