
    <div class="input input--checkbox">
        <label class="small">
            <input name="consent_for_contact" type="checkbox" hidden />
            <span class="input--checkbox__checkbox">
                <span class="mdi mdi-check"></span>
            </span>
            Your request will be passed on to local volunteers who will try to help you. Please check this box to acknowledge that you are aware that this will happen and that you are willing for them to contact both you and the person for whom you are requesting the help
        </label>
        <span id="e-consentForContact" class="error"></span>
    </div>
