
.user-badge{
    display: flex;

    @media screen and (max-width: $sm-screen){
        align-self: center;
    }

}
.user-detail {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: 105%;
    left: 5%;
    z-index: 1;
    transition: visibility 2s;
    transition-delay: 1s;
    font-size: 14px;
    opacity: 0.75;
}

.award {

    

    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width: $sm-screen) {
        flex-direction: column;
    }

    img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .award-description {
        
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0px;

        @media screen and (max-width: $sm-screen){
            font-size: 12px;
            text-align: center;
        }
    }

    h3 {
        @include title-sz-5
    }

    h5 {
        font-size: 1rem;
    }

    span {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    progress {
        max-width: 80%;
        height: 14px;
        margin-top: 0px;
    }

    label {
        font-size: 12px;
        line-height: 14px;
    }
}

.award:hover .tooltiptext{
    visibility:visible;
}