@model HelpMyStreetFE.Models.Account.Report.ReportViewModel

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="chart-container" data-chart="@Model.Chart" data-group="@Model.GroupId">
    <canvas class="chart"></canvas>
</div>
