$breakpointSm: 1150px;

.site-nav {

  &__items {
    background-color: $background-darker-1;
    padding-top: 1rem;
  }

  &__item {
    list-style: none;
    padding: 1rem;
    border-bottom: 1px dashed $black;    
  }

  &__link {
    color: $black;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.5s;
  }

  &.collapsed {
    height: 0;
    overflow: hidden;
  }

  @media screen and (min-width: $breakpointSm) {    
    display:flex;
    justify-content: flex-end;
    align-items: center;

    &.collapsed {
      height: 100%;
    }
    
    &__items {
      display: flex;
      flex-wrap: wrap;
      background-color: transparent;
      padding-top: 0;
    }
    
    &__item {
      padding: 0.5rem 1rem;
      border: none;
    }

    &__link {
      
      &:hover {
        text-decoration: underline;
        color: $blue;
        transition: color 0.1s;
      }
    }

  } 
}