.content-page {
    &__associated {
        padding: 2rem 0 2rem;
        margin-bottom: 2rem;

        .associated {
            &__items {
                display: grid;
                grid-template-columns: repeat(1, 1fr);

                @media screen and (min-width: $med-screen) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            &__item {
                padding: $sm-margin;
            }

            &__logo {
                justify-content: center;
                align-items: center;
                background: white;
                padding: 1rem;
            }

            &__logo_wrap {
                max-width: 80%; /*or whatever you choose*/
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (min-width: $med-screen) {
                    height: 240px;
                }

                img {
                    display: block;
                    max-width: 80%; /*actual image width*/                    
                    height: auto; /* maintain aspect ratio*/
                    margin: auto; /*optional centering of image*/

                    @media screen and (min-width: $med-screen) {
                        max-width: 300px; /*actual image width*/
                        max-height: 240px; /*actual image width*/
                    }
                }
            }

            &__title {
                @include copy-sz-md;
                padding: $sm-margin 0;
                color: $black;
                font-weight: bold;
            }
        }
    }
}
