<article class="header-login">
    <div class="header-login__input pt-sm pb-sm mr-sm">
        <label>Email address</label>
        <input type="text" placeholder="Email Address" />
    </div>
    <div class="header-login__input pt-sm pb-sm mr-md">
        <label>Password</label>
        <input type="Password" placeholder="Password" />
        <a href="#" class="link--forgot-pw">Forgotten password?</a>
    </div>
    <div class="header-login__btn pt-sm pb-sm">
        <button class="btn btn--login transparent blue border-blue mr-md">Login</button>
        <button class="btn btn--sign-up cta">Sign Up Now</button> 
    </div>
</article>