@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="~/coverageMap.js" asp-append-version="true"></script>
}

@if (!Model.isLoggedIn)
{
<div class="sticky-nav" id="sticky-nav">
    <div class="row sm12 justify-center">
        <div class="flex row">
            <div class="sm6 mr-sm">
                <a href="/registration/stepone" class="btn cta small mb-sm mt-sm btn--sign-up">Sign Up Now</a>
                <span>  </span>

            </div><div class="sm6">

                <span>  </span>
                <a href="/request-help" class="btn cta small mb-sm mt-sm btn--request-help cta--orange">Request Help</a>
            </div>
        </div>
    </div>
</div>
}
<div class="container">
    <div class="row hero flex sm12 mb-sm">

        <div class="row sm6 align-center">
            <h2 class="row mb0">Helping local people to look after one another</h2>
            <p class="text-left mt-sm mb-sm">
                HelpMyStreet connects neighbours in need with people who can help - safely and securely.<br>
            </p>
            <div class="row mb-md">
                <div class="row sm12 text-left">
                    <p class="sm12">It's OK to ask for a little help:</p>

                    <div class="row sm12 text-center justify-center">
                        <a href="/request-help" class="btn cta small btn--request-help cta--orange">Request Help</a>
                    </div>
                </div>
                <div class="row sm12 text-left" style="">
                    @if (!Model.isLoggedIn)
                    {
                        <p class="sm12">Help your neighbours in need:</p><div class="row sm12 text-center justify-center"><a id="first-button" href="/registration/stepone" class="btn cta small btn--sign-up">Sign-up Now</a></div>
                    }
                    else
                    {
                        <p class="sm12">Help your neighbours in need:</p><div class="row sm12 text-center justify-center"><a id="first-button" href="/account" class="btn cta small btn--sign-up">View Profile</a></div>

                    }
                </div>
            </div>
        </div>
        <div class="flex sm6 home-video-container justify-center align-center text-right" id="video">
            <iframe style="min-width:100%; height:350px" src="https://www.youtube-nocookie.com/embed/BD--FjbDKp8?rel=0&cc_load_policy=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row card street-check text-center justify-center" id="street-map">
        <h3>Is your street covered?</h3>
        <input id="pac-input" class="controls" type="text" placeholder="Type to check coverage...">
        <div id="your-location">
            <button title="Your location">
                <div id="your-location-image"></div>
            </button>
        </div>
        <div class="row sm12 map" id="map">
        </div>
        <p class="row sm9 text-center justify-center">Use our mapping tool to explore the UK and see if your area is covered. You can search for postcodes, counties or even places. Can't see anyone in your area? Why not sign up and be the first!</p>
    </div>

    <div class="row mt72 justify-center">
        <div class="sm8 text-center justify-center">
            <h2>Help people shelter safely at home …</h2>
            <p>
                HelpMyStreet.org supports community organisers and  makes volunteering in your local community simple, safe and effective for everyone. Sign up today to help people in your street shelter safely at home:
            </p>
        </div>
    </div>
    <div class="row mb15 justify-center step">
        <div class="sm1"><span class="fab circle">1</span></div>
        <div class="sm7">
            <h4>
                Sign up as a Street Champion
            </h4>
            <p>
                Street Champions look after a street and lead the helping activities in that street. They are in touch with the people who are sheltering safely at home and work with local Helpers to complete their requests for help.
            </p>
        </div>
    </div>
    <div class="row justify-center step">
        <div class="sm1"><span class="fab circle">2</span></div>
        <div class="sm7">
            <h4>
                Sign up as a Volunteer
            </h4>
            <p>
                Helpers provide direct help such as collecting prescription medicines, running local errands and shopping for essentials. They work with Street Champions to ensure the right help is getting to the right people in need.
            </p>
        </div>
    </div>

    <div class="row justify-center text-center">
        <div>
            @if (!Model.isLoggedIn)
            {
                <a href="/registration/stepone" class="btn cta large fill mt16 btn--sign-up">Sign Up Now</a>
            }
            else
            {
                <a href="/account" class="btn cta large fill mt16 btn--sign-up">View Profile</a>
            }
        </div>
    </div>
    <div class="row justify-center text-center mt72 help">
        <div class="sm12 mb-lg">
            <h2>Getting the right help to the right people&hellip;</h2>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/people-icon--orange.svg" alt="human icon" width="86" />
                <h6 class="mb0">Collect prescription for 73 year old grandmother</h6>
            </div>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/people-icon--blue.svg" alt="human icon" width="86" />
                <h6 class="mb0">Grocery shopping for a pregnant young mum</h6>
            </div>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/people-icon--orange.svg" alt="human icon" width="86" />
                <h6 class="mb0">Post items for an 88 year old grandad</h6>
            </div>
        </div>
    </div>
    <div class="row justify-center text-center mt-lg">
        <div class="sm4">
            <a href="/request-help" class="btn cta large fill mt16 btn--request-help cta--orange">Request Help</a>
        </div>
    </div>
    <div class="row justify-center text-center mt72">
        <div class="sm12">
            <h2>We’re working with communities&hellip;</h2>
        </div>
        <div class="sm8">
            <p>
                Thank you to all the community organisers and volunteers around the UK who are caring for people in their communities and enabling them to safely shelter at home. Our aim is to support them and enable everyone to receive help from a trusted local volunteer:
            </p>
        </div>
        <div class="sm8 list mb-lg">
            <span><span class="mdi mdi-check blue"></span> <span class="bold">Safety</span> - enabling every volunteer to be ID verified</span>
            <span>
                <span class="mdi mdi-check blue"></span> <span class="bold">Privacy</span> - protecting everyone’s data and only sharing it with the people who absolutely need it
            </span>
            <span><span class="mdi mdi-check blue"></span> <span class="bold">Coverage</span> - supporting every street in the UK</span>
            <span><span class="mdi mdi-check blue"></span> <span class="bold">Neighbours Near and Far</span> - enabling help for friends and family who live at the other end of the country</span>
            <span><span class="mdi mdi-check blue"></span> <span class="bold">Reducing administrative burden</span> - taking care of processes and paperwork</span>
        </div>
    </div>
    <div class="row justify-center text-center">
        @if (Model.isLoggedIn)
        {
            <div>
                <a href="/account" class="btn cta large fill mt16 btn--sign-up">View Profile</a>
            </div>
        }
        else
        {
            <div>
                <a href="/registration/stepone" class="btn cta large fill mt16 btn--sign-up">Sign Up Now</a>
            </div>
        }
    </div>
</div>
