@model HomeViewModel;
@using HelpMyStreetFE.Models.Feedback;

@{ ViewData["Title"] = "Home Page"; }
@section Scripts {
    <script src="~/homepage.js" asp-append-version="true"></script>
    <script src="~/stickynav.js" asp-append-version="true"></script>
}
<div class="outer-container homepage-banner-container">
    <div class="homepage-banner-image">
        <h1>
            The platform that helped local people look after each other
        </h1>
        <div class="closed-image">
            <img src="/img/closed.png" alt="Sorry, we're closed" />
        </div>
    </div>
    <partial name="_NewsTicker" model="Model.NewsTickerMessages" />
</div>

<div class="outer-container mt-md">
    <div class="container pt-md pb-md">
        <div class="row justify-center card">
            <p class="row sm12 mt-sm mb-sm subtitle">
                HelpMyStreet has now closed.  We would like to thank everybody who offered their time
                as a volunteer and the organisations who partnered with us to make volunteering safer.
            </p>
            <p class="row sm12 mt-sm mb-sm subtitle">
                Best wishes,
            </p>
            <p class="row sm12 mt-sm mb-xs subtitle">
                The HelpMyStreet Team
            </p>
        </div>
    </div>
</div>


