@using HelpMyStreetFE.Models.Home;

@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
<script>
    const configuration = {
        firebase: @Html.Raw(Json.Serialize(@Model.FirebaseConfiguration)),
        actionCode: '@Model.ActionCode'
        };
</script>

<partial name="_SiteHeaderPublic" />
<div class="container">
    <form id="reset-password-form" method="post">
        <div class="forgotton">
            <div class="forgotton__page">
                <div class="forgotton__page__header"><h1>Choose your new Password</h1></div>
                <div class="forgotton__page__text">
                    <p>Please Choose a new password as you can't resue your old password.</p>
                    <p>
                        It must be 10 or more characters and contain a mix of:
                        <ul>
                            <li>Numbers (1 2 3)</li>
                            <li>Lower case letters (small)</li>
                            <li>Upper case letters (CAPITALS)</li>
                        </ul>
                    </p>
                    <p>Please enter your new password:</p>
                </div>
                <div class="forgotton__page__input input">
                    <input type="password" name="password" />
                    <span class="error"></span>
                </div>
                <div class="forgotton__page__button">
                    <partial name="_LoadingSpinner" />
                    <button id="submitbtn" class="btn cta">Reset Password</button>
                </div>
            </div>
        </div>
    </form>

    <div class="forgotton__page" id="expired_link">
        <div class="forgotton__page__header">
            <h1>This Password reset link has expired</h1>
        </div>
        <div class="forgotton__page__text">
            <p> This link has already been used <a href="@Url.Action("ForgottonPassword")">Click here to reset your Password</a></p>
        </div>
        <div class="forgotton__page__icon"> <img src="~/img/sad-face.svg" /></div>
    </div>


    <div class="forgotton__page" id="logging-in">
        <div class="forgotton__page__header">
            <h1>Password Changed</h1>
        </div>
        <div class="forgotton__page__text">
            <p>Taking you to your account... </p>            
        </div>
        <div class="forgotton__page__icon"> <img src="~/img/icons/green-tick.svg" /></div>
    </div>
</div>