@model LoginViewModel
<script>
     const configuration = { firebase: @Html.Raw(Json.Serialize(@Model.FirebaseConfiguration))};
</script>
<article id="header-login" class="header-login pl-sm pr-sm pt-sm collapsed">
    <div id="header-login__toggle" class="header-login__collapsed-nav">
        <button id="header-login__btn--toggle" class="btn header-login__btn--toggle transparent blue border-blue mr-sm">Log In</button>
        <a href="/registration/step-one" class="btn btn--sign-up cta">Sign Up Now</a>
    </div>
    <div id="header-login-form" class="header-login__form">
        <header class="header-login__form-header mt-sm">
            <h3 class="header-login__title">Log In</h3>
            <button class="header-login__btn--toggle btn--close">
                <svg xmlns="" viewBox="0 0 100 100" class="icon--close" width="32" height="32">
                    <circle cx="50" cy="50" r="50" class="bg" />
                    <path d="M30,30 L70,70 M30,70 L70,30" class="cross" stroke-linecap="round" />
                </svg>
            </button>
        </header>
        <div class="header-login__input pt-sm pb-sm mr-sm">
            <label for="email">Email address</label>
            <input type="email" placeholder="Email Address" id="email" />
            <span id="login-fail-message" class="login__fail-message"></span>
        </div>
        <div class="header-login__input pt-sm pb-sm mr-md">
            <label for="password">Password</label>
            <input type="Password" placeholder="Password" id="password" />
            <span><a href="/forgotten-password" class="link--forgot-pw">Forgotten password?</a></span>
        </div>

        <div class="header-login__btn pt-sm pb-sm">
            <button class="btn btn--login transparent blue border-blue mr-sm login-submit-handler" id="login-submit">
                <span class="text">Log In</span>
                <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Log In", ShowDarkSpinner= true}' /></div>
            </button>
            <a href="@Model.SignUpURL" class="btn btn--sign-up cta">Sign Up Now</a>
        </div>
    </div>
</article>