@import "../..//mixins/typography/titles";
@import "../..//mixins/typography/copy";
@import "../../mixins/effects";
@import "../../variables";
.notification {
    &__card {

        @include shadow-md;
        padding: 30px 30px 30px 0px;
        width: 100%;
        background-color: $green-transparent;
        border: 1px solid $green;
        border-radius: 4px;
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        padding: 10px;

        @media screen and (min-width: $sm-screen) {
            grid-template-columns: 170px 1fr;
            padding: 0px;
        }

        &.failure {
            @extend .border-orange;
            background: $washed-orange;

            .notification__icon__wrapper {
                background: $light-orange-opaque;
            }
        }
    }

    &__icon {
        height: 55px;
        width: 55px;


        &__wrapper {
            margin: auto;
            grid-column: 1;
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            display: none;
            background: $green-transparent-1;
            border-radius: 55px;
            padding: 23px;
            width: 100px;
            height: 100px;


            @media screen and (min-width: $sm-screen) {
                display: block;
            }
        }
    }

    &__content {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        padding: 28px 28px 28px 0px;
    }

    &__button {
        width: 100%;

        @media screen and (min-width: $sm-screen) {
            width: 80%;
        }
    }

    &__title {
        color: $sub-title-blue;
        @include title-sz-6;
        margin-bottom: 15px;
    }

    &__message {
        color: $p-color;
        @include copy-sz-lg;
        margin-bottom: 15px;

        &__smaller {
            font-size: inherit;
        }
    }

    &__close {
        height: 10px;
        width: 10px;
        margin-top: 10px;
        margin-left: 10px;
        position: relative;

        &__wrapper {
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            background-color: #eef5ed;
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            margin: auto;
        }
    }
}
