<nav class="account__nav mr-md">
    <ul class="account__nav__list m-0 p-0">
        <li class="account__nav__item">
            <a href="#" class="selected">My Profile</a>
        </li>
        <li class="account__nav__item">
            <a href="#">Coming Soon...</a>
        </li>
    </ul>
</nav>