﻿<div class="verification-panel">
    <div class="user-profile profile-panel p-md">
        <header class="profile-panel__header">
            <h3 class="profile-panel__title">Accepted Requests</h3>
            <p>Requests for help that you’ve accepted</p>
        </header>
    </div>
</div>
