

<article class="user-profile profile-panel p-md">
    <header class="profile-panel__header">
        <h3 class="profile-panel__title">Coming Soon</h3>
    </header>

    <article class="profile">        
        <div class="profile__text">
            <p>Hi there. Thank-you for being one of the first 200 people to use HelpMyStreet. This is still the Beta (ie early) version.</p>
            <p>If you are seeing this page then you will have successfully registered and also passed the ID & Verification stage with a valid driving license or passport.</p>
            <p> 
                If you are a Street Champion:</p>
                <ul>
                    <li>You will now be able to see contact details of other Street Champions and Helpers close by on the “My Streets” tab</li>
                    <li>And if there is a “Request for Help” you will be automatically emailed with details of what is needed</li>
                </ul>
         
                <p>
                    If you are a Helper:
                </p>
                <ul>
                    <li>A Street Champion may get in touch with you to introduce themselves</li>
                    <li>And a Street Champion might get in touch with you to help with a relevant task that needs doing.</li>
                </ul>
          
                <p>
                    We will shortly be improving the platform:
                </p>
                <ul>
                    <li>We'll be adding more maps features to help everyone visualise where volunteers are and where people in need are</li>
                    <li>We'll be adding more automated task management, so that volunteers (our collective name for Street Champions and Helpers) will be able to see the list of work that needs completing and will be able to pick a task to complete</li>
                </ul>
          

            <p>Finally – please tell us what you’d like this platform to do for you by sending us your ideas to <a href="mailto:feedback@helpmystreet.org">feedback@helpmystreet.org</a></p>
        </div>
    </article>
</article>