<article class="contact-preference p-lg pt-md">
  <header class="contact-preference__header">
    <h4 class="contact-preference__title m-0">My contact preferences</h4>
    <partial name="_InfoPopup" />
  </header>

  <div class="contact-preference__question">
    <p>How would you prefer to be contacted by HelpMyStreet?</p>
    <div class="contact-preference__options">
      <div class="form-group">
        <input id="hms-contact--email" type="checkbox" name="hmsContactPreference[]" value="email" />
        <label for="hms-contact--email">Email</label>
      </div>
      <div class="form-group">
        <input id="hms-contact--whatsapp" type="checkbox" name="hmsContactPreference[]" value="sms-whatsapp" />
        <label for="hms-contact--whatsapp">SMS / Whatsapp</label>
      </div>
    </div>
  </div>

</article>