@using HelpMyStreetFE.Models.Account
@using HelpMyStreetFE.Enums.Account
@using HelpMyStreetFE.Models.Account.Jobs;
@using HelpMyStreet.Utils.Enums;

@model AccountViewModel

<div class="user-profile profile-panel p-md">
    <header class="profile-panel__header">
        <h3 class="profile-panel__title">@Model.CurrentGroup.GroupName Requests</h3>
        <p>Requests submitted to @Model.CurrentGroup.GroupName</p>
    </header>

    <div class="job-filter-panel">
        @await Component.InvokeAsync("JobFilterPanel", new JobFilterViewModel()
   {
       JobStatuses = new List<FilterField<JobStatuses>>() {
                new FilterField<JobStatuses>() { Value = JobStatuses.Cancelled, Label = "Cancelled" },
                new FilterField<JobStatuses>() { Value = JobStatuses.Done, Label = "Done" },
                new FilterField<JobStatuses>() { Value = JobStatuses.InProgress, Label = "In Progress" },
                new FilterField<JobStatuses>() { Value = JobStatuses.Open, Label = "Open" }
            },
       DueInNextXDays = new List<FilterField<int>>()
       {
           new FilterField<int>{Value = 1, Label = "Today" },
           new FilterField<int>{Value = 7, Label = "This week"},
           new FilterField<int>{Value = 14, Label = "Next 2 weeks"},
           new FilterField<int>{Value = 999, Label = "Show all"}
       },
   })
    </div>

    <div class="job-filter-results-panel">
        @await Component.InvokeAsync("JobList", new
        {
            JobSet = JobSet.GroupRequests,
            GroupId = Model.CurrentGroup.GroupId
        })
    </div>

</div>