@using HelpMyStreetFE.Models.Account

@model AccountViewModel

<div class="user-profile profile-panel p-md">
    <header class="profile-panel__header">
        <h3 class="profile-panel__title">@Model.CurrentGroup.GroupName Volunteer List</h3>
    </header>

    <div class="">
        @await Component.InvokeAsync("VolunteerList", new
        {
            GroupId = Model.CurrentGroup.GroupId
        })
    </div>

</div>