<div class="info-popup">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="info-popup__icon">
    <circle cx="50" cy="50" r="50" fill="#1E91D61A" />
    <!-- i graphic -->
  </svg>
  <!-- popup content -->
</div>