@model HelpMyStreetFE.Models.Account.UserDetails;

<article class="mini-user-profile">
  <div class="mini-user-profile__avatar mr-md">
    <partial name="_UserAvatar" />
  </div>
  <div class="mini-user-profile__body">
    <h4 class="mini-user-profile__user-name m-0">@Model.DisplayName</h4>
    <div>@Model.StreetChampion</div>
  </div>
</article>