@model HelpMyStreetFE.Models.Account.StreetsViewModel;

@{
    var viewModel = Model;

}
<article class="user-profile profile-panel p-md">
    <header class="profile-panel__header">
        <h3 class="profile-panel__title">My Streets</h3>
    </header>

    <article class="profile">
        <p class="desktop">
            Because of your Street Champion status, you can see contact details of people who are able to help you
        </p>
        <p class="mobile">Contact details for volunteers who share your postcodes</p>
            <ul class="desktop">
                <li>Street Champions are shown if they have signed up to that street and postcode</li>
                <li>Helpers are shown if the street falls within the area they are happy to serve</li>
            </ul>
      
        @Html.DisplayFor(x => x.Streets)
    </article>
</article>