<div class="verification-panel">
    <div class="user-profile profile-panel p-md">
        <header class="profile-panel__header">
            <h3 class="profile-panel__title">Open Requests</h3>
            <p>Help that’s needed near you</p>
        </header>
    </div>
</div>
