@using HelpMyStreetFE.Models.Account
@using HelpMyStreetFE.Enums.Account
@using HelpMyStreetFE.Models.Account.Jobs;

@model AccountViewModel

@{
    bool NoJobsToDisplay = false;

    var jobsList = await Component.InvokeAsync("JobFilterPanel", new
    {
        jobFilterViewModel = new JobFilterViewModel()
        {
            ListViewComponent = "JobList",
            PanelId = "open-requests",
            JobFilterRequest = new JobFilterRequest() { JobSet = JobSet.UserOpenRequests, ResultsToShow = 20, ResultsToShowIncrement = 20, HighlightJobId = Model.HighlightJobId, HighlightRequestId = Model.HighlightRequestId },
            EmptyJobSetCallback = new Action(() => NoJobsToDisplay = true),
        }
    });

}

<div class="verification-panel">
    <div class="user-profile profile-panel p-md">
        <header class="profile-panel__header">
            <h3 class="profile-panel__title">Open Requests</h3>
        </header>

        <div class="profile">

            @if (NoJobsToDisplay)
            {
                <div class="profile__empty">
                    <p class="profile__empty__title">Everyone's taken care of!</p>
                    <p class="profile__empty__text">
                        Please come back later to check for new Open Requests for help and support - they’re being added all the time.
                        We’ll also send you email notifications of new requests.
                    </p>
                    <p class="profile__empty__title">Thank You!</p>
                </div>
            }
            else
            {
                <h6>Requests meeting the criteria you set when you signed up</h6>

                <div class="job-filter-panel">
                    @jobsList
                </div>
            }
        </div>
    </div>
</div>
