@using HelpMyStreetFE.Models.Account
@using HelpMyStreetFE.Enums.Account
@using HelpMyStreetFE.Models.Account.Jobs;

@model AccountViewModel

@{
    bool NoCriteriaJobsToDisplay = false;
    bool NoNonCriteriaJobsToDisplay = false;

    var criteriaJobsList = await Component.InvokeAsync("JobFilterPanel", new
    {
        jobFilterViewModel = new JobFilterViewModel()
        {
            ListViewComponent = "JobList",
            PanelId = "criteria-requests",
            JobFilterRequest = new JobFilterRequest() { JobSet = JobSet.UserOpenRequests_MatchingCriteria, ResultsToShow = 20, ResultsToShowIncrement = 20, HighlightJobId = Model.HighlightJobId, HighlightRequestId = Model.HighlightRequestId },
            EmptyJobSetCallback = new Action(() => NoCriteriaJobsToDisplay = true),
        }
    });

    var nonCriteriaJobsList = await Component.InvokeAsync("JobFilterPanel", new
    {
        jobFilterViewModel = new JobFilterViewModel()
        {
            ListViewComponent = "JobList",
            PanelId = "non-criteria-requests",
            JobFilterRequest = new JobFilterRequest() { JobSet = JobSet.UserOpenRequests_NotMatchingCriteria, ResultsToShow = 20, ResultsToShowIncrement = 20, HighlightJobId = Model.HighlightJobId, HighlightRequestId = Model.HighlightRequestId },
            User = @Model.UserDetails.User,
            EmptyJobSetCallback = (() => NoNonCriteriaJobsToDisplay = true)
        }
    });

}

<div class="verification-panel">
    <div class="user-profile profile-panel p-md">
        <header class="profile-panel__header">
            <h3 class="profile-panel__title">Open Requests</h3>
        </header>

        <div class="profile">

            @if (NoCriteriaJobsToDisplay && NoNonCriteriaJobsToDisplay)
            {
                <div class="profile__empty">
                    <p class="profile__empty__title">Everyone's taken care of!</p>
                    <p class="profile__empty__text">
                        Please come back later to check for new Open Requests for help and support - they’re being added all the time.
                        We’ll also send you email notifications of new requests.
                    </p>
                    <p class="profile__empty__title">Thank You!</p>
                </div>
            }
            else
            {
                <h6>Requests meeting the criteria you set when you signed up</h6>

                <div class="job-filter-panel">
                    @criteriaJobsList
                </div>

                @if (NoCriteriaJobsToDisplay)
                {
                    <div class="profile__empty">
                        <p class="profile__empty__text--left">
                            There are no open requests at present which meet the criteria you specified when you signed up
                        </p>
                    </div>
                }

                <h6 class="mt-lg">Other requests you may be interested in</h6>

                @if (NoNonCriteriaJobsToDisplay)
                {
                    <div class="profile__empty">
                        <p class="profile__empty__text--left">
                            There are no further open requests nearby at present
                        </p>
                    </div>
                }
                else
                {
                    <div class="job-filter-panel">
                        @nonCriteriaJobsList
                    </div>
                }
            }
        </div>
    </div>
</div>
