@using HelpMyStreet.Utils.Models
@using HelpMyStreetFE.Models.Account

@model AccountViewModel

@{
    var Jobs = (OpenJobsViewModel)Model.PageModel;
}

<div class="verification-panel">
    <div class="user-profile profile-panel p-md">
        <header class="profile-panel__header">
            <h3 class="profile-panel__title">Open Requests</h3>
            <p>Help that’s needed near you</p>
        </header>

        <div class="profile">
            @if (Jobs.CriteriaJobs.Count() == 0)
            {
                <div class="profile__empty">
                    <p class="profile__empty__title">Everyone's taken care of!</p>
                    <p class="profile__empty__text">
                        Please come back later to check for new Open Requests for help and support - they’re being added all the time.
                        We’ll also send you email notifications of new requests.
                    </p>
                    <p class="profile__empty__title">Thank You!</p>
                </div>
            }
            else
            {
                <div class="profile__section">
                    <p>Requests meeting the critera you set when you signed up</p>
                    @Html.DisplayFor(x => Jobs.CriteriaJobs, new { UserIsVerified = false });
                </div>
            }



            @if (Jobs.OtherJobs.Count() == 0)
            {
                <div class="profile__empty">
                    <p class="profile__empty__title">Everyone's taken care of!</p>
                    <p class="profile__empty__text">
                        Please come back later to check for new Open Requests for help and support - they’re being added all the time.
                        We’ll also send you email notifications of new requests.
                    </p>
                    <p class="profile__empty__title">Thank You!</p>
                </div>
            }
            else
            {
                <div class="profile__section">
                    <p>Other Requests</p>
                    @Html.DisplayFor(x => Jobs.OtherJobs, new { UserIsVerified = false });
                </div>

            }
        </div>
    </div>
</div>
