@using HelpMyStreetFE.Models.Account;

@model AccountViewModel

    <div class="user-profile profile-panel p-md">
        <header class="profile-panel__header">
            <h3 class="profile-panel__title">@Model.CurrentGroup.GroupName Reports</h3>
        </header>

        @*<div class="">
             @await Component.InvokeAsync("Report", new
        {
            groupId = Model.CurrentGroup.GroupId,
            chart = HelpMyStreet.Utils.Enums.Charts.ActivitiesByMonth,
            chartType = HelpMyStreet.Utils.Enums.ChartTypes.Bar
        })
         </div>*@

        <div class="mt-xl">
            <h3>Request volume by due date and recent status</h3>
            @await Component.InvokeAsync("Report", new
       {
           groupId = Model.CurrentGroup.GroupId,
           chart = HelpMyStreet.Utils.Enums.Charts.RequestVolumeByDueDateAndRecentStatus,
           chartType = HelpMyStreet.Utils.Enums.ChartTypes.Bar,
           dateFrom = $"{DateTime.UtcNow.Date.AddMonths(-13):yyyy-MM-dd}",
           dateTo = $"{DateTime.UtcNow.Date:yyyy-MM-dd}"
       })
        </div>

        <div class="mt-xl">
            <h3>Request volume by activity type</h3>
            @await Component.InvokeAsync("Report", new
       {
           groupId = Model.CurrentGroup.GroupId,
           chart = HelpMyStreet.Utils.Enums.Charts.RequestVolumeByActivityType,
           chartType = HelpMyStreet.Utils.Enums.ChartTypes.Bar,
           dateFrom = $"{DateTime.UtcNow.Date.AddMonths(-13):yyyy-MM-dd}",
           dateTo = $"{DateTime.UtcNow:yyyy-MM-dd}"
       })
        </div>

        <div class="mt-xl">
            <h3>Recently active volunteers by volume of accepted requests (activity from the last 14 days)</h3>
            @await Component.InvokeAsync("Report", new
       {
           groupId = Model.CurrentGroup.GroupId,
           chart = HelpMyStreet.Utils.Enums.Charts.RecentlyActiveVolunteersByVolumeOfAcceptedRequests,
           chartType = HelpMyStreet.Utils.Enums.ChartTypes.Pie,
           dateFrom = $"{DateTime.UtcNow.Date.AddMonths(-13):yyyy-MM-dd}",
           dateTo = $"{DateTime.UtcNow.Date:yyyy-MM-dd}"
       })
        </div>

       <div class="mt-xl">
           <h3>New volume users by type</h3>
            @await Component.InvokeAsync("Report", new
       {
           groupId = Model.CurrentGroup.GroupId,
           chart = HelpMyStreet.Utils.Enums.Charts.VolumeOfUsersByType,
           chartType = HelpMyStreet.Utils.Enums.ChartTypes.Bar,
           dateFrom = $"{DateTime.UtcNow.Date.AddMonths(-13):yyyy-MM-dd}",
           dateTo = $"{DateTime.UtcNow.Date:yyyy-MM-dd}"
       })
        </div>
    </div>