<article class="profile p-lg">
  <dl class="profile__user-data">
    <div class="profile__user-data__item">
      <dt class="flex">Display name @Html.Partial("_InfoPopup")</dt>
      <dd>xxx</dd>
    </div>

    <div class="profile__user-data__item">
      <dt>Email address</dt>
      <dd>xxx</dd>
    </div>
    <div class="profile__user-data__item">
      <dt>First name</dt>
      <dd>xxx</dd>
    </div>
    <div class="profile__user-data__item">
      <dt>Last name</dt>
      <dd>xxx</dd>
    </div>
  </dl>

  <dl class="profile__user-data__item">
      <dt>Address</dt>
      <dd>9 Glasgow Street, Glasgow, G1 1AG, United Kingdom</dd>
  </dl>

  <dl class="profile__user-data">
    <div class="profile__user-data__item">
      <dt>Mobile number</dt>
      <dd>xxx</dd>
    </div>
    <div class="profile__user-data__item">
      <dt>Other number</dt>
      <dd>xxx</dd>
    </div>

    <div class="profile__user-data__item">
      <dt>Date of birth</dt>
      <dd>XX/XX/XXXX</dd>
    </div>

    <div class="profile__user-data__item">
      <dt>Gender</dt>
      <dd>XXX</dd>
    </div>
  </dl>

  <dl class="profile__user-data__item">
    <dt class="flex"><div>Do you have any underlying medical conditions which put you at high risk from coronavirus?</div> @Html.Partial("_InfoPopup")</dt>
    <dd>No</dd>
  </dl>
</article>