@model HelpMyStreetFE.Models.Account.UserDetails;

<header class="account__header__wrapper">
    <div class="account__header container pt-lg pb-lg">
        <img class="account__header__logo" src="~/img/logos/HelpMyStreet_logo.svg" />
        <div class="account__header__user__wrapper">
            <div class="account__header__user">@Model.Initials</div>
        </div>
    </div>
</header>