@model HelpMyStreetFE.Models.Account.AccountViewModel;

    <div class="account__wrapper">
        <partial name="_UserHeader" for="UserDetails" />
        <partial name="_NotificationHandler" for="Notifications" />
    </div>