@model HelpMyStreetFE.Models.Account.AccountViewModel;
@using HelpMyStreetFE.Enums.Account

@section Scripts {
    <script src="~/profile.js" asp-append-version="true"></script>
}

@{
    ViewBag.Title = "My Profile";

}

<main class="account__wrapper container">
    @*<partial name="_NotificationHandler" for="@Model.Notifications" />*@

    <div class="mb-md">
        <partial name="_MiniUserProfile" for="@Model.UserDetails" />
    </div>

  
    <div class="account__body">
        <partial name="_AccountNavigation" />
        <partial name="_Verification" />
        @switch (Model.CurrentPage)
        {
            case MenuPage.MyStreets:
                <partial name="_MyStreets" for="@Model.PageModel" />
                break;
            case MenuPage.ComingSoon:
                <partial name="_ComingSoon" />
                break;
            default:
                <partial name="_UserData" for="@Model.PageModel" />
                break;
        }


    </div>
        
</main>
