@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}
<script>
    const configuration = { firebase: @Html.Raw(Json.Serialize(@Model.FirebaseConfiguration)) }
</script>
<partial name="_SiteHeaderOnlyLogo" />
<div class="container login">
    <div class="row  justify-center ">
        <div class="sm6">
            <div class="card">
                <div class="login__header text-center">Log In</div>
                <form id="login-form" onsubmit="return false;">
                    <div class="input">
                        <label for="email">Email</label>
                        <input name="email" type="text" id="email" placeholder="Email" />
                        <span class="error"></span>
                    </div>
                    <div class="input">
                        <label for="password">Password</label>
                        <input name="password" id="password" type="password" placeholder="Password" />
                        <span class="error"></span>
                    </div>
                    <span id="login-fail-message" class="login__fail-message-main"></span>
                    <div><a class="login__link" href="/forgotten-password"> Forgotten Password?</a></div>
                    <div class="controls">
                        <button class="btn cta large fill login-submit-handler" id="login-submit" type="submit">
                            <span class="text">Submit</span>
                            <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Logging in..."}' /></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="sm6">
            <div class="login__side">
                <div class="login__header">Helping people shelter safely at home...</div>
                <div class="login__side__text">
                    <p>
                        HelpMyStreet is working with communities to get help and support to people who need to shelter safely at home. Many of these people live far from friends and family and don’t have a local support network. HelpMyStreet gets the right help to the right people so that no one is left out.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>

