@model HelpMyStreetFE.Models.Account.Jobs.JobStatusChangePopupViewModel;

<p>It will appear on your “My Accepted Requests” page and you’ll be able to view more information about it.</p>
<p>Please use the information in the request to fulfil it as soon as possible (this may involve contacting the recipient) – the ball’s in your court, someone may be depending on you.</p>
<p>The requester will be notified that their request has been accepted, but won’t be given your contact details.</p>

@if(Model.JobSummary.ReferringGroupID != (int)HelpMyStreet.Utils.Enums.Groups.Generic)
{
    <p>This request was made via <b>@Model.JobSummary.ReferringGroupID</b>. When you accept this request by clicking “Continue” below, your details will become visible to their administrator(s), who may use these details only in relation to this request.</p>
}

<p>Thank you for helping people in your community to stay safe.</p>
