@model HelpMyStreetFE.Models.Feedback.TestimonialsViewModel;
@using HelpMyStreetFE.Models.Feedback;

<script type="text/javascript" src="~/testimonials.js" asp-append-version="true"></script>

<div class="ml-md mr-md">
    @if (Model.Testimonials.Count() > 0)
    {
        <div><strong>Testimonials</strong></div>
        <div class="feedback-message">
            @foreach (Testimonial testimonial in Model.Testimonials)
            {
                <div class="card-feedback mr-sm ml-sm mb-sm">
                    <div class="card-feedback-inner">                        
                        @if (!string.IsNullOrEmpty(testimonial.Tagline))
                        {
                        <h3>&ldquo;@testimonial.Tagline&bdquo;</h3>
                        }
                        else
                        {
                            <h3></h3>
                        }
                        <p>@testimonial.Message</p>
                        <p class="person">@testimonial.Person</p>
                    </div>
                </div>
            }
        </div>
    }
</div>
