@import "./account-nav";
@import "../components/mini-user-profile/mini-user-profile";
@import "../components/mini-user-profile/user-avatar";

.account {
  &__notifications {
    max-width: $content-max-width;

    &__wrapper {
      margin: auto;
    }
  }

  @media screen and (min-width: $med-screen) {
    &__body {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 0.3fr 1fr;
      -ms-grid-columns: 0.3fr 1fr;
      grid-template-areas: "nav verificationpanel" "nav profilepanel";
      grid-template-rows: auto auto;

      .verification-panel {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: verificationpanel;
      }

      .profile-panel {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
      }

      .account__nav {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        margin-right: 27px; /*1.6666rem;*/
        grid-area: nav;
      }
    }
  }
}

.verification-panel {
  margin-bottom: 10px;

  .yoti__auth__button {
    div {
      min-height: 1px;
      /* Except for IE11 */
      @media all and (-ms-high-contrast:none) {
        min-height: inherit;
      }
    }
  }
}

.account__notifications {
  margin-top: 50px;
  margin-bottom: 50px;
}
