.account__wrapper {
    .account__nav {
        @media screen and (max-width: $med-screen) {
            display: none;
        }
    }
}

.account__nav {
    &__item {
        list-style: none;

        a, &.my-groups {
            display: block;
            border: 1px solid $gray-10;
            border-radius: 4px;
            margin-bottom: 8px; /*0.5rem*/
            padding: 8px 16px; /*0.5rem 1rem*/
            color: $black;
            font-weight: 600;
            text-decoration: none;

            .count {
                position: absolute;
                min-width: 30px;
                right: -12px;
                top: -7px;
                border-radius: 15px;
                padding: 1px 7px;
                text-align: center;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.29);

                .number {
                    font-size: 12px;
                    color: $white;
                }

                &.updated {
                    @keyframes update {
                        from {
                            opacity: 0;
                        }

                        to {
                            opacity: 1;
                        }
                    }

                    .number {
                        animation-name: update;
                        animation-duration: 3s;
                    }
                }
            }
        }

        &.my-groups {
            margin-top: 2rem;

            ul {
                padding-left: 0;
                padding-top: 0.5rem;

                a {
                    transition: background 0.5s;
                }

                a:hover {
                    background: white;
                    transition: background 0.1s;
                }
            }

            @media screen and (max-width: $med-screen) {
            }
        }

        a.selected {
            background-color: white;
        }

        &.group-link {
            a {
                border: none;
            }
        }


        &.submenu__container {
            ul {
                display: none;
            }

            @media screen and (max-width: $med-screen) {
                > a {
                    span.count {
                        display: none;
                    }
                }

                ul {
                    display: block;
                }
            }
        }
    }
}
