.account__nav {
    @media screen and (max-width: $med-screen) {
        margin-bottom: 20px;
    }

    &__item {
        list-style: none;

        a {
            display: block;
            border: 1px solid $gray-10;
            border-radius: 4px;
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            color: $black;
            font-weight: 600;
            text-decoration: none;

            .count {
                position: absolute;
                min-width: 29px;
                right: -12px;
                top: -9px;
                font-size: 12px;
                background: $green;
                border-radius: 15px;
                padding: 1px 7px;
                color: $white;
                text-align: center;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.29);
            }
        }

        a.selected {
            background-color: white;
        }

        &.submenu__container {
            ul {
                display: none;
            }
        }
    }
}
