@import "./account-nav";

.account {
  &__header {
    &__logo {
      height: 53px;
    }
    &__user {
      $circle-dimensions: 50px;
      height: $circle-dimensions;
      width: $circle-dimensions;
      border-radius: 64px;
      background-color: $user-circle-background;
      font-size: 16px;
      line-height: $circle-dimensions;
      text-align: center;
      cursor: default;
      &__wrapper {
        float: right;
      }
    }
    &__wrapper {
      margin: auto;
      border-bottom: 1px solid $gray-10;
    }
  }

  &__notifications {
    max-width: $content-max-width;
    &__wrapper {
      margin: auto;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 13rem 1fr;
    // grid-gap: 1rem;
  }
}
