@import "../components/about/contact-us";
@import "../components/about/associated-organisations";

.content-page--contact-us {
    /* Until we get photography */
    .placeholder {
        max-width: 380px;
        max-height: 380px;
    }

    .content-page {

        &__section {
            display: block;

            &--outer {
                /* Darker background every other row 
        &:nth-child(even) {
          background-color: $background-darker-1;
        }*/
            }

            &__inner {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2rem 2rem;
            }

            @media screen and (min-width: $med-screen) {
                display: grid;
                grid-template-columns: 1fr 1fr;

                &--reverse {
                    > div:nth-child(1) {
                        grid-column: 2;
                        grid-row: 1;
                    }

                    > div:nth-child(2) {
                        grid-column: 1;
                        grid-row: 1;
                    }
                }
            }
        }
    }
}
