@import "../mixins/typography/copy";
@import "../mixins/effects";
@import "./about-us";
@import "./contact-us";

.content-page {
  ul,
  ol {
    margin-bottom: $xs-margin;
    li {
      @extend p;
      margin-bottom: $xxs-margin;
    }
  }

  a {
    color: $blue;
    transition: color 0.5s;

    &:hover {
      color: $green;
      transition: color 0.1s;
    }
  }

  table {
    margin-bottom: $med-margin;
    border-spacing: 0px;

    th {
      background-color: $background-darker-1;
    }

    th {
      padding: 0.5rem;
    }

    tr {
      td {
        padding: 0.5rem 0;

        &:not(:nth-last-child(2)) {
          padding-right: 0.5rem;
        }

        @media screen and (min-width: $sm-screen) {
          padding: 0.5rem;
       }
      }
    }

    th,td {
      text-align: start;
      border-bottom: 1px solid $gray-8;
      margin: 0;
    }
  }
}

/** Space at top of content pages */
.content-page--community,
.content-page--about-us,
.content-page--resources {
  .content-page {
    &__header {
      margin-top: $lg-margin;
    }
  }
}
