


.activity-tiles {
    &__tile {
        text-align:center;
        background: white;
        padding: 10px;
        width: 100%;
        margin: 10px;
        height: 200px;
        @include shadow-md;
        border-radius: 3px;

        &.dark-blue {
            color: $dark-blue;
        }

        &.blue {
            color: $blue;
        }

        &.light-purple {
            color: $light-purple;
        }
        &__content{

        &__header{
            font-weight:600;
            font-size:1.5em;
            margin-bottom:10px;

            
        }

        &__description{
            color: $black;
        }
        }
    }
}
