

@import '../components/tiles/tiles';

.request-help {


    span,
    a {
        font-size: 1em;
    }

    p {
        font-size: 1.2em;
    }


    .edit-button {
        background: none;
        border: none;
        text-decoration: underline;
        float: right;
        cursor: pointer;
    }


    .min-height {
        min-height: 305px;
    }

    h2 {
        text-align: center;
        margin: 30px 0;
    }

    .input {
        margin-top: 20px;


        .small-width {
            width: 149px;
            margin-bottom: 14px;
            display: block;
        }

        .inline {
            display: inline;
        }

        select {
            font-size: 1.2rem;
            padding-left: 10px;
        }

        .manual_entry {
            text-decoration: underline;
            cursor: pointer;
        }

        .edit-address {
            font-weight: 500;
            font-size: 1rem;
            float: right;
        }


        select:focus {
            outline-color: $light-orange;
        }

        &.input--checkbox,
        &.input--radio {
            label {
                font-weight: 500;

                &.selected {
                    font-weight: 600;
                }
            }
        }

        &.input--checkbox {
            .mdi {
                &.mdi-check {
                    font-size: 20px;
                }
            }
        }

        label {
            display: block;
            position: relative;
            font-size: 1.2em;
            top: 0;
            margin-bottom: 10px;

            p {
                font-size: inherit;
                line-height: inherit;
                margin: 0;
            }
        }

        textarea {
            width: 100%;
            min-height: 150px;
            font-size: 1.2em;
        }

        :invalid ~ .error {
            display: block;
        }
    }

    .btn-wrapper {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid $gray-10;

        .right {
            float: right;
        }

        button {
            min-width: 250px;
        }
    }

    .user-detail {
        margin-bottom: 20px;

        .input {
            a.input__link {
                position: relative;
                bottom: 0;
            }

            &.find-address {
                margin-top: 55px;
            }
        }
    }

    .lowercase {
        text-transform: lowercase;
    }

    form[selected-activity="FaceMask"] {
        *[hide-tile-when*="activity:FaceMask"] {
            display: none;
        }
    }

    form[selected-activity="VolunteerSupport"] {
        *[hide-tile-when*="activity:VolunteerSupport"] {
            display: none;
        }
    }

    form[selected-activity="VaccineSupport"] {
        *[hide-tile-when*="activity:VaccineSupport"] {
            display: none;
        }
    }

    form[selected-activity="Other"] {
        *[hide-tile-when*="activity:Other"] {
            display: none;
        }
    }

    form[selected-activity="AdvertisingRoles"] {
        *[hide-tile-when*="activity:AdvertisingRoles"] {
            display: none;
        }
    }

    *[show-tile-when*="repeats:true"] {
        display: none;
    }

    form[selected-repeat="true"] {
        *[hide-tile-when*="repeats:true"] {
            display: none;
        }

        *[show-tile-when*="repeats:true"] {
            display: initial;
        }
    }

    form[selected-repeat="false"] {
        *[hide-tile-when*="repeats:false"] {
            display: none;
        }
    }
}
