@import "../mixins/typography/copy";
@import "../mixins/effects";

.style-guide {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));
  
  &__category {
    margin: 1rem;
    padding: 1rem;
    @include shadow-md;

    &.typography {      
      display: grid;
      grid-template-columns: 1fr;

      @media screen and (min-width: $med-screen) {
        grid-template-columns: 1fr 1fr;
      }

      > div {
        margin-right: 1rem;
      }
    }
  }

  &__definition {
    border-bottom: 1px solid #ccc;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .code {
      background-color: #444;
      color: #ff0;
      padding: 0.5rem;
      @include copy-sz-sm;
    }
  }

  .list {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;    
    }
  }
}