
@mixin copy-sz-xs {
  font-size: 0.75rem;
  line-height: 1.333;
}

@mixin copy-sz-sm {
  font-size: 0.889rem;
  line-height: 1.333;
}

// for most paragraphs
@mixin copy-sz-md {
  font-size: 1rem;
  line-height: 1.333;
}

// for exposition copy paragraph under the main Header title
@mixin copy-sz-lg {
  font-size: 1.333rem;
  line-height: 1.333;
}