@mixin title-sz-1 {
  font-size: 11vw;
  line-height: 1.286;

  @media screen and (min-width: $sm-screen) {
    font-size: 3.111rem;
    font-weight: 700;
  }
}

@mixin title-sz-2 {
  font-size: 6vw;
  line-height: 1.273;
  font-weight: 700;

  @media screen and (min-width: $sm-screen) {
    font-size: 1.77rem;
  }
}

@mixin title-sz-3 {
  font-size: 7.214vw;
  font-weight: 1.333;
  font-weight: 700;
  @media screen and (min-width: $sm-screen) {
    font-size: 1.77rem;
  }
}

@mixin title-sz-4 {
  font-size: 6.413vw;
  line-height: 1.375;
  font-weight: 700;
  @media screen and (min-width: $sm-screen) {
    font-size: 1.778rem;
  }
}

@mixin title-sz-5 {
  font-size: 5vw;
  line-height: 1.333;
  font-weight: 700;
  @media screen and (min-width: $sm-screen) {
    font-size: 1.5rem;
  }
}

@mixin title-sz-6 {
  font-size: 5vw;
  line-height: 1.333;
  font-weight: 700;
  @media screen and (min-width: $sm-screen) {
    font-size: 1.333rem;
  }
}