.credentials-required {
  &__list {
  }

  &__set {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    border-top: 1px solid $gray-10
  }

  &__credentials {
    flex-grow: 1;

    .or {
      color: $gray-8;
      @extend .mt-sm;
      @extend .mb-sm;
    }

    &.satisfied {
      .cta {
        @extend .cta--gray-8-border;
      }
    }
  }

  &__credential {
    display: flex;
    flex-direction: column;
    @extend .mb-xs;

    &.satisfied {
      color: $gray-8;
    }

    .name {
      font-weight: bold;
    }

    .how, .done {
      @extend .mt-sm;

      p {
        margin: 0;
      }
    }

    .done {
      img {
        width: 2.5rem;
        vertical-align: middle;
        @extend .mr-sm;
      }

      color: $green;
    }
  }
}


@media screen and (min-width: $sm-med-screen) {
  .credentials-required {
    &__list {
      .circle {
        margin-bottom: 1.5rem;
      }
    }

    &__credentials {
      .or {
        text-align: left;
        margin-left: 1.5rem;
      }
    }

    &__credential {
      flex-direction: row;
      align-items: center;
      text-align: left;

      > * {
        margin: 0 1rem;
      }

      .name {
        flex-grow: 1;
      }

      .how, .done {
        width: 30rem;
        margin-top: 0;
      }

      .done {
        text-align: center;
      }
    }
  }
}


@media screen and (min-width: $med-screen) {
  .credentials-required {
    &__list {
      .circle {
        margin: 0 2rem;
      }
    }

    &__set {
      flex-direction: row;
      align-items: center;
    }
  }
}
