.editable-question {
    .answer-content {
        display: inline-block;
    }

    a.edit img {
        width: 1.5rem;
        vertical-align: text-bottom;
    }

    form {
        display: none;
        margin-block: 1rem;

        .input {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        button {
            min-width: 13rem;

            .loading-spinner {
                width: auto;
                margin: auto;
            }
        }
    }
}