.feedback-container {
    .submitted {

        display: flex;
        align-items: center;

        @extend .green;
        font-weight: bold;

        @media screen and (min-width: $med-screen) {
            margin-left: 1.5rem;
            margin-bottom: 0.25rem;
        }

        img {
            width: 3rem;
            margin-right: 0.75rem;
        }
    }
}