@import "../../mixins/effects";
@import "../../mixins/chevron";
@keyframes highlight {
  50% {
    background-color: $light-blue;
  }

  100% {
    background-color: white;
  }
}

.job {
    @include shadow-xs;
    width: 100%;
    min-height: 50px;
    border: 1px solid $gray-8;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
    overflow: hidden;

    @media (min-width: $med-screen) {
        padding: 10px 5px;
    }

    &.highlight {
        animation: highlight 2s;
    }

    &__info {
        min-height: 100px;
        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: $med-screen) {
            grid-template-columns: 1fr 2fr 1.3fr;

            &.twoCol {
                grid-template-columns: 0.5fr 2.5fr 1.3fr;
                text-align: center;
            }
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .column {
            flex-direction: column;
        }

        .flex-end {
            margin-top: 0.4rem;

            @media (min-width: $sm-screen) {
                justify-content: flex-end;
                margin-top: 0px;
            }
        }

        &__urgency {
            color: $dark-blue;
            height: 50px;
            margin: -5px -5px 5px;
            background-color: $washed-blue;

            span,
            img {
                padding: 0 5px;
            }

            img {
                height: 25px;
                margin: 5px;
            }

            @media (min-width: $med-screen) {
                height: auto;
                background-color: transparent;
                flex-direction: column;
                justify-content: center;
            }

            .critical {
                font-weight: bold;
                color: $light-orange;
            }

            .critical-icon {
                margin: 5px;
                display: inline-block;
                text-align: center;
                height: 25px;
                width: 25px;
                background-color: $orange;
                border-radius: 25px;
                color: white;
            }
        }

        &__activity {
            .activity__title {
                font-weight: bold;
                display: flex;
                align-items: center;
                margin: 5px;

                img {
                    display: inline-block;
                    margin-right: 10px;
                    max-width: 32px;

                    &.limit-width {
                        max-width: 80px;
                    }
                }
            }
        }

        &__actions {
            .btn {
                width: 190px;
                padding: 5px 0;

                &.actioned {
                    background: none;
                    border: none;
                    color: $green;
                }

                &.disabled {
                    background-color: $gray-8;
                }
            }
        }

        &__footer {
            @media (min-width: $med-screen) {
                grid-column-start: 3;
                grid-column-end: 3;
            }

            &.actioned {
                display: none;
                text-align: center;
            }

            button.disabled {
                background-color: $gray-8;
            }

            a {
                margin: 10px 0 0;

                span {
                    text-decoration: none;
                    display: inline-block;
                    margin-left: 3px;
                }


                &.open {
                    display: inline;

                    &.disabled {
                        span {
                            @include arrow( 8px, 3px, $gray-8, down, $white);
                            height: 10px;
                            vertical-align: middle;
                        }
                    }

                    span {
                        vertical-align: middle;
                        @include arrow( 8px, 3px, $dark-blue, down, $white);
                        height: 10px;
                    }
                }

                &.close {
                    display: none;

                    span {
                        @include arrow( 8px, 3px, $dark-blue, up, $white);
                        height: 10px;
                        margin: 0 0 3px 12px;
                    }
                }

                &.disabled {
                    color: $gray-8;
                }
            }
        }
    }

    &--hot {
        .job__info {
            .due-date {
                color: $orange;
                font-weight: 600;
            }
        }
    }

    &--warm {
        .job__info {
            .due-date {
                color: $orange;
            }
        }
    }


    &__detail {
        display: none;
        padding: 10px 20px;


        &:before {
            content: " ";
            position: relative;
            display: block;
            margin: auto;
            border: none;
            border-top: 1px solid $gray-8;
            width: 100%;
        }

        h4 {
            color: $dark-blue;
            font-size: 1.2rem;
        }

        p {
            line-height: 1.25;
        }
    }

    &__expander {
        &.add-line:after,
        &:before {
            content: " ";
            position: relative;
            margin: 10px auto;
            display: block;
            border: none;
            border-top: 1px solid $gray-8;
            width: 100%;
        }

        h5 {
            position: relative;
            color: $dark-blue;
            font-size: 1.1rem;
            padding: 10px 40px 10px 10px;
            margin: 0;

            span {

                @include arrow( 8px, 3px, $dark-blue, down, $white);
                float: right;
                margin-top: 10px;
            }

            &:hover {
                cursor: pointer;
            }

            &.open {
                span {
                    @include arrow( 8px, 3px, $dark-blue, up, $white);
                    float: right;
                }
            }
        }

        dl,
        p {
            display: none;
            padding: 10px 20px;
        }

        dl {
            dt {
                font-weight: bold;
                color: $dark-blue;
            }

            dd {
                word-wrap: break-word;
            }
        }
    }

    &.open {
        a {
            &.open {
                display: none;
            }

            &.close {
                display: inline;
            }
        }
    }
}
