@import "../../mixins/effects";
@import "../../mixins/chevron";
@import "./feedback-container";
@import "./editable-question";

@keyframes highlight {
  50% {
    background-color: $light-blue;
  }

  100% {
    background-color: white;
  }
}

@keyframes boing {
    0% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1.0);
    }
}

.job {
    @include shadow-xs;
    width: 100%;
    min-height: 50px;
    border: 1px solid $gray-8;
    border-radius: 5px;
    transition: margin 0.5s;
    padding: 6px;
    overflow: hidden;

    @media (min-width: $med-screen) {
        padding: 11px 6px;
    }

    &.highlight {
        animation: highlight 3s;
    }

    &__info {
        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: $sm-med-screen) {
            padding: 0.5rem;
        }

        @media (min-width: $med-screen) {
            padding: 0 0.5rem;
            grid-template-columns: 0.5fr 2fr 14rem;
        }

        &__col1 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            color: $dark-blue;
            text-align: center;

            @media (min-width: $med-screen) {
                align-items: center;
                justify-content: flex-start;
            }

            &__referrer {
                display: flex;
                align-items: center;
                margin: 0 0.25rem 0.25rem 0.25rem;
                order: 1;

                @media (min-width: $med-screen) {
                    margin-bottom: 0;
                }
            }

            &__criticality {
                display: flex;
                align-items: center;
                margin: 0 0.5rem 0.5rem 0.5rem;
                order: 2;

                @media (min-width: $sm-med-screen) {
                    margin: 0 0.75rem 0.5rem 0.75rem;
                }

                @media (min-width: $med-screen) {
                    display: none;
                }
            }

            &__urgency {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                background: $washed-blue;
                width: 100%;
                padding: 0.5rem 0.5rem 0 0.75rem;
                order: 4;
                text-align: left;

                > * {
                    margin: 0.25rem 0.5rem;
                }

                @media (min-width: $sm-med-screen) {
                    margin: 1rem 2.5rem 0 2.5rem;
                    justify-content: center;
                }

                @media (min-width: $med-screen) {
                    flex-direction: column;
                    justify-content: center;
                    margin: 0;
                    padding-top: 0;
                    background: none;
                    align-self: flex-start;
                    align-items: flex-start;

                    > * {
                        margin: 0.25rem 0 0.25rem 0;
                    }
                }

                &__dates {
                    display: flex;
                    align-items: center;

                    @media (min-width: $med-screen) {
                        white-space: nowrap;
                        margin: 0;
                    }
                }
            }

            &__status {
                display: flex;
                padding: 0.5rem;
                align-items: center;
                margin-bottom: 0.5rem;
                order: 1;

                .status-icon {
                    margin-right: 0.5rem;
                }

                @media (min-width: $med-screen) {
                    display: none;
                }
            }

            &__new-status {
                width: 100%;
                margin-bottom: 0.5rem;
            }

            &__next-step {
                width: 100%;
                margin-bottom: 0.75rem;
                align-self: flex-start;
            }

            &__new-status.job__status {
                text-align: center;
            }
        }




        &__activity {
            background-color: $washed-blue;
            padding: 0.5rem 0.5rem 0.5rem 1rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 0.25rem;
            flex-wrap: wrap;

            @media (min-width: $sm-med-screen) {
                flex-direction: row;
                justify-content: space-evenly;
                margin: 0 2.5rem 0.5rem 2.5rem;
            }

            @media (min-width: $med-screen) {
                flex-direction: column;
                background: none;
            }

            &__criticality {
                display: none;
            }

            &__title {
                font-weight: bold;
                display: flex;
                align-items: center;
                margin: 0.25rem 0.5rem 0.25rem 0rem;
                flex-grow: 1;

                @media (min-width: $med-screen) {
                    justify-content: center;
                    margin-right: 0;
                    flex-grow: 0;
                }

                @media (min-width: $lg-screen) {
                    white-space: nowrap;
                }

                img {
                    display: inline-block;
                    margin-right: 0.5rem;
                    max-height: 1.9rem;
                }
            }

            &__location, &__date {
                text-align: center;
                margin: 0.25rem 0.5rem 0.25rem 0;

                span {
                    white-space: nowrap;
                }

                @media (min-width: $med-screen) {
                    margin-right: 0;
                }
            }
        }

        &__col3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.5rem;

            @media (min-width: $sm-med-screen) {
                flex-direction: row-reverse;
                justify-content: space-between;
            }

            &__criticality {
                display: none;
            }

            &__status {
                display: none;

                @media (min-width: $med-screen) {
                    display: flex;
                    padding: 0.5rem;
                    align-items: center;

                    .status-icon {
                        margin-right: 1rem;
                    }
                }
            }

            @media (min-width: $med-screen) {
                flex-direction: column;
                align-items: flex-end;
                margin-top: 1rem;
                margin-right: 1rem;

                &__criticality {
                    display: block;
                    margin-bottom: 0.25rem;
                }
            }
        }

        &__actions {
            .btn {
                width: 100%;
                padding: 5px 0;
                margin: 0.25rem 0.5rem;
            }

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            .feedback-container {
                display: contents;
            }

            @media (min-width: $sm-screen) {
                flex-direction: row;
            }

            @media (min-width: $sm-med-screen) {
                width: auto;

                .btn {
                    width: 12rem;
                }
            }

            @media (min-width: $med-screen) {
                flex-direction: column;
                flex-grow: 1;
            }
        }

        &__footer {
            display: flex;
            flex-grow: 0;
            margin-top: 10px;
            min-width: 9rem;

            @media (min-width: $sm-med-screen) {
                margin-left: 0.5rem;
            }

            @media (min-width: $med-screen) {
                margin: 0;
            }

            a {
                span {
                    display: inline-block;
                    margin-right: 16px;
                }

                &.open {
                    span {
                        @include arrow( 8px, 3px, $dark-blue, down, $white);
                        height: 10px;
                        margin-left: 8px;
                    }
                }

                &.close {
                    display: none;

                    span {
                        @include arrow( 8px, 3px, $dark-blue, up, $white);
                        height: 10px;
                        margin-bottom: 3px;
                        margin-left: 17px;
                    }
                }
            }
        }

        &.admin-view {
            @media (min-width: $med-screen) {
                grid-template-columns: 1.2fr 2fr 14rem;
            }

            .job__info__col1__status {
                display: flex;
            }

            .job__info__col3__status {
                display: none;
            }

            .job__info__col1__referrer {
                order: 3;

                @media (min-width: $med-screen) {
                    display: none;

                    &.other-group {
                        display: flex;
                        width: 100%;

                        .group-logo img {
                            max-height: 3rem;
                        }
                    }
                }
            }

            .job__info__activity {
                flex-direction: row;

                @media (min-width: $med-screen) {
                    flex-direction: column;
                    justify-content: center;
                    margin: 0;

                    .job__info__activity__criticality {
                        display: block;
                        margin-bottom: 0.25rem;
                    }
                }
            }

            .job__info__col3__criticality {
                display: none;
            }
        }

        .job__status {
            font-weight: bold;
            color: $black;
            text-align: left;

            &.multiple-statuses {
                font-size: 0.85rem;
                line-height: 1.2rem;
                white-space: nowrap;
            }
        }
    }

    &--urgent {
        .job__info {
            .due-date {
                color: $light-orange;
                font-weight: 600;
            }
        }
    }

    &--due-soon {
        .job__info {
            .due-date {
                font-weight: 600;
            }
        }
    }

    .critical {
        font-weight: bold;
        color: $light-orange;
    }

    .critical-icon {
        margin: 5px 5px 5px 0;
        display: inline-block;
        text-align: center;
        height: 25px;
        width: 25px;
        background-color: $orange;
        border-radius: 25px;
        color: white;

        @media (min-width: $med-screen) {
            margin-right: 0.5rem;
            width: 30px;
            height: 30px;
            font-size: 1.3rem;
            padding-top: 1px;
        }
    }

    .status-icon {
        width: 3rem;
        height: 3rem;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }


    &__detail {
        &:not(.start-open) {
            display: none;
        }

        h4 {
            color: $dark-blue;
            font-size: 1.2rem;
        }

        p {
            line-height: 1.25;
        }

        .loading-spinner {
            margin: 15px auto 0 auto;
            width: 32px;
        }
    }

    &__expander {
        padding-bottom: 0.5rem;

        > .row {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .add-line:after,
        .add-line-before:before,
        &:before {
            content: " ";
            position: relative;
            margin: 10px auto;
            display: block;
            border: none;
            border-top: 1px solid $gray-8;
            width: 100%;
        }

        h4, h5 {
            color: $dark-blue;
            font-size: 1.3rem;
            padding: 20px 0px 5px 0px;
        }

        h4 {
            position: relative;
            padding: 10px 30px 10px 0.5rem;
            margin: 0;

            .status-icon,
            .activity-icon {
                width: 1.9rem;
                max-height: 1.9rem;
                vertical-align: middle;
                margin-right: 0.5rem;
            }

            &:not(.no-click) {
                > span:last-child {
                    @include arrow( 8px, 3px, $dark-blue, down, $white);
                    float: right;
                    margin-top: 10px;
                }

                &.open {
                    > span:last-child {
                        @include arrow( 8px, 3px, $dark-blue, up, $white);
                        float: right;
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }

            &.no-click:hover {
                cursor: auto;
            }
        }

        &.offline-details-container {
            @media screen and (max-width: $med-screen) {
                display: none;
            }
        }

        .location-details {
            dd {
                display: flex;

                @media screen and (max-width: $med-screen) {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }



        .offline-details {
            display: flex;

            dd {
                display: flex;
            }

            .link-icons {
                display: flex;
                justify-content: center;

                a {
                    display: flex;
                    align-items: center;
                    margin-right: 0.5rem;
                    width: 9rem;

                    &.sending {
                        text-decoration: none;
                        color: $black;
                    }

                    &.failed {
                        text-decoration: none;
                        color: $green;
                    }

                    &.successful {
                        text-decoration: none;
                        color: $orange;
                    }
                }



                img {
                    padding: 5px;
                    width: 50px;
                }
            }
        }

        &__content {
            display: none;
            margin: 0 0.5rem 0.5rem 0.5rem;

            p, li, li * {
                font-size: 18px;
                line-height: 27px;
            }

            .volunteer-instructions {
                ol {
                    font-weight: bold;
                    color: $black;

                    p {
                        margin-top: 0;
                        font-weight: normal;
                        margin-bottom: 1rem;
                    }
                }

                > p:first-child, > ul:first-child, > ol:first-child {
                    margin-top: 0;
                }

                > p:last-child, > ul:last-child, > ol:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.open {
            > .job__expander__content {
                display: block;
            }
        }

        dl {
            dt {
                font-weight: bold;
                color: $black;
                padding-top: 0.25rem;

                span.context {
                    font-weight: normal;
                }
            }

            dd {
                word-wrap: break-word;

                span {
                    white-space: nowrap;
                }
            }

            &.highlight-last {
                dt:last-of-type,
                dd:last-of-type {
                    color: $green;
                }
            }
        }

        &.job {
            margin: 1rem 0.5rem;
            width: auto;

            &:before {
                border-top: none;
                margin: 0;
            }
        }
    }

    &.open {
        margin-bottom: 2rem;
        border-width: 2px;
        padding: 5px;

        @media (min-width: $med-screen) {
            padding: 10px 5px;
        }

        a {
            &.open {
                display: none;
            }

            &.close {
                display: inline;
            }
        }
    }

    p {
        font-size: inherit;
    }
}

@mixin circleHover {
    &:hover {
        stroke: $blue;
        stroke-width: 0.5rem;
        transition: 0.3s;
    }
}

.status-icon {
    svg {
        transform: rotate(-90deg);
    }


    circle {
        fill: none;
        stroke-width: 0.4rem;

        &.background {
            stroke: white;
        }

        &.new {
            stroke: red;
            @include circleHover;
        }

        &.open {
            stroke: $gray-8;
            @include circleHover;
        }

        &.accepted {
            stroke: $green;
            @include circleHover;
        }

        &.in-progress {
            stroke: $green;
            @include circleHover;
        }

        &.done {
            stroke: green;
            @include circleHover;
        }

        &.dots {
            stroke: $white;
            stroke-width: 0.18rem;
            stroke-linecap: round;
            stroke-dasharray: 0.1% 11.3%;
        }
    }

    .tick {
        stroke: $green;
        fill: none;
    }
}


.request-job {
    &__content > .row {
        flex-direction: column;

        .job__info__actions {
            flex-direction: row;
        }
    }

    @media (min-width: $xl-screen) {
        .request-job__content > .row {
            flex-direction: row-reverse;
        }
    }

    &__list {
        &[show="user-jobs"] {
            .request-job__list__items {
                .job[data-user-allocated-to-job="False"] {
                    display: none;
                }
            }

            .request-job__list__summary {
                .request-job__list__toggle[show="user-jobs"] {
                    display: none;
                }
            }
        }

        &[show="all-jobs"] {
            .request-job__list__summary {
                .request-job__list__toggle[show="all-jobs"] {
                    display: none;
                }
            }
        }

        &__summary {
            margin-left: 1rem;

            a {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                > * {
                    margin: 0 0.25rem;
                }

                .status-icon {
                    width: 1.7rem;
                    max-height: 1.7rem;
                }

                span {
                    text-decoration: underline;
                }
            }
        }
    }
}


.mini-job-detail {
    > h4 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .job__info__actions {
            flex-grow: 1;

            .btn {
                height: 2.4rem;
            }
        }

        > :last-child {
            align-self: flex-end;
        }
    }

    @media (min-width: $med-screen) {
        > h4 {
            .job__info__actions {
                flex-direction: row-reverse;
                justify-content: end;
                margin-right: 0.5rem;

                .btn {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .feedback-container {
                    .submitted {
                        width: auto;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

.job.my-requests-view {
    .job__info__col3__urgency {
        display: none;
    }

    @media (min-width: $med-screen) {
        .job__info__col1__urgency {
            display: none;
        }

        .job__info__col3__urgency {
            display: block;
            white-space: nowrap;
        }
    }
}

.accept-series-popup-stage-2 {
    .job > .row {
        > * {
            padding: 0.25em;

            button {
                width: 100%;
            }
        }

        @media (min-width: $med-screen) {
            > * {
                padding: 0 0.25rem;
            }

            align-items: center;
        }
    }
}