
@import "../list";

.profile {


    ul {
        @include copy-sz-md;
        color: $p-color;
    }

    .desktop {
        display: none;

        @media screen and (min-width: $sm-screen) {
            display: block;
            @include copy-sz-md;
        }
    }

    .mobile {
        display: inline-block;
        @include copy-sz-xs;

        @media screen and (min-width: $sm-screen) {
            display: none;
        }
    }
}
