
@import "../list";

.profile {

    &__mystreet {
        border: 1px solid $gray-10;
        border-radius: 4px;
        margin-top: 20px;

        &__header {
            @include title-sz-6;
            color: $dark-blue;
            cursor: pointer;
            display: block;
            padding: 10px;

            .mobile {
                display: inline-block;

                @media screen and (min-width: $sm-screen) {
                    display:none;
                }
            }

            .desktop {
                display: none;

                @media screen and (min-width: $sm-screen) {
                    display:inline-block;
                }
            }


            &:hover {
                background: $light-blue;
            }

            &__arrow {
                float: right;


                &--up {
                    display: inline-block;
                    vertical-align: middle;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $dark-blue;
                }

                &--down {
                    display: inline-block;
                    vertical-align: middle;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $dark-blue;

                
                }
            }
        }

        &__details {
            &__desktop {
                border-top: 1px solid $gray-10;
                display: none;
                grid-template-columns: 50% 50%;
                grid-gap: 0%;
                background-color: #fff;
                color: $p-color;
                padding: 20px;

                @media screen and (min-width: $sm-screen) {
                    display: grid;
                }

                .br-none {
                    border-right: none;
                }

                .bt-none {
                    border-top: none;
                }
            }

            &__mobile {

                .bb-none {
                    border-bottom: none;
                }

                .bt-none:not(:first-child) {
                    border-top: none;
                }

                border-top: 1px solid $gray-10;
                background-color: #fff;
                color: $p-color;
                padding: 0px;
                display: block;

                @media screen and (min-width: $sm-screen) {
                    display: none;
                }

                .csl {
                    display: block;
                    line-height: 2.2;
                }

                .csl:not(:last-of-type):after {
                    content: none;
                }

                .csl:nth-last-of-type(2):before {
                    content: none;
                }

                .csl:nth-last-of-type(2):after {
                    content: none;
                }

                &__volunteer {
                    padding: 10px;
                }

                .bold-mobile:first-child {
                    font-weight: 600;
                }
            }


            &__volunteer {
                border: 1px solid $p-color;
                padding: 2px 10px;

                @media screen and (min-width: $sm-screen) {
                    padding: 10px;
                }

                &--small {
                    margin-top: 4px;
                    word-wrap: break-word;


                    a,
                    span {
                        @include copy-sz-xs;

                        @media screen and (min-width: $sm-screen) {
                            @include copy-sz-md;
                        }
                    }
                }

                &--big {

                    span {
                        @include copy-sz-sm;

                        @media screen and (min-width: $sm-screen) {
                            @include copy-sz-md;
                        }
                    }
                }
            }
        }
    }
}
