@import "./user-data";
@import "./contact-preference";
@import "../../mixins/effects";
@import "../../mixins/typography/copy";
@import "./my-street";
@import "./verification";
@import "./job";
@import "./volunteer-list";
@import "./credentials-required";
@import "./editable-biography";
@import "./_training-and-experience-data";

.profile-panel {
  background-color: white;
  border-radius: 4px;
  border: 1px solid $gray-10;
  @include shadow-md;

  &__header {
    border-bottom: 1px solid $gray-10;
  }

  &__title {
    display: block;
    width: 100%;
    @include title-sz-5;
    color: $dark-blue;
    margin-bottom: 10px;
  }

  &__divider {
    border: none;
    border-top: 1px solid $gray-10;
  }
}

.profile {
    &__text {
        ul {
            li {
                color: $p-color;
            }
        }
    }

    &__empty {
        text-align: center;

        &__title {
            color: $blue;
            font-weight: bold;
        }

        &__text {
            font-style: italic;

            &--left {
                text-align: left;
                font-style: italic;
            }
        }
    }
}

@media screen and (min-width: $med-screen) {
  .profile {
    margin-top: 20px;
  }
}
