<article class="associated__items">
  <div class="associated__item">
    <div class="associated__logo">
      <img src="https://placekitten.com/150/150" />
    </div>
    <div class="associated__title">Digital and Analytical Focus</div>
    <div class="associated__desc">Factor 50 were working on NHS projects (including analysis support in mental health trusts and data interoperability) when this crisis hit. We have paused some of that work and focused on HelpMyStreet.</div>
  </div>
  <div class="associated__item">
  <div class="associated__logo">
      <img src="https://placekitten.com/150/150" />
    </div>
    <div class="associated__title">Digital and Analytical Focus</div>
    <div class="associated__desc">Factor 50 were working on NHS projects (including analysis support in mental health trusts and data interoperability) when this crisis hit. We have paused some of that work and focused on HelpMyStreet.</div>
  </div>
  <div class="associated__item">
  <div class="associated__logo">
      <img src="https://placekitten.com/150/150" />
    </div>
    <div class="associated__title">Digital and Analytical Focus</div>
    <div class="associated__desc">Factor 50 were working on NHS projects (including analysis support in mental health trusts and data interoperability) when this crisis hit. We have paused some of that work and focused on HelpMyStreet.</div>
  </div>
</article>