<div class="content-page__section__inner">
    <article class="content-page__section__body">
        <h2>Thank you to our Partners and Supporters</h2>
    </article>
</div>
<article class="associated__items">
    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <img src="~/img/logos/Factor50_logo.png" alt="Factor 50 Logo" />
            </div>
        </div>
        <div class="associated__title">Digital and Analytical Focus</div>
        <div class="associated__desc">Factor 50 were working on NHS projects (including analysis support in mental health trusts and data interoperability) when this crisis hit. We have paused some of that work and focused on HelpMyStreet.</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <img src="~/img/logos/distinction_logo.svg" alt="Distinction Logo" />
            </div>
        </div>
        <div class="associated__title">Digital Design & Delivery</div>
        <div class="associated__desc">Distinction helps ambitious brands grow faster and with more certainty by leveraging all things digital. They provide strategic, creative and technical services to determined challenger brands in markets fit for digital transformation.</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <img src="~/img/logos/experian_logo.svg" alt="Experian Logo" />
            </div>
        </div>
        <div class="associated__title">A Trusted Leader in Data</div>
        <div class="associated__desc">Experian is the UK's leading credit bureau. They have generously supported HelpMyStreet with the provision of some  of the key services that drive our platform.</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <img src="~/img/logos/Yoti_logo.svg" alt="YOTI Logo" />
            </div>
        </div>
        <div class="associated__title">Lorem ipsum dolor</div>
        <div class="associated__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus est dui, vitae ornare neque lacinia eu. Ut dignissim feugiat urna, eget ultricies nulla congue ut. Fusce sed neque faucibus, sollicitudin nibh sodales, consectetur quam</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <img src="~/img/logos/podium_logo.png" alt="YOTI Logo" />
            </div>
        </div>
        <div class="associated__title">Lorem ipsum dolor</div>
        <div class="associated__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus est dui, vitae ornare neque lacinia eu. Ut dignissim feugiat urna, eget ultricies nulla congue ut. Fusce sed neque faucibus, sollicitudin nibh sodales, consectetur quam</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            -
        </div>
        <div class="associated__title">Lorem ipsum dolor</div>
        <div class="associated__desc">-</div>
    </div>

</article>
