<div class="content-page__section__inner">
    <article class="content-page__section__body">
        <h2>Thank you to our Partners</h2>
    </article>
</div>
<article class="associated__items">
    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <a href="https://www.factor-50.co.uk/" target="_blank"><img src="~/img/logos/Factor50_logo.png" alt="Factor 50 Logo" /></a>
            </div>
        </div>
        <div class="associated__title">Digital and Analytical Focus</div>
        <div class="associated__desc">Factor 50 were working on NHS projects (including analysis support in mental health trusts and data interoperability) when this crisis hit. We have paused some of that work and focused on HelpMyStreet.</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <a href="https://distinction.co.uk" target="_blank"><img src="~/img/logos/distinction_logo.svg" alt="Distinction Logo" /></a>
</div>
        </div>
        <div class="associated__title">Digital Design & Delivery</div>
        <div class="associated__desc">Distinction helps ambitious brands grow faster and with more certainty by leveraging all things digital. They provide strategic, creative and technical services to determined challenger brands in markets fit for digital transformation.</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <a href="https://www.experian.co.uk/" target="_blank"><img src="~/img/logos/experian_logo.svg" alt="Experian Logo" /></a>
</div>
        </div>
        <div class="associated__title">A Trusted Leader in Data</div>
        <div class="associated__desc">Experian is a global leader in consumer and business credit reporting and marketing services. We support clients in more than 80 countries and employ approximately 17,000 people in 37 countries</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <a href="https://www.yoti.com/" target="_blank"><img src="~/img/logos/Yoti_logo.svg" alt="YOTI Logo" /></a>
</div>
        </div>
        <div class="associated__title">Trusted Identity Platform</div>
        <div class="associated__desc">Yoti is a global technology company on a mission to become the world's trusted identity platform. Our free digital identity app is the new, safer way to prove your age and prove your identity.</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <a href="https://podium-solutions.co.uk/" target="_blank"><img src="~/img/logos/podium_logo.png" alt="Podium Logo" /></a>
</div>
        </div>
        <div class="associated__title">Digital Ecosystem Development</div>
        <div class="associated__desc">Podium is creating the perfect ecosystem for consumers looking to start their mortgage adventure online. Current mortgage journeys are not built with a consumer's goals and needs front of mind, we are changing this.</div>
    </div>

    <div class="associated__item">
        <div class="associated__logo card">
            <div class="associated__logo_wrap">
                <a href="https://www.secondhomestudios.com/" target="_blank"><img src="~/img/logos/second_home_studios_logo.png" alt="Second Home Studios" /></a>
</div>
        </div>
        <div class="associated__title">Multi-BAFTA-winning Films</div>
        <div class="associated__desc">Second Home Studios create films through animation and all its related crafts. Since 2004 we have produced multi-BAFTA-winning/nominated animated films, working all over the world with everyone from startups to superbrands.</div>
    </div>

</article>

<div class="content-page__section__inner">
    <article class="content-page__section__body">
        <h2>Thank you to our Supporters</h2>
    </article>
</div>
<div class="outer-container">
    <section class="container content-page__outer">
        <div class="content-page__inner content-page__inner--align-left">            
            <ul>
                <li><a href="https://www.eversheds-sutherland.com/global/en/where/europe/uk/index.page" target="_blank">Eversheds Sutherland</a></li>
                <li>Teo Karabonikov - Podium</li>
                <li>Lisa Hilliard - Podium</li>
                <li>Kev Durber - Podium</li>
                <li>Kieran Gookey - Podium</li>
                <li>Mark Taylor</li>
                <li>Rachel Turner</li>
                <li>Will Thomas</li>
                <li>Usmaan Razaq</li>
            </ul>
        </div>
        <div class="content-page__inner content-page__inner--align-left">
            <ul>
                <li><a href="https://www.goldbug.agency" target="_blank">Goldbug</a></li>
                <li>Angus McCarey</li>
                <li>Julian Ingle</li>
                <li>Felicity Christensen</li>
                <li>Michael Knott</li>
                <li>Chris Smyth and Ruth Smyth (<a href="https://boldlight.co.uk" target="_blank">Boldlight</a>)
                <li>Carla Cabe&ccedil;a</li>
                <li>Dan Swainson</li>
            </ul>
        </div>
    </section>
</div>
