<article class="contact-us">
  <h2>To get in touch ... </h2>

  <h6>Help?</h6>
  <p>If you need help or know someone who needs help, please complete our Request Help form</p>

  <h6>Community Organisers</h6>
  <p>Please visit our <a href="/community">Community Organisers</a> page with information about how we can help your group</p>

  <h6>Volunteers</h6>
  <p>Please sign up to get in touch with Helpers and people in need in your local community</p>

  <h6>Not-for-Profit organisations</h6>
  <p>If you think our organisations can work together to help each other, please complete the <a href="#contact-form">form below</a></p>

  <h6>Press and Media</h6>
  <p>Please contact <a href="mailto:media@helpmystreet.org">media@helpmystreet.org</a></a></p>

  <h6>Commercial organisations</h6>
  <p>Please contact <a href="mailto:partners@helpmystreet.org">partners@helpmystreet.org</a></p>

  <h6>Join our Team</h6>
  <p>We’re always looking for people with great product, tech, marketing and communications skills to help us make <a href="/">HelpMyStreet.org</a> better. Please complete the form below.</p>
</article>