@using HelpMyStreetFE.Models.ContactForm;
@using HelpMyStreetFE.Helpers;

@{
    ViewBag.Title = "About Us";
}



<article class="content-page content-page--about-us">

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">
                <header class="content-page__header content-page__section__body">
                    <h2 class="content-page__title">About Us</h2>
                    <p>Across the country, people are stepping up to help those in need. We’re seeing some amazing acts of care and kindness. </p>
                    <p>This is not just about giving time, it’s about <em>helping</em>; doing something positive for the communities we all live in. </p>
                    <p><a href="/">HelpMyStreet.org</a> has been launched to help the Helpers.</p>
                </header>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/About Us Page - Photo 1.jpg" alt="Man and woman on sofa" />
            </div>
        </section>
    </div>

    <div class="outer-container outer-container--darker">
        <section class="container content-page__outer content-page__outer--reverse">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <h2 class="content-page__title">Helping the Helpers</h2>
                    <p>We want to enable them to deliver the help you need, or the help you can give, to your neighbours in your own street and community. </p>
                    <p>HelpMyStreet.org aims to make volunteering in your local community simple, safe and effective for everyone. </p>
                </article>
            </div>
            <div class="content-page__inner">
                <div class="content-page__inner__image">
                    <img src="~/img/section-images/About Us Page - Photo 2.jpg" alt="Red bag on door handle" />
                </div>
            </div>
        </section>
    </div>

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <h2>Our Principles</h2>
                    <p>The things that matter to us ...</p>
                    <h3>Help</h3>
                    <p>We're here to make volunteering, and finding volunteers, as simple as possible.</p>
                    <h3>Safety</h3>
                    <p>
                        We're committed to creating a safe and trusted service for volunteers and those in need.
                    </p>
                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/About Us Page - Photo 3.jpg" alt="Umbreallas" />
            </div>
        </section>
    </div>

    <div class="outer-container outer-container--darker">
        <section class="container content-page__outer content-page__outer--reverse">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <h2>Community</h2>
                    <p>Every community has people who need help, and people who want to help. We believe great things can happen when people work together. Our platform enables communities throughout the UK to do exactly that.</p>
                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/About Us Page - Photo 4.jpg" alt="Our community" />
            </div>
        </section>
    </div>

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <h2>Who we are...</h2>
                    <p>We're a diverse group of people who live around the UK, but all have a connection to Nottingham.</p>
                    <p>We are doctors, health practitioners, tech and data people, community volunteers and marketers. The founding team work for Factor 50, a healthcare analytics and digital company that works with the NHS, particularly in mental health. We're always looking for people who can help us make HelpMyStreet.org better than ever. Complete the form below and join us!</p>
                    <p>Help My Street CIC is a not-for-profit Community Interest Company, registered in England and Wales, company number 12534175. Help My Street CIC is registered with the Information Commissioner’s Office for data protection purposes.</p>
                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/About Us Page - Photo 5.png" alt="A few of our volunteers" />
            </div>
        </section>
    </div>

    @*<div class="content-page__section__outer">
            <div class="container content-page__section content-page__section--reverse">
                <div class="content-page__section__inner">
                    <article class="content-page__section__body">
                        <h2>Join Us</h2>
                        <p>We have rapidly grown the team in the last 2 weeks, but still need help in a few niche areas:</p>
                        <ul>
                            <li>Front End Developers (C# .NET MVC),</li>
                            <li>Automated testing in Azure Pipelines</li>
                            <li>Social media leads integration</li>
                            <li>And ideally a small team who could build a Mobile App.</li>
                        </ul>
                        <p>Please get in touch.</p>
                        <p>If volunteering to join, please let us know who you work for and a few bullet points about your skills and experience. Please also give us an indication of the hours you might be able to give (e.g. evenings/weekends/during the day).</p>
                    </article>
                </div>
                <div class="content-page__section__inner">
                    <partial name="_PlaceholderImg" />
                </div>
            </div>
        </div>*@

    <div class="outer-container outer-container--darker">
        <section class="container content-page__associated">
            <partial name="_Associated" />
        </section>
    </div>

    <article class="content-page content-page--contact-us">

        <div class="outer-container">
            <div class="container content-page__outer content-page__contact-us">

                <div class="content-page__inner">
                    <partial name="_ContactUsSummary" />
                </div>

                <div class="content-page__inner content-page__contact-us__form card">
                    <partial name="_ContactForm" model="null" />
                </div>
            </div>
        </div>

    </article>

</article>

@section Scripts {
    @Html.PageScripts()
}