
@{
    ViewBag.Title = "Community Organisers";
}


<article class="content-page content-page--community">

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">
                <header class="content-page__header content-page__section__body">
                    <h2 class="content-page__title">Community Organisers</h2>
                    <p>The work you’re doing across the country right now is amazing. Helping out neighbours and your community, reaching vulnerable people and mobilising others to get involved - it’s all working, thanks to you.</p>
                    <p>We’ve launched HelpMyStreet.org as a hub to help community groups and make it easy and safe for anyone in the UK to become a Helper.</p>
                </header>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/Community Organisers - Photo 1.jpg" alt="Man with dog" />
            </div>
        </section>
    </div>

    <div class="outer-container outer-container--darker">
        <section class="container content-page__outer content-page__outer--reverse">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <p>HelpMyStreet.org is a not-for -profit service run by a team of specialists with skills, tools and technology that will hopefully help communities like yours.</p>
                    <p>We've built a service to make volunteering safe, accessible and as helpful as possible for those in need at this time.</p>
                    <p>As someone who’s busy organising people right now, you’re probably facing two things: spending lots of your time managing others, and facing some red tape as your volunteering numbers grow.</p>
                    <p>We’re aiming to offer you an easy, hassle-free way to remove some of these barriers. Signing up takes 5 minutes and in a nutshell, this is how our service can help:</p>
                </article>
            </div>
            <div class="content-page__inner">
                <div class="content-page__inner__image">
                    <img src="~/img/section-images/Community Organisers - Photo 2.jpg" alt="Team working on HelpMyStreet.org" />
                </div>
            </div>
        </section>
    </div>

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <ul>
                        <li>You can register all of your volunteers, get them ID checked and verified, and see on a map which postcodes and streets aren’t covered and need help.</li>
                        <li>You can direct and recruit additional volunteers through the site.</li>
                        <li>Data is securely captured (ticking all of the GDPR compliance boxes), reducing the risk to anyone helping, or getting help.</li>
                        <li>The simple task management feature matches those in need with the volunteers who are able to help them – making everything efficient and transparent.</li>
                        <li>The service also allows loved ones who live further afield to connect directly with street champions living close to their vulnerable relatives.</li>
                    </ul>
                    <p>And of course it's free.</p>
                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/Community Organisers - Photo 3.jpg" alt="Street View" />
            </div>
        </section>
    </div>

    <div class="outer-container outer-container--darker">
        <section class="container content-page__outer content-page__outer--reverse">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <p>We know quite a few of you personally and have asked how HelpMyStreet.org can help you as your volunteer numbers grow. Thank you for taking the time to let us know what it’s like out there running community volunteer groups.</p>
                    <p>We’re now looking for active community organisers, like you, who can help us by using our site and giving us feedback so we can make it everything you need it to be.</p>
                    <p>Please sign up or provide us with your contact details below so we can get in touch with you. We promise never to spam you with irrelevant stuff.</p>
                    <p>Thanks so much for getting involved.</p>

                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/Community Organisers - Photo 4.jpg" alt="Getting involved" />
            </div>
        </section>
    </div>

    <article class="content-page content-page--contact-us">

        <div class="outer-container">
            <div class="container content-page__outer content-page__contact-us">

                <div class="content-page__inner">
                    <partial name="_ContactUsSummary" />
                </div>

                <div class="content-page__inner content-page__contact-us__form card">
                    <partial name="_ContactForm" model="null" />
                </div>
            </div>
        </div>

    </article>

</article>

@section Scripts {
    @Html.PageScripts()
}