<main class="container">
  <partial name="_SiteHeaderPublic" />

  <article class="content-page content-page--community">
    <header class="content-page__header">
      <h2 class="content-page__title">Community Organisers</h2>
    </header>
    
    <div class="content-page__body">    
      <h3 class="">What have you told us you need?</h3>
      <p>Thank you to all the community volunteers around the UK who are working tirelessly to make sure that vulnerable people in their communities can continue to shelter safely at home. We salute you.</p>
      <p>We’ve worked with some of your colleagues around the country and listened to the challenges you face and frustrations you’ve experienced.</p>
      <p>We want to help and are aiming to launch this new service as soon as possible. It will enable you to:</p>
      <ol class="content-page__list">
        <li class="content-page__list__item">Co-ordinate activities in a street</li>
        <li class="content-page__list__item">Recruit volunteers to help</li>
        <li class="content-page__list__item">Ensure all volunteers are ID verified</li>
        <li class="content-page__list__item">Access the contact details for local verified volunteers</li>
        <li class="content-page__list__item">Quickly and easily see how and where they can help:
          <ul>
            <li class="content-page__list__item">Picking up groceries and other essentials</li>
            <li class="content-page__list__item">Collecting prescriptions from a local pharmacy</li>
            <li class="content-page__list__item">Running essential local errands (e.g. posting mail)</li>
            <li class="content-page__list__item">Providing transport for essential medical appointments (where it is safe to do so)</li>
            <li class="content-page__list__item">Dog walking</li>
            <li class="content-page__list__item">Delivering a hot / pre-prepared meal</li>
            <li class="content-page__list__item">Making / receiving phone calls for those in need of a friendly chat</li>
            <li class="content-page__list__item">Making / receiving phone calls for those who may be anxious</li>
            <li class="content-page__list__item">Homework support for children being home-schooled</li>
            <li class="content-page__list__item">Reaching out to people in my area to check-in</li>
        </ul>
        </li>
        <li class="content-page__list__item">Shield people’s personal data so that it’s only shared on a need-to-know basis</li>
        <li class="content-page__list__item">Access resources around best practice e.g. safe handling and decontamination</li>
      </ol>
    </div>
  </article>
</main>