
@{
    ViewBag.Title = "Contact Us";
}



<article class="content-page content-page--contact-us">

    <div class="outer-container">
        <div class="container content-page__outer content-page__contact-us">

            <div class="content-page__inner">
                <article class="contact-us">
                    <h2>Contact us</h2>

                    <h6>Community Organisers</h6>
                    <p>Let us know how we can help you using our <a href="#contact-form">contact form</a></p>

                    <h6>Volunteers</h6>
                    <p>Please <a href="/registration/stepone">sign up</a> to get in touch with Helpers and people in need in your local community</p>

                    <h6>Not-for-Profit organisations</h6>
                    <p>If you think our organisations can work together to help each other, please complete our <a href="#contact-form">contact form</a></p>

                    <h6>Press and Media</h6>
                    <p>Please contact <a href="mailto:media@helpmystreet.org">media@helpmystreet.org</a></a></p>

                    <h6>Commercial organisations</h6>
                    <p>Please contact <a href="mailto:partners@helpmystreet.org">partners@helpmystreet.org</a></p>

                    <h6>Join our Team</h6>
                    <p>We’re always looking for people with great product, tech, marketing and communications skills to help us make <a href="/">HelpMyStreet.org</a> better. Please complete the form to get in touch.</p>
                </article>
            </div>

            <div class="content-page__inner content-page__contact-us__form card mt16">
                <partial name="_ContactForm" model="null" />
            </div>
        </div>
    </div>

</article>

@section Scripts {
    @Html.PageScripts()
}