@{
    ViewBag.Title = "Contact Us";
}
<partial name="_SiteHeaderPublic" />

<article class="content-page content-page--contact-us">

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">
                <header class="content-page__header content-page__section__body">
                    <h2 class="content-page__title">Contact Us</h2>
                    <p>Across the country, people are stepping up to help those in need. We’re seeing some amazing acts of care and kindness. </p>
                    <p>This is not just about giving time, it’s about <em>helping</em>; doing something positive for the communities we all live in. </p>
                    <p><a href="/">HelpMyStreet.org</a> has been launched to help the Helpers.</p>
                </header>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/Community Organisers - Photo 4.jpg" alt="Getting involved" />
            </div>
        </section>
    </div>

    <div class="outer-container outer-container--darker">
        <section class="container content-page__associated">
            <partial name="_Associated" />
        </section>
    </div>

    <div class="outer-container">
        <div class="container content-page__contact-us">
            <partial name="_ContactUsSummary" />

            <div class="content-page__contact-us__form card">
                <partial name="_ContactForm" />
            </div>
        </div>
    </div>

</article>
