
@{
    ViewBag.Title = "Privacy Policy";
}




<div class="container">
    <div class="row">
        <div class="sm12 content-page content-page--privacy-policy">
            <article class="content-page content-page--questions">
                <header class="content-page__header">
                    <h2 class="content-page__title">Privacy Policy</h2>
                </header>
                <div class="content-page__body">
                    <p>Effective Date: 20th June 2022</p>

                    <ol>
                        <li> <a href="#1">Introduction</a></li>
                        <li> <a href="#2">Who can you contact for privacy questions or concerns?</a></li>
                        <li> <a href="#3">How do we collect personal data?</a></li>
                        <li> <a href="#4">What are the categories of personal data that we collect?</a></li>
                        <li> <a href="#5">What are the lawful bases we use for processing personal data?</a></li>
                        <li> <a href="#6">Why do we need personal data?</a></li>
                        <li> <a href="#7">Do we share personal data with third parties?</a></li>
                        <li> <a href="#8">Do we transfer personal data outside the European Economic Area (EEA)?</a></li>
                        <li> <a href="#9">Do we use cookies?</a></li>
                        <li> <a href="#10">What are your data protection rights?</a></li>
                        <li> <a href="#11">Personal data security</a></li>
                        <li> <a href="#12">How long do we retain personal data?</a></li>
                        <li> <a href="#13">Job applicants, current and former employees (including volunteers working on the site)</a></li>
                        <li> <a href="#14">Visitors to our websites</a></li>
                        <li> <a href="#15">Links to other websites</a></li>
                        <li> <a href="#16">People who email us</a></li>
                        <li> <a href="#17">Changes to this privacy policy</a></li>

                    </ol>


                    <strong id="1">Introduction</strong>
                    <p>HelpMyStreet CIC (&ldquo;we&rdquo;, &ldquo;us&rdquo;, or &ldquo;our&rdquo;) is dedicated to protecting personal data. We comply with the EU General Data Protection Regulation (GDPR). This Privacy Policy describes why and how we collect and use personal data and provides information about individuals&rsquo; rights. It applies to personal data provided to us by individuals themselves or by others. We may use personal data provided to us for any of the purposes described in this Privacy Policy or as otherwise stated at the point of collection.</p>
                    <p>Personal data means any information relating to an identified or identifiable natural (living) person. HelpMyStreet processes personal data for a number of reasons, and the means of collection, lawful basis of processing, use, disclosure and retention periods for each reason will differ.</p>
                    <p>The HelpMyStreet CIC (Community Interest Company) was registered by the founders of Factor 50 Ltd as a not-for-profit entity in response to the UK Coronavirus outbreak <a href="www.factor-50.co.uk/">(www.factor-50.co.uk)</a>. Factor 50 Ltd will act as a data processor and provide skills and services for HelpMyStreet CIC, including but not limited to data environments, information governance framework and technical resource. Factor 50 Ltd is registered with the ICO (Registration number: ZA488135) and have met the 20/21 Standards of the NHS Digital Data Security and Protection Toolkit (ODS: 8K896). More detail on how we share data with our data processors can be found below in the section &lsquo;Do we share personal data with third parties?&rsquo;.</p>

                    <strong id="2">Who can you contact for privacy questions or concerns?</strong>
                    <p>If you have questions or comments about this Privacy Policy or how we handle personal data, please contact <a href="mailto:contact@helpmystreet.org"><strong>contact@helpmystreet.org</strong></a>.</p>
                    <p>You may also contact the UK Information Commissioner&rsquo;s Office at <a href="https://ico.org.uk/concerns/">https://ico.org.uk/concerns/</a> to report concerns you may have about our data handling process. Our ICO registration number ZA737386.</p>

                    <strong id="3">How do we collect personal data?</strong>
                    <p><em>Directly</em></p>
                    <p>We obtain personal data directly from individuals in a number of different ways. These can include:</p>
                    <ol>
                        <li>via our website (e.g. &lsquo;Contact Us. Join Us.&rsquo;, account registrations, requests for help, email subscriptions)</li>
                        <li>via email (e.g. response to recruitment posts or our contact email addresses)</li>
                        <li>meeting attendances (e.g. telephone/video conferences)</li>
                    </ol>
                    <p>We may also obtain personal data directly when we are establishing a business relationship, or through performing professional services through a contract.</p>
                    <p><em>Indirectly</em></p>
                    <p>We obtain personal data indirectly from a number of sources. These can include:</p>
                    <ol>
                        <li>recruitment services (e.g. agencies, former employers and recommendations)</li>
                        <li>brought-in lists where there is a lawful basis for processing (e.g. referrals from other services)</li>
                        <li>requests submitted on somebody else&rsquo;s behalf</li>
                        <li>public registers</li>
                        <li>framework agreements</li>
                        <li>internet searches</li>
                        <li>news articles</li>
                    </ol>
                    <p>Our services may also include processing personal data under our clients&rsquo; control on our hosted cloud applications, which may be governed by different privacy terms and policies.</p>

                    <strong id="4">What are the categories of personal data that we collect?</strong>
                    <p>We may obtain the following categories of personal data through either direct interactions, client engagements, suppliers, job applications or other situations including those described in this Policy.</p>
                    <p><em>Personal data</em></p>
                    <p>Personal data we commonly collect to conduct our business activities may include:</p>
                    <p>For people working on our platform:</p>
                    <ol>
                        <li>professional details (e.g. career history, professional memberships)</li>
                        <li>contact details (e.g. name, job title, contact number, email address)</li>
                    </ol>
                    <p>For volunteers offering help and anyone registering an account with us:</p>
                    <ol>
                        <li>contact details (e.g. name, contact number, email address)</li>
                        <li>location (e.g. current residential address)</li>
                        <li>date of birth</li>
                        <li>a photograph (e.g. a profile picture, proof of identity)</li>
                    </ol>
                    <p>For people submitting requests for help on behalf of someone else:</p>
                    <ol>
                        <li>contact details of the requester (e.g. name, contact number, email address)</li>
                    </ol>
                    <p>For people requesting help (including where help is requested on their behalf):</p>
                    <ol>
                        <li>contact details (e.g. name, contact number, email address)</li>
                        <li>location (e.g. current residential address)</li>
                        <li>age</li>
                    </ol>
                    <p><em>Special categories of personal data</em></p>
                    <p>We may collect some special categories of personal data about individuals where it is necessary to do so. In the event that we do process special categories of personal data, it is with the explicit consent of the individual unless it is obtained indirectly for legitimate purposes. Examples of special categories of personal data we may obtain include:</p>
                    <ol>
                        <li>health information related to an individual&rsquo;s ability to fulfil their role (e.g. self-certifying the presence of any medical history that puts them at high-risk from coronavirus or presence of Coronavirus symptoms)</li>
                        <li>health information related to a request for help which is necessary to fulfil the request (e.g. a concern for health or wellbeing which will help volunteers prioritise incoming requests)</li>
                        <li>personal identification documents that may reveal race or ethnic origin</li>
                    </ol>
                    <p><em>Personal data relating to criminal convictions</em></p>
                    <p>We may obtain personal data about employees, contractors or any other individual providing services for us that reveals information about criminal convictions.</p>
                    <strong id="5">What are the lawful bases we use for processing personal data?</strong>
                    <p>In order to process personal data we must have a lawful basis for doing so. We may depend on the following lawful bases when collecting and using personal data to perform our business activities and provide our services:</p>
                    <ol>
                        <li>Legal obligations and public interests: We may process personal data to meet certain regulatory and public interest obligations or mandates</li>
                        <li>Legitimate interests: We may rely on legitimate interests based on our evaluation that the processing is fair, reasonable and balanced.</li>
                        <li>Consent: We may rely on your freely given consent</li>
                        <li>Contract: We may process personal data in order to perform contractual obligations</li>
                    </ol>
                    <strong id="6">Why do we need personal data?</strong>
                    <p>We will always endeavour to explain our rationale for collecting personal data and maintain transparency throughout. Reasons can include:</p>
                    <ol>
                        <li>supporting local communities to offer and receive help during the Coronavirus outbreak</li>
                        <li>providing professional advice and delivering reports related to our professional services</li>
                        <li>seeking qualified candidates</li>
                        <li>fulfilling employment or contractual obligations</li>
                    </ol>
                    <strong id="7">Do we share personal data with third parties?</strong>
                    <p>Sometimes we may share personal data with trusted third parties to help us deliver effective and quality services. These recipients are either contractually bound to safeguard the data we entrust them or will sign an agreement to ensure this is the case. Recipients that we engage with can include:</p>
                    <ol>
                        <li>parties that support us as we provide services (e.g. IT system support, providers of identity verification, telecommunication, document production, cloud-based software or other required services)</li>
                        <li>sub-contractors and partner organisations involved in delivering our professional services</li>
                        <li>professional advisers such as lawyers and insurers</li>
                        <li>recruitment service providers</li>
                        <li>law enforcement and regulatory agencies</li>
                        <li>partner organisations or community groups involved in submitting or managing requests for help, for example our charity partners</li>
                    </ol>
                    <p>We may also share your information with a third party if there is a legal obligation to do so (e.g. a court order), or in extreme circumstances where we believe it is in the service user&rsquo;s best interest to do so (e.g. contacting the emergency services).</p>
                    <p>We will also share your information with other verified users where it is necessary to deliver our service.</p>
                    <p>We will never share your information with a user that has not been verified unless you have given your consent to do so. Examples of sharing include:</p>
                    <ol>
                        <li>sharing volunteer contact details with other local volunteers to help find local support</li>
                        <li>sharing volunteer contact details with administrators of groups, for example where the volunteer is a member of the group, or where the volunteer has accepted a request submitted through a group</li>
                        <li>sharing contact details of people requiring help to enable volunteers to fulfil requests</li>
                        <li>sharing contact details of users requesting help on someone else&rsquo;s behalf to provide an update or to request more information</li>
                    </ol>
                    <p>When a user submits a request for help in an area where we do not currently have any volunteers, we may share some of the details collected with third parties to help us recruit volunteers to provide coverage. Where we do this, we will use high-level or aggregated data only and will not share any personal data in. For example, we might approach a local community groups and say &rsquo;We have had 10 requests for help in your area over the last 24 hours&rsquo;. </p>
                    <strong id="8">Do we transfer personal data outside the European Economic Area (EEA)?</strong>
                    <p>We endeavour to store personal data on servers located in the EEA. In the event that we store personal data outside the EEA, we will always ensure that appropriate safeguards are in place to guarantee individuals&rsquo; rights remain enforceable (such as the EU-US Privacy Shield).</p>
                    <strong id="9">Do we use cookies?</strong>
                    <p>This website uses cookies. We use cookies to help make our website usable and to understand how visitors interact with us.</p>
                    <p>Cookies are small text files that can be used by websites to make a user's experience more efficient.</p>
                    <p>The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.</p>
                    <p>This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages. The following types of cookies may appear on our site:</p>
                    <ul>
                        <li><em>Necessary Cookies</em> - Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</li>
                        <li><em>Preferences</em> - Preference cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language or the region that you are in.</li>
                        <li><em>Statistics</em> - Statistic cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.</li>
                        <li><em>Marketing></em> - Marketing cookies are used to track visitors across websites. The intention is to display ads that are relevant and engaging for the individual user and thereby more valuable for publishers and third party advertisers.</li>           
                    </ul>

                    <p>
                        What type of cookies are used and why? <br />
                        The table below explains the cookies we use and why.
                    </p>

                    <div class="cookie-grid-container">
                        <div class="Type">Type</div>
                        <div class="Cookie">Cookie Name</div>
                        <div class="Provider">Provider</div>
                        <div class="Purpose">Purpose</div>
                        <div class="Expiry">Expiry</div>
                        <div class="Neccesary">Necessary</div>
                        <div class="cAntiForgery">.AspNetCore.Antiforgery.#</div>
                        <div class="cArrfinity">ARRAffinity / ARRAffinitySameSite</div>
                        <div class="cCookieControl">CookieConsent/cookieControl</div>
                        <div class="ProviderName">helpmystreet.org</div>
                        <div class="pAntiForgery">Helps prevent Cross-Site Request Forgery (CSRF) attacks.</div>
                        <div class="pArrfinity">Used to distribute traffic to the website on several servers in order to optimise response times.</div>
                        <div class="pCookieControl">Stores the user's cookie consent state for the current domain.</div>
                        <div class="eAntiForgery">When the browsing session ends</div>
                        <div class="eArrfinity">When the browsing session ends</div>
                        <div class="eCookieControl">1 year</div>
                    </div>
       
                    <p>Where cookies are used, a statement will be sent to your internet browser explaining their use. You can change or withdraw your consent at any time by changing your browser settings.</p>
                    <strong id="10">What are your data protection rights?</strong>
                    <p>Your rights are outlined below. To submit a request, please email <a href="mailto:contact@helpmystreet.org">contact@helpmystreet.org</a></p>
                    <p><em>The right of access to personal</em> <em>data</em></p>
                    <p>You have the right to access your personal data held by us.</p>
                    <p><em>The right of rectification</em></p>
                    <p>You have the right to request the correction of personal data held by us to the extent that it is inaccurate or incomplete.</p>
                    <p><em>The right to data portability</em></p>
                    <p>You have the right (in certain circumstances) to obtain personal data in a format to allow you to transfer it to another organisation.</p>
                    <p><em>The right to withdraw consent</em></p>
                    <p>You have the right to withdraw consent at any time, and the process to withdraw consent will be as easy as the process to give consent.</p>
                    <p><em>The right to object</em></p>
                    <p>You have the right to object to processing based on legitimate interests or the performance of a task in the public interest/exercise of official authority (including profiling).</p>
                    <p>This right also applies to direct marketing and processing for purposes of scientific/historical research and statistics.</p>
                    <p><em>The right to restrict processing</em></p>
                    <p>You have the right (in certain circumstances) to &ldquo;block&rdquo; or suppress the processing of your personal data.</p>
                    <p><em>The right to object to automated decision making (including profiling)</em></p>
                    <p>You have the right (in certain circumstances) to object to automated decisions (including profiling) based upon the processing of personal data and request human involvement.</p>
                    <p><em>The right to erasure/to be forgotten</em></p>
                    <p>You have the right (in certain circumstances) to request the deletion of personal data where there is no compelling reason for its continued processing.</p>
                    <p>We may request specific information from you to help us confirm your identity and therefore ensure your rights. This will help us guarantee that personal data is not disclosed to any person who has no right to receive it.</p>
                    <strong id="11">Personal data security</strong>
                    <p>The measures we use to ensure personal data security include:</p>
                    <ol>
                        <li>Putting in place policies and procedures to protect personal data from loss, misuse, alteration or destruction.</li>
                        <li>Making sure that access to personal data is limited only to those who need access to it and that confidentiality is maintained.</li>
                        <li>Applying pseudonymisation and anonymisation techniques to further protect the data.</li>
                    </ol>
                    <p>Please be aware that the transmission of data via the Internet is not always completely secure. Whilst we will do our utmost to protect the security of your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk.</p>
                    <strong id="12">How long do we retain personal data?</strong>
                    <p>We retain personal data to:</p>
                    <ol>
                        <li>provide our services</li>
                        <li>stay in contact with you</li>
                        <li>comply with applicable laws, regulations and professional obligations that we are subject to</li>
                    </ol>
                    <p>Unless a different time frame applies as a result of business need or specific legal, regulatory or contractual obligations, we retain personal data for two years from the most recent engagement or processing but no longer than three months from the termination of the site.</p>
                    <p>We will dispose of personal data in a secure manner when we no longer require it.</p>
                    <strong id="13">Job applicants, current and former employees (including volunteers working on the site)</strong>
                    <p>Personal details you provide in your application for a job opening at HelpMyStreet will be used by us to process your application in accordance with the GDPR and other applicable laws.</p>
                    <p><em>Third parties</em></p>
                    <p>We may also share your data with approved organisations for fraud prevention purposes or with other third-party suppliers working on our behalf, such as employment verification service providers.</p>
                    <p><em>Data retention</em></p>
                    <p>In all instances we take steps to ensure that an adequate level of protection is given to your personal data. Any information provided will only be stored for the necessary amount of time required, after which it will be safely destroyed. By submitting your application you are agreeing to your data being processed in accordance with these terms.</p>
                    <p>Personal information about unsuccessful candidates will be held for 12 months after the recruitment exercise has been completed, it will then be destroyed or deleted. We retain de-personalised statistical information about applicants to help inform our recruitment activities, but no individuals are identifiable from that data.</p>
                    <p><em>Upon employment</em></p>
                    <p>Once a person has taken up employment with HelpMyStreet (including unpaid), we will compile a file relating to their employment. The information contained in this will be kept secure and will only be used for purposes directly relevant to that person&rsquo;s employment. Once their employment has ended, we will retain the file in accordance with the requirements of our retention schedule and then delete or anonymise it.</p>
                    <strong id="14">Visitors to our websites</strong>
                    <p>When someone visits <a href="/">https://www.helpmystreet.org/</a>:</p>
                    <ol>
                        <li>We collect standard internet log information and details of visitor behaviour patterns.</li>
                        <li>We do this to find out things such as the number of visitors to the various parts of the sites.</li>
                        <li>We collect this information in a way which does not identify anyone. We do not make any attempt to find out the identities of those visiting our website.</li>
                        <li>We will not associate any data gathered from these sites with any personally identifying information from any source.</li>
                    </ol>
                    <strong id="15">Links to other websites / third parties</strong>
                    <p>On our website (<a href="/">https://www.helpmystreet.org/</a>) and its subdomains, we may provide links to other websites or third parties - known as external links. This privacy notice does not cover the links within this site linking to other websites or third parties. We encourage you to read the privacy statements on the other websites you visit.</p>
                    <p>External links are selected and reviewed when the page is published. However, we are not responsible for the content of external websites we have no control over. The content on external websites can be changed without our knowledge or agreement.</p>
                    <p>Some of our external links may be to websites which also offer commercial services, such as online purchases. The inclusion of a link to an external website from our website should not be understood to be an endorsement of that website or the site?s owners, their products or services. Links may include websites (URLs), email addresses (for other organisations or individuals outside of the helpmystreet.org domain), telephone numbers etc.</p>
                    <strong id="16">People who email us</strong>
                    <p>Any email sent to us, including any attachments, may be monitored and used by us for reasons of security and for monitoring compliance with office policy.</p>
                    <p>Email monitoring or blocking software may also be used. Please be aware that you have a responsibility to ensure that any email you send to us is within the bounds of the law.</p>
                    <strong id="17">Changes to this privacy policy</strong>
                    <p>We keep our privacy notice under regular review. This privacy notice was last updated on 20th June 2022.</p>
                </div>
            </article>
        </div>

    </div>
</div>
