
@{
    ViewBag.Title = "Common Questions";
}



<div class="container">

    <div class="row">
        <div class="sm12 content-page content-page--resources">

            <article class="content-page content-page--questions">
                <header class="content-page__header">
                    <h2 class="content-page__title">Questions?</h2>
                </header>
                <div class="content-page--banner">
                    <img src="~/img/section-images/question-header.jpeg" />
                </div>

                <div class="content-page__body">
                    <p>HelpMyStreet.org aims to make volunteering in your local community simple, safe and effective for everyone. </p>
                    <p>Here's some more information about how it works:</p>
                    <ol>
                        <li> <a href="#1">Volunteering with HelpMyStreet</a></li>
                        <li> <a href="#2">ID Verification and Yoti</a></li>
                        <li> <a href="#3">Starting out as a Street Champions</a></li>
                        <li> <a href="#4">Starting out as a Helper</a></li>
                        <li> <a href="#5">Where and What's covered?</a></li>
                        <ol type="a" class="insert"> <li><a href="#5a">Homemade face coverings</a></li></ol>
                        <li> <a href="#6">Protecting yourself</a></li>
                        <li> <a href="#7">Who is HelpMyStreet?</a></li>
                    </ol>
                    <p>And here are the <a href="/terms-conditions">Terms and Conditions</a> that we ask all Street Champions and Helpers to read and confirm their agreement when they sign up</p>
                    <strong id="1">1. Volunteering, Street Champions and Helpers</strong><br>
                    <p>
                        <strong>Who can volunteer?</strong><br />
                        Anyone in the UK who is over 18, has a valid passport or driving licence and is able to verify their identity with our partner, Yoti, can register as a Street Champion or Helper on HelpMyStreet.org. We ask that everyone who uses the site supports the aims of the community-led support organisations and HelpMyStreet, which is to support those in need in the UK.
                    <p>
                    <p>Any community-based volunteering can only be completed by people who are currently fit and well, are not considered at increased risk from Coronavirus, are not currently experiencing symptoms and are not self-isolating due to them or someone in their household having symptoms or being exposed to Coronavirus. If you are at increased risk, experiencing symptoms or self-isolating, you can still help by offering phone-based support. </p>
                    <p>

                    <p>
                        <strong>Where can I be a Volunteer?</strong><br>
                        You can be a Helper in just your own street, or you can choose to provide help and support to neighbours up to 3 miles away. The choice is yours - you just need to tell us where you'd like to help.
                    </p>

                    <p>
                        <strong>How big is a street?</strong><br>
                        To keep things manageable for everyone, we're working at postcode level  20 or 30 homes to look after. Streets with lots of houses are normally divided up into different postcodes, so we allocate a Street Champion for each postcode. When you register, you may see descriptions such as Acacia Avenue (even numbers) or High Street (north side) to help you identify the right area where you an be a Street Champion.
                    </p>

                    <p>
                        <strong>What am I committing to?</strong><br>
                        When you take on the role of a Street Champion, we ask that you commit to carry out the responsibilities of the Street Champion role for the postcode that you take on. If you need to stop at any time, we ask that you let us know by pausing or stopping your responsibilities on the Street Champion page of your HelpMy Street profile.
                    </p>

                    <p>As a Helper, you will be able to see Requests for help and support from people safely sheltering at home. You then decide which of these you'd like to carry out. You can give as little or as much time as you can spare. You have complete control and can take a breather at any time. We ask that you only take on requests that you are willing and able to complete. If something happens and you aren't able to complete a request, please contact the Street Champion as soon as possible so that help can be provided by another Helper.</p>

                    <p>
                        <strong>Where will I see the requests?</strong><br>
                        After you register with HelpMyStreet, you'll be able to access your online profile. This is where you'll see the requests for help when that functionality is launched. In the meantime, Street Champions will contact Helpers using the contact details provided to run through any requests for help and support.
                    </p>
                    <br />

                    <strong id="2">2. ID Verification and Yoti</strong><br>
                    <p>
                        <strong>What is Yoti?</strong><br>
                        Yoti is a digital identity verification service. It's a simple, safe and fast way to prove your identity online and in person. Founded in 2014, Yoti's mission is to be the world's trusted identity platform. They're committed to doing things differently to other tech companies - like promising to never mine or sell your data. Yoti has 'Privacy by Design' so not even them or HelpMyStreet are able to access your data without your consent.
                    </p>

                    <p>
                        <strong>Has Yoti been certified?</strong><br>
                        Yoti has a number of formal certifications including ISO 27001, SOC 2, B Corp, Secured by Design. Yoti is certified to ISO/IEC 27001:2013 for ID Verification Services and the Certificate is valid until 29 April 2021. Yoti undergoes annual audits by an external auditor as a condition of its ISO 27001 certifications, with the next audit due in May 2020.
                    </p>

                    <p>
                        <strong>How do I know Yoti is secure?</strong><br>
                        Yoti takes privacy, security and compliance extremely seriously. To keep your information safe, it's scrambled with high-level, 256-bit encryption, and then stored in a way that, even in the unlikely event of a system breach, no one would be able to identify you as an individual. Yoti are ISO27001 certified, which means they follow a strict set of security guidelines in all their operations.
                    </p>

                    <p>
                        In 2019 Yoti became the first age verification provider to be certified under the 'AV Certificate' scheme by UK Government's Age-Verification Regulator. This scheme ensures age-verification providers maintain high standards of privacy and data security.
                        In September 2019 Yoti underwent a SOC 2 Type II examination on technical and organisational security controls by one of the top four auditing companies, with no exceptions found. The SOC 2 standard is an internationally recognised security standard.
                    </p>

                    <p><strong>You can find out more about <a href="https://yoti.zendesk.com/hc/en-us/categories/200895765-General-FAQs">Yoti here </a> </strong> </p>
                    <br />
                    <strong id="3">3. Starting out as a Street Champion</strong>
                    <p>You'll want your neighbours who need help and support to know that you're there. We'll soon have more features on HelpMyStreet to enable them to get in touch with you.</p>

                    <p>
                        In the short term, we ask that you:
                        <ul>
                            <li>Try to make contact with everyone on your street(s) who may be in need of help and/or support.</li>
                            <li>It's important they know how to contact you should they need help. Not everyone is happy using the internet so some may want to call or text you directly.</li>
                            <li>Check your inbox daily for new requests for help.</li>
                            <li>Respond to urgent requests within 24 hours.</li>
                            <li>Respond to other requests within 24-48 hours, even if it's just to acknowledge them.</li>
                            <li>Contact another Street Champion as soon as possible if you are encountering difficulties with a request for help or support.</li>
                        </ul>
                    </p>
                    <br />

                    <strong id="4">4. Starting out as a Helper</strong>
                    <p>Your local Street Champion will be in touch. If you're a Helper for just your street, you may only have one Street Champion who works with you. If you're helping over a wider area, you may be contacted by different Street Champions for the different streets in your area. </p>
                    <p>We'll soon have more features on HelpMyStreet to enable Helpers to get in touch with Street Champions.</p>
                    <br />

                    <strong id="5">5. Where and What's covered?</strong>

                    <p>
                        <strong>Where's covered by HelpMyStreet? </strong> <br />
                        We cover England, Northern Ireland, Scotland and Wales. Unfortunately we aren't able to cover the Channel Island or the Isle of Man.
                    </p>
                    <p>
                        <strong>What types of requests are covered?</strong> <br />
                        The requests are for essentials to help people sheltering at home. This includes things like
                        <ul>
                            <li>Picking up groceries and other essentials (e.g. food, toiletries, household products etc.)</li>
                            <li>Providing a washable and reusable fabric face covering </li>
                            <li>Collecting prescriptions from a local pharmacy</li>
                            <li>Running essential local errands (e.g. posting mail) </li>
                            <li>Walking a calm dog</li>
                            <li>Preparing and/or delivering a hot/pre-prepared meal</li>
                            <li>A friendly chat on the phone</li>
                            <li>Someone to talk through some challenges over the phone</li>
                            <li>Remote support for parents and carers home-schooling their children</li>
                            <li>Checking that someone is OK</li>
                            <li>And similar requests</li>
                        </ul>

                    <p>We ask that Street Champions and Helpers avoid anything that could involves close contact with a person sheltering at home or anything that could put anyone at risk.</p>

                    <p>
                        <strong>Is money involved?</strong> <br />
                        HelpMyStreet is focused on helping people in a community support each other during this time of need. We ask that all Street Champions and Helpers offer their time and support for free, without expectation of favour or gift in return.
                    </p>
                    <p>
                        We don't expect Street Champions or Helpers to pay for things or be out of pocket. If you take on a request and need to buy something on someone else's behalf (e.g. their shopping) or supply materials (e.g if you're making a face covering), it's OK to ask for that money back. Always spend their money wisely and give them a copy of any receipts.
                    </p>
                    <p>Where possible, try to encourage them to use services such as Click and Collect so that you don't have to handle notes or coins.</p>

                    <br />
                    <strong id="5a">5a. Homemade face coverings</strong>
                    <p>
                        <strong>Do volunteers need to follow a specific pattern?</strong> <br />
                        There are no specific requirements for how a face coverings should be made in England, Scotland and Northern Ireland.
                    </p>
                    <p>
                        In Wales the advice is to use a three-layer face covering where social distancing is more difficult. The World Health Organisation (WHO) have suggested the ideal
                        combination of material for non-medical masks should include three layers as listed below (more detail can be found in <a href="https://www.who.int/publications/i/item/advice-on-the-use-of-masks-in-the-community-during-home-care-and-in-healthcare-settings-in-the-context-of-the-novel-coronavirus-(2019-ncov)-outbreak">this article</a>).
                    </p>
                    <ul>
                        <li>Cotton / cotton blend inner</li>
                        <li>Polyester / polyester blend outer</li>
                        <li>Non-woven / cotton middle layer</li>
                    </ul>
                    <p>
                    To supply face coverings through HelpMyStreet volunteers can use any pattern, as long as the face covering has at least two layers of fabric and fits comfortably and securely.
                    The government has published instructions for a sewn fabric face covering <a href="https://www.gov.uk/government/publications/how-to-wear-and-make-a-cloth-face-covering/how-to-wear-and-make-a-cloth-face-covering#making-your-own-face-covering">here</a>, 
                    and there are lots of other patterns available online. A couple of favourites are <a href="https://freesewing.org/blog/facemask-frenzy/">this fitted facemask pattern</a> from <a href="https://freesewing.org/">freesewing.org</a>
                    and <a href="https://www.youtube.com/watch?v=X_-R8Ox3Spw&fbclid=IwAR3vmsfjx4Ga3oHR7kCXZjHqdaTSjbg5mlWju9rn9nt9ORL-zdaWz2_A0zY&app=desktop">this pleated pattern</a> from the Missouri Star Quilt Company. Recipients with specific requirements (e.g. three layers) should include these on their request
                    so our volunteers can make sure they're able to help.
                    </p>                       
                    <p>
                        We will do our best to keep our volunteers updated with the latest government advice.
                    </p>
                    <p>
                        <strong>Will volunteers charge for homemade face coverings?</strong> <br />
                        Volunteers provide their skills and time for free but can ask for a small amount (usually &#163;2 - &#163;3) per face covering to cover the cost of materials. On the <a href="/request-help">Request Help</a> form, people requesting face coverings are asked if they're able to cover this cost or if they're looking for face coverings to be donated.
                    </p>
                    <p>
                        <strong>Are homemade face coverings PPE (personal protective equipment)?</strong> <br />
                        Homemade face coverings are <u>not</u> medical grade PPE, they are intended to be used by the public in enclosed public spaces and not for any other purpose.
                    </p>
                    <p>
                        <strong>Can I return my face covering for any reason?</strong> <br />
                        For hygiene reasons you cannot return a face covering once it has been delivered to you. Please make sure the face coverings your volunteer can provide meet your needs before they complete your request.
                    </p>
                    <p>
                        <strong>Can volunteers post homemade face coverings to people further afield?</strong> <br/>
                        If you're a volunteer and would like to see Help Requests from further afield, let us know and we'll see what we can do!
                    </p>
                    <br/>
                    <strong id="6">6. Protecting yourself</strong>

                    <p>
                        <strong>How do I protect myself from Coronavirus while I'm helping others?</strong> <br />
                        It's important that we help everyone stay safe and well. That includes you and other volunteers. We ask that everyone follows the latest government advice to protect themselves and others from Coronavirus, including while they are volunteering.
                    </p>
                    <p>
                        Unfortunately we can't believe everything that's online. On our <a href="/resources">Resources page</a>, you'll find links to official information will provide you with the correct information.
                    </p>

                    <p>
                        We ask that you always:
                        <ul>
                            <li>Stay at least 2m away from all people from outside your household.</li>
                            <li>Wash your hands frequently, especially after touching something that you think may have been handled by lots of people.</li>
                            <li>Avoid touching your face.</li>
                            <li>Clean and disinfect items which have been given to you or touched by others, especially if you are about to give them to someone who's sheltering safely at home.</li>
                        </ul>
                    </p>

                    <p>
                        <strong>What do I do if I or someone in my household develops symptoms or needs to self-isolate?</strong> <br />
                        It's easy to pause or stop your volunteering. Simply log in to your HelpMyStreet profile and let us know. You can continue to provide phone-based help and support if you need to maintain physical distance.
                    </p>
                    <br />

                    <strong id="7">7. Who is Help My Street?</strong>
                    <p>We're a diverse group of people who live around the UK, but all have a connection to Nottingham. We are doctors, health practitioners, tech and data people, community volunteers and marketers. The founding team work for Factor 50, a healthcare analytics and digital company that works with the NHS, particularly in mental health. </p>
                    <p>We've launched HelpMyStreet.org as a hub to help community groups and make it easy and safe for anyone in the UK to volunteer and help those in need.</p>
                    <p>Help My Street CIC is a not-for-profit Community Interest Company, registered in England and Wales, company number 12534175. Help My Street CIC is registered with the Information Commissioner's Office for data protection purposes. </p>
                </div>
            </article>
        </div>
    </div>
</div>