@{
    ViewBag.Title = "Common Questions";
}
    <partial name="_SiteHeaderPublic" />

    <div class="container">
        <div class="row">
            <div class="sm12 content-page content-page--resources">

                <article class="content-page content-page--questions">
                    <header class="content-page__header">
                        <h2 class="content-page__title">Common Questions</h2>
                    </header>

                    <div class="content-page__body">
                        <p>TBC</p>
                    </div>
                </article>
            </div>
        </div>
    </div>