@model BasePageViewModel;
@{
    ViewBag.Title = "Common Questions";
}
<script>
     const configuration = { firebase: @Html.Raw(Json.Serialize(@Model.FirebaseConfiguration))};
</script>
<partial name="_SiteHeaderPublic" />

<div class="container">
    <div class="row">
        <div class="sm12 content-page content-page--resources">

            <article class="content-page content-page--questions">
                <header class="content-page__header">
                    <h2 class="content-page__title">Questions?</h2>
                </header>

                <div class="content-page__body">
                    <p>HelpMyStreet.org aims to make volunteering in your local community simple, safe and effective for everyone. </p>
                    <p>Here's some more information about how it works:</p>
                    <ol>
                        <li>Volunteering, Street Champions and Helpers</li>
                        <li>ID Verification and Yoti</li>
                        <li>Starting out as a Street Champions</li>
                        <li>Starting out as a Helper</li>
                        <li>Where and What's covered?</li>
                        <li>Protecting yourself</li>
                        <li>Who is HelpMyStreet?</li>
                    </ol>
                    <p>And here are the <a href="https://helpmystreet.org/terms-conditions">Terms and Conditions</a> that we ask all Street Champions and Helpers to read and confirm their agreement when they sign up</p>
                    <strong>1. Volunteering, Street Champions and Helpers</strong><br>
                    Who can volunteer?<br />
                    <p>Anyone in the UK who is over 18, has a valid passport or driving licence and is able to verify their identity with our partner, Yoti, can register as a Street Champion or Helper on HelpMyStreet.org. We ask that everyone who uses the site supports the aims of the community-led support organisations and HelpMyStreet, which is to support those in need in the UK. <p>
                    <p>Any community-based volunteering can only be completed by people who are currently fit and well, are not considered at increased risk from Coronavirus, are not currently experiencing symptoms and are not self-isolating due to them or someone in their household having symptoms or being exposed to Coronavirus. If you are at increased risk, experiencing symptoms or self-isolating, you can still help by offering phone-based support. </p>
                    How can I volunteer?<br>
                    <p>You can volunteer as a Street Champion to ensure that people in your street have the support they need, or you can volunteer as a Helper to provide direct help such as collecting prescription medicines. We would encourage every street to have 2 Street Champions and a number of Helpers so that they can share the workload, support each other and ensure that there’s always coverage for the street.</p>

                    What is the role of a Street Champion?<br>
                    <p>Street Champions coordinate activity in their local community. They receive requests for help from people who are sheltering safely at home and work with local Helpers to ensure that these request for help, such as collecting prescription medicines, are completed. Street Champions are responsible for a specific street, or part of a street, and lead the helping activities in that area by:</p>
                    <ul>
                        <li>Communicating with people who are sheltering safely at home and/or their friends and family.</li>
                        <li>Collecting their requests for help and support.</li>
                        <li>Co-ordinating and completing the requests for help, either by working with local Helpers or completing the requests themselves.</li>
                        <li>Collaborate with other Street Champions e.g. those in adjoining streets.</li>
                        <li>Respect people and their personal information.</li>
                    </ul>

                    What is the role of a Helper?<br>
                    <p>Helpers work with Street Champions by volunteering for specific requests, supporting people in need and keeping the Street Champions up to date. These requests range from collecting prescription, shopping for essentials, and running errands to checking to make sure that someone is OK. You can give as little or as much time as you can spare.</p>

                    Where can I be a Street Champion?<br>
                    <p>You can be a Street Champion in the street where you live or a nearby street. We’d encourage you to start with just one street so that you can get up to speed with the role. Once you feel confident and have that under control, you can think about taking on other streets. At the moment, you can be a Street Champion for up to 5 streets.</p>

                    Where can I be a Helper?<br>
                    <p>You can be a Helper in just your own street, or you can choose to provide help and support to neighbours up to 3 miles away. The choice is yours - you just need to tell us where you’d like to help.</p>

                    How big is a street?<br>
                    <p>To keep things manageable for everyone, we’re working at postcode level, so that each Street Champion has up to 20 or 30 homes to look after. Streets with lots of houses are normally divided up into different postcodes, so we allocate a Street Champion for each postcode. When you register, you may see descriptions such as Acacia Avenue (even numbers) or High Street (north side) to help you identify the right area where you an be a Street Champion.</p>

                    What am I committing to?<br>
                    <p>When you take on the role of a Street Champion, we ask that you commit to carry out the responsibilities of the Street Champion role for the postcode that you take on. If you need to stop at any time, we ask that you let us know by pausing or stopping your responsibilities on the Street Champion page of your HelpMy Street profile.</p>

                    <p>As a Helper, you will be able to see Requests for help and support from people safely sheltering at home. You then decide which of these you’d like to carry out. You can give as little or as much time as you can spare. You have complete control and can take a breather at any time. We ask that you only take on requests that you are willing and able to complete. If something happens and you aren’t able to complete a request, please contact the Street Champion as soon as possible so that help can be provided by another Helper.</p>

                    Where will I see the requests?<br>
                    <p>After you register with HelpMyStreet, you’ll be able to access your online profile. This is where you’ll see the requests for help when that functionality is launched. In the meantime, Street Champions will contact Helpers using the contact details provided to run through any requests for help and support.</p>

                    <strong>2. ID Verification and Yoti</strong><br>
                    What is Yoti?<br>
                    <p>Yoti is a digital identity verification service. It’s a simple, safe and fast way to prove your identity online and in person. Founded in 2014, Yoti’s mission is to be the world’s trusted identity platform. They’re committed to doing things differently to other tech companies – like promising to never mine or sell your data. Yoti has ‘Privacy by Design’ so not even them or HelpMyStreet are able to access your data without your consent.</p>

                    Has Yoti been certified?<br>
                    <p>Yoti has a number of formal certifications including ISO 27001, SOC 2, B Corp, Secured by Design. Yoti is certified to ISO/IEC 27001:2013 for ID Verification Services and the Certificate is valid until 29 April 2021. Yoti undergoes annual audits by an external auditor as a condition of its ISO 27001 certifications, with the next audit due in May 2020.</p>

                    How do I know Yoti is secure?<br>
                    <p>Yoti takes privacy, security and compliance extremely seriously. To keep your information safe, it’s scrambled with high-level, 256-bit encryption, and then stored in a way that, even in the unlikely event of a system breach, no one would be able to identify you as an individual. Yoti are ISO27001 certified, which means they follow a strict set of security guidelines in all their operations.</p>

                    <p>
                        In 2019 Yoti became the first age verification provider to be certified under the ‘AV Certificate’ scheme by UK Government’s Age-Verification Regulator. This scheme ensures age-verification providers maintain high standards of privacy and data security.
                        In September 2019 Yoti underwent a SOC 2 Type II examination on technical and organisational security controls by one of the top four auditing companies, with no exceptions found. The SOC 2 standard is an internationally recognised security standard.
                    </p>

                    You can find out more about Yoti <a href=”https://yoti.zendesk.com/hc/en-us/categories/200895765-General-FAQs”> here </a>

                </div>
            </article>
        </div>
    </div>
</div>