
@{
    ViewBag.Title = "Frequently Asked Questions";
}



<div class="container">

    <div class="row">
        <div class="sm12 content-page content-page--resources">

            <article class="content-page content-page--questions">
                <header class="content-page__header">
                    <h2 class="content-page__title">Frequently Asked Questions</h2>
                </header>
                <div class="content-page--banner">
                    <img src="~/img/section-images/question-header.jpeg" alt="Who? What? When? etc."/>
                </div>

                <div class="content-page__body body-text-16px">
                    <p>HelpMyStreet aims to make volunteering in your local community simple, safe and effective for everyone. </p>
                    <p>Here's some more information about how it works:</p>
                    <ol>
                        <li> <a href="#1">About Us</a></li>
                        <li> <a href="#2">Becoming a volunteer</a></li>
                        <li> <a href="#3">Requesting help</a></li>
                        <li> <a href="#4">ID verification and Yoti</a></li>
                        <li> <a href="#5">Exchanging money and making payments</a></li>
                        <li> <a href="#6">Our partners and organisations using HelpMyStreet</a></li>
                        <li> <a href="#7">Volunteering during the pandemic</a></li>
                    </ol>
                    <p>Can't find the answer you're looking for? No problem, get in touch by emailing <a href="mailto:contact@helpmystreet.org">contact@helpmystreet.org</a>.</p>
                    <strong id="1">1. About Us</strong><br>
                    <p>
                        <strong>What is HelpMyStreet?</strong><br />
                        HelpMyStreet is an online platform that matches volunteers with local people in need of a little bit of help.  We support neighbours looking after each other.
                    </p>

                    <p>
                        <strong>Who is HelpMyStreet for?</strong><br>
                        HelpMyStreet is for everyone in the UK - we support individuals and organisations. Individuals can sign up as a volunteer or request help for themselves, a neighbour or a loved one and organisations can coordinate their volunteers and campaigns through us. If you’re a organisation and would like to find out more about how we can help, get in touch by emailing <a href="mailto:contact@helpmystreet.org">contact@helpmystreet.org</a>.
                    </p>

                    <br />

                    <strong id="2">2. Becoming a volunteer</strong><br>
                    <p>
                        <strong>Who can volunteer?</strong><br>
                        To become a HelpMyStreet volunteer you must
                        <ul>
                            <li>be over 18</li>
                            <li>currently live in the UK</li>
                            <li>have valid photographic ID (a passport or driving licence) and a compatible mobile device for ID verification, <a href="#4">find out more about ID verification and Yoti.</a></li>
                        </ul>
                    </p>
                    <p>
                        We may also partner with other organisations to help them manage their volunteers through our platform and their registration requirements may vary.
                    </p>

                    <p>
                        <strong>What is a volunteer expected to do?</strong><br>
                        HelpMyStreet volunteers can pick up requests for help with everyday activities like running local errands or walking the dog. You’ll be able to browse open requests near you and accept the ones you’d like to take on; it doesn’t matter if that’s one request a month or one a day, you can help in a way that suits you. Volunteers are expected to give their time and skills for free, but you’re not expected to be left out of pocket. <a href="#5">Find out more about Exchanging money and making payments.</a>
                    </p>

                    <p>
                        <strong>How do I sign up?</strong><br>
                        Signing up is easy, just click on one of the <span style="color:green">GREEN</span> ‘Sign Up or Log In’ buttons on our website and follow the instructions.
                    </p>

                    <p>
                        <strong>How do I volunteer with my group or organisation?</strong><br>
                        Some groups and organisations are using HelpMyStreet to coordinate their volunteers and campaigns. If you’re new to our site, join a group by signing up from their HelpMyStreet landing page. If you’re already registered, click the ‘Join Group’ button on their landing page when you’re logged in.
                    </p>
                    <p>
                        <strong>How do I use my account?</strong><br>
                        Once you’re signed up you can log into your profile to view open requests and keep track of the requests you’ve accepted. If you’re a group admin you’ll also be able to view extra content to help you manage your organisation or campaign.
                    </p>
                    <p>
                        <strong>How do I find out when someone needs help?</strong><br>
                        When a new request comes in that meets your helping criteria we’ll let you know instantly by email – so keep an eye on your inbox! We also send out regular email updates, and you can log in to check what’s going on at any time.
                    </p>

                    <br />

                    <strong id="3">3. Requesting help</strong>

                    <p>
                        <strong>What can you help with?</strong><br>
                        Our community volunteers offer help with everyday activities, things like picking up groceries, running local errands or walking your dog. When you request help you’ll be shown a list of options, as well as the option to request help with something else (because we know we won’t have thought of everything!). Although please keep in mind that there are a few things we can’t help with, things like personal care (e.g. washing and dressing), financial support, and activities requiring specialist skills or training as a few examples.
                    </p>
                    <p>
                        <strong>Who can request help?</strong><br>
                        Anyone can request help for someone living in the UK with a genuine need for community support.
                    </p>
                    <p>
                        <strong>Who are the volunteers?</strong><br>
                        Our volunteers are local people who want to help - we ID check everyone before they’re able to start helping to give you the confidence that they are who they say they are. <br />
                    </p>
                    <p>
                        Our partner organisations may use their own processes to sign-up new volunteers, although if these processes are less stringent than ours we’ll let you know before you submit a request for help.
                    </p>

                    <p>
                        <strong>How do I request help?</strong><br>
                        Requesting help is easy, simply click on one of the <span style="color:orange">ORANGE</span> ‘Request Help’ buttons on our website and tell us what you need. Once you’ve submitted your request we’ll notify local volunteers – we’ll tell them roughly where you are (by sharing your postcode) and what you need. When a volunteer has accepted your request we’ll share your contact details so they can get in touch.
                    </p>

                    <br />

                    <strong id="4">4. ID verification and Yoti</strong>

                    <p>
                        <strong>Why do I need to verify my identity?</strong> <br />
                        Verifying your identity is important so we know you are who you say you are. Many of the people who request help through our site are vulnerable because of their situation or their needs. By checking your ID we can give everyone using our site the confidence that our volunteers are genuine and well-intentioned.
                    </p>
                    <p>
                        <strong>Who is Yoti?</strong><br />
                        Yoti is our chosen digital identity verification provider. They provide a safe way to prove your identity online.
                    </p>
                    <p>
                        <strong>What do I need?</strong> <br />
                        To verify your identity with Yoti you will need:
                        <ul>
                            <li>A compatible mobile device (iOS 11.0 and above or Android 5.0 and above)</li>
                            <li>The free Yoti app (downloaded from your phone's app store)</li>
                            <li>A valid driving licence or passport (Yoti support ID documents from over 200 countries and territories, find a full list <a href="https://yoti.zendesk.com/hc/en-us/articles/360002886594-What-ID-documents-do-you-currently-support-">here</a>)</li>
                        </ul>
                    </p>
                    <p>
                        <strong>How do I verify with Yoti?</strong>
                        Verifying your ID with Yoti is simple and only takes a few minutes
                        <ol>
                            <li>Download the free Yoti app and follow the instructions to set up your digital ID – don’t forget to add your passport or driving licence</li>
                            <li>Log in to your profile on HelpMyStreet and follow the instructions to confirm your ID by clicking the <span style="color: green">GREEN</span> ‘Confirm ID’ button in the ‘My Profile’ tab.</li>
                        </ol>
                    </p>
                    <p>
                        <strong>What do I do if I get stuck verifying with Yoti?</strong> <br />
                        If you’re having trouble with Yoti try these hints and tips:
                        <ul>
                            <li>Make sure you’re using an up-to-date web browser – some older browsers are no longer supported and may not work correctly</li>
                            <li>Make sure you entered the correct details when you registered, including your name, date of birth and address – if you need to update your details let us know by emailing <a href="mailto:contact@helpmystreet.org">contact@helpmystreet.org</a></li>
                            <li>If you’re already registered with us don’t try to create a new account and re-use your Yoti, you can reset your password or contact us if you have any problems with your old account by emailing <a href="mailto:contact@helpmystreet.org">contact@helpmystreet.org</a></li>
                            <li>If you’re having trouble viewing the QR code on our site try refreshing the page a couple of times or switching to a different browser to see if that helps</li>
                        </ul>
                    <p>
                        <strong>What if I can’t use Yoti?</strong> <br />
                        We understand that some people aren’t able to verify their ID with Yoti, this could be because they aren’t able to download the app, or because they don’t have a passport or driving licence. At the moment Yoti is our only trusted ID verification provider, but we are working on finding other solutions.
                    </p>
                    <p>
                        If you choose to register as an unverified volunteer we’ll let you know as soon as an alternative ID verification process is available so you can complete your registration. In the meantime, as an unverified volunteer you’ll be able to see the open requests near you but you won’t be able to accept them.
                    </p>

                    <br />

                    <strong id="5">5. Exchanging money and making payments</strong>

                    <p>
                        <strong>Do volunteers charge for this service?</strong> <br />
                        No. All our volunteers have signed up to offer their time and skills for free. If you ask a volunteer to buy something on your behalf (like your shopping) they may ask you for that money back, but they’ll never ask you to pay any more for their time and effort.
                    </p>

                    <p>
                        <strong>What can a volunteer charge for?</strong> <br />
                        A volunteer can’t charge for their time or effort, but they can ask for money back to cover the cost of things they have bought on someone else’s behalf. For example:
                        <ul>
                            <li>the cost of items you asked them to buy on your behalf (e.g. your shopping)</li>
                            <li>the cost of materials needed to complete your request (e.g. for homemade face-coverings)</li>
                            <li>the cost of postage if they need to post something to you</li>
                        </ul>
                    </p>

                    <p>
                        <strong>How do payments work?</strong> <br />
                        To make sure things run smoothly we suggest following these simple steps:
                        <ul>
                            <li>Check the help recipient is able to pay you back</li>
                            <li>Set a budget to make sure you’re not spending more than they expect</li>
                            <li>Agree how they will pay you back, e.g. bank transfer, PayPal, cash etc.</li>
                            <li>Make the purchase</li>
                            <li>Keep a copy of the receipt for yourself and give the original to the person you’re buying for (taking a photo on your phone is a really easy way to do this)</li>
                            <li>Use their contact details to request payment, it’s helpful to remind them how much they owe and how you’d like to be paid</li>
                        </ul>
                    </p>

                    <p>
                        <strong>How should I pay volunteers for things they purchase on my behalf?</strong> <br />
                        Here are a couple of safe and easy options for getting money to volunteers:
                        <ul>
                            <li><strong>Bank transfer</strong> – if you have online, mobile or telephone banking you can easily transfer precise amounts with a bank transfer. All you need is the volunteer’s sort code and account number.</li>
                            <li><strong>PayPal</strong> – send money to your volunteer with just their email address or mobile number. You’ll need a PayPal account, but setting one up is free, quick and easy. Find our more <a href="https://www.paypal.com/uk/webapps/mpp/send-money-online">here</a>.</li>
                        </ul>
                        Alternatively, you can look out for ‘Click and Collect’ services which allow you to pay for your goods yourself and have someone else pick them up for you. Try to avoid using cash wherever possible, and never hand over your bank card, PIN number, long card number, or the three-digit security code on the back of your card – only you should know this information.
                    </p>

                    <br />
                    <strong id="6">6. Our partners and organisations using HelpMyStreet</strong>
                    <p>
                        <strong>Who do we partner with?</strong> <br />
                        At HelpMyStreet we partner with charities, organisations and local neighbourhood groups who work with volunteers to benefit their communities. If you’re interested in partnering with us, get in touch by emailing <a href="mailto:contaxt@helpmystreet.org">contact@helpmystreet.org.</a>
                    </p>
                    <p>
                        At the moment we’ve partnered with For the Love of Scrubs, a national face covering campaign, as well as a number of local groups. Find out more by looking at the map on our homepage.
                    </p>
                    <p>
                        <strong>Is volunteering with a partner organisation different to volunteering with HelpMyStreet?</strong> <br />
                        All our partners use the same platform to submit and manage their requests, so you can find them alongside HelpMyStreet requests in your account. Although there are some differences:
                        <ul>
                            <li>Some organisations may require additional checks before you’re able to start helping, e.g. a DBS check or specialist training</li>
                            <li>Some organisations may provide an alternative to Yoti for ID verification. Where this is the case, we’ll let you know when accepting a request.</li>
                            <li>If you join one of our partner organisations as a member (by clicking ‘Join Our Group’ on their HelpMyStreet landing page), we’ll share your details with them so they can keep you up to date with their latest news and opportunities.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>How do I know if a request is linked to a partner organisation?</strong> <br />
                        We’ll let you know if a request is linked to one of our partners before you accept it.
                    </p>
                    <strong id="7">7. Volunteering during the pandemic</strong>
                    <p>
                        <strong>How do I protect myself from Coronavirus while I’m helping others?</strong> <br />
                        To help protect yourself and others you should follow the latest official advice – here is a link to the government’s <a href="https://www.gov.uk/government/publications/coronavirus-how-to-help-safely--2/coronavirus-how-to-help-safely">‘Coronavirus: How to help safely’</a> guidance.
                    </p>
                    <p>
                        We’re all getting used to the ‘new normal’, but when helping others you should take special care to:
                        <ul>
                            <li>Keep your distance – think about leaving things on the doorstep and stepping back to give space to open the door</li>
                            <li>Wash or sanitise your hands frequently – especially after coming into contact with surfaces in public setting, like the chip and PIN machine at the supermarket or your neighbour’s door handle!</li>
                        </ul>
                    </p>
                    <p>
                        <strong>What do I do if I or someone in my household develops symptoms or needs to self-isolate?</strong> <br />
                        You should stay at home and focus on providing remote support or take a break from volunteering. If you have any accepted requests that can’t be done over the phone you should log in to your profile and release them so they can be picked up by other volunteers – you can do this by clicking ‘Can’t Do’ in the ‘My Requests’ tab of your profile. You should release any request that would need you to leave your house or post something from your house.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>