@{
    ViewBag.Title = "Resources";
}
<div class="container">
    <partial name="_SiteHeaderPublic" />

    <article class="content-page content-page--questions">
        <header class="content-page__header">
            <h2 class="content-page__title">Resources</h2>
        </header>

        <div class="content-page__body">
            <p>TBC</p>
        </div>
    </article>
</div>