<div class="style-guide">
  <div id="titles" class="style-guide__category typography">
    <div>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
    </div>
    <div>
      <p>Default copy :: Lorem ipsum dolor sit amet consectetur adipiscing, elit ultricies parturient hendrerit phasellus, conubia tristique erat euismod donec.</p>
      <p class="subtitle">Exposition copy :: Lorem ipsum dolor sit amet consectetur adipiscing, elit ultricies parturient hendrerit phasellus, conubia tristique erat euismod donec.</p>
    </div>
  </div>

  <div id="buttons" class="style-guide__category">
    <h4>Buttons</h4>
    
    <div class="style-guide__definition">
      <div class="code">
        @Html.Raw(Html.Encode("<button class='btn cta'>Default</button>"))
      </div>
      <div class="output">
        <button class="btn cta">Default CTA</button>
      </div>
    </div>

    <div class="style-guide__definition">
      <div class="code">
        @Html.Raw(Html.Encode("<button class='btn cta large'>Default</button>"))
      </div>
      <div class="output">
        <button class="btn cta large">Large CTA</button>
      </div>
    </div>

    <div class="style-guide__definition">
      <div class="code">
        @Html.Raw(Html.Encode("<button class='btn blue border-blue transparent'>Default</button>"))
      </div>
      <div class="output">
        <button class="btn blue border-blue transparent">Secondary</button>
      </div>
    </div>

  </div>
</div>