@{
    ViewBag.Title = "Terms and Conditions";
}
<partial name="_SiteHeaderPublic" />

<div class="container">
    <div class="row">
        <div class="sm12 content-page content-page--terms">
            <h2>Terms &amp; Conditions</h2>
            <p>Updated: 08 April 2020</p>
            <p>We've launched <a href="http://HelpMyStreet.org"><u>HelpMyStreet.org</u></a> as a hub to help community groups and make it easy and safe for anyone in the UK to volunteer and help those in need.</p>
            <p><a href="http://HelpMyStreet.org">HelpMyStreet.org</a> is a not-for-profit service run by a team of specialists with skills, tools and technology that will hopefully help communities around the UK. We&rsquo;ve built a service to make volunteering safe, accessible and as helpful as possible for those in need at this time.</p>
            <p>To support this goal we ask all our users to play their part and agree to these terms.</p>
            <p>1. Who can use Help My Street?</p>
            <ul>
                <li>Anyone in the UK who is over 18, has a valid passport or driving licence and is able to verify their identity with our partner, Yoti, can register as a volunteer on HelpMyStreet.org.</li>
                <li>Anyone with a genuine need and currently living in the UK can request help, although we may not be able to match you with a volunteer until there are enough volunteers in your area. If this is the case, we&rsquo;ll let know before you submit any personal details.</li>
                <li>Anyone can request help on behalf of someone who has a genuine need and is currently living in the UK.</li>
                <li>Everyone who uses the site must support the aims of the community-led support organisations and <a href="http://HelpMyStreet.org">org</a>, which is to support those in need in the UK.</li>
            </ul>
            <p>2. We ask that all of our users:</p>
            <ul>
                <li>Follow the latest government advice at all times &ndash; we&rsquo;ll do our best to help by sharing information on our <u>Resources</u> page</li>
                <li>Be aware of the symptoms of coronavirus (COVID-19) and what to do if you or anyone in your household has symptoms. You can find a link to the NHS web pages on our <u>Resources</u> We ask that all volunteers refrain from community helping for a minimum of 14 days after exposure or showing symptoms, and longer if the symptoms persist.</li>
                <li>Only use this site, and all information made available to you through this site, for the purpose of helping people in need.</li>
                <li>Act with honesty and integrity at all times.</li>
                <li>Are respectful towards all users and protect the confidentiality of all users&rsquo; information.</li>
                <li>Update information in a timely and accurate manner.</li>
            </ul>
            <p>3. We ask that Street Champions and Helpers:</p>
            <ul>
                <li>Minimise the time spent outside the home by grouping requests/errands together wherever possible.</li>
                <li>Only use other people&rsquo;s information for the purpose for which it is intended. Don&rsquo;t share information with anyone unless it&rsquo;s absolutely necessary.</li>
                <li>Only agree to take on requests that you are willing and able to complete yourself. If something happens and you aren&rsquo;t able to complete a request, please contact the Street Champion as soon as possible so that help can be provided by another volunteer.</li>
                <li>If you encounter a problem and can&rsquo;t complete a request, let a Street Champion know as soon as possible.</li>
                <li>Keep people informed, e.g. let people know that you&rsquo;ve received their request for help. If other volunteers also receive the request, let them know you&rsquo;ve got it covered and will complete the request for help.</li>
                <li>Offer your time and support for free, without expectation of favour or gift in return. If you need to buy something on someone else&rsquo;s behalf (e.g. their shopping) it&rsquo;s OK to ask for that money back, but always spend their money wisely and give them a copy of the receipt.</li>
                <li>Contact a Street Champion as soon as possible if you ever receive a request or encounter a situation where you&rsquo;re not comfortable.</li>
            </ul>
            <p>4. The role of a Street Champions</p>
            <ul>
                <li>Communicate with people who are sheltering safely at home and/or their friends and family.</li>
                <li>Co-ordinate and complete their requests for help, by working with local Helpers or completing them yourself.</li>
                <li>Collaborate with other Street Champions.</li>
                <li>Respect people, their needs and their personal information.</li>
            </ul>
            <p style="padding-left: 30px;">We ask that you:</p>
            <ul>
                <li>Try to make contact with everyone on your street(s) who may be in need of help and/or support. It&rsquo;s important they know how to contact you should they need help.</li>
                <li>Check your inbox daily for new requests for help.</li>
                <li>Respond to urgent requests within 24 hours.</li>
                <li>Respond to other requests within 24-48 hours, even if it&rsquo;s just to acknowledge them.</li>
                <li>Contact another Street Champion as soon as possible if you are encountering difficulties with a request for help or support.</li>
            </ul>
            <p>5. For people requesting help</p>
            <ul>
                <li>Only share information you&rsquo;re comfortable sharing with someone you may not yet know well.</li>
                <li>Never share bank details. If a volunteer needs to buy something for you and pay for it themselves make sure you have a conversation about how and when you will pay them back. Finding a way to pay without exchanging notes and coins is always preferable as it reduces any risk of transmission.</li>
                <li>If you are requesting help on behalf of someone else, where possible always get their permission beforehand</li>
                <li>Please don&rsquo;t request help which involves close contact or any specialist care. If you need this kind of help, please contact the specialist services or authorities who may be able to help you.</li>
            </ul>
            <p>&nbsp;</p>
        </div>
    </div>
</div>