@using HelpMyStreetFE.Models.RequestHelp;


    <div data-tab-page="review" class="dnone">
        <h2>Review</h2>
        <div class="tiles">
            <div class="row justify-center  ">
                <div class="sm8">
                    <label class="tiles__label--large"> Request For</label>
                </div>
            </div>
            <div class="row  justify-center pb-md">
                <div class="sm4" id="selected-activity">

                </div>
                <div class="sm4" id="selected-request-for">
                </div>
            </div>
            <hr class="input--separator" />
            <div class="row mt-md justify-center">
                <div class="sm8">
                    <label class="tiles__label--large"> Description</label>
                </div>
            </div>
            <div class="row justify-center ">
                <div class="sm8">
                    <div class="tiles__tile tiles__tile--large">
                        <div class="tiles__tile__content--top ">

                            <div class="row">
                                <div class="sm6">
                                    <div class="tiles__tile__content--top__header pt-xs left">Additional Information</div>
                                    <div id="review-additional-info" class="tiles__tile__content__description left"></div>
                                </div>
                                <div class="sm6">
                                    <div class="tiles__tile__content--top__header pt-xs left">Is this request critical to someone’s health or wellbeing?</div>
                                    <div id="review-critical-request" class="tiles__tile__content--top__description left"></div>
                                    <div class="tiles__tile__content--top__header pt-xs mt-md left">When is the help needed?</div>
                                    <div id="review-timeframe" class="tiles__tile__content--top__description left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="input--separator" />
            <div class="row mt-md justify-center">
                <div class="sm8">
                    <label class="tiles__label--large"> Personal Details</label>
                </div>
            </div>
            <div class="row justify-center ">
                <div id="review-your-details" class="sm4">
                    <div class="tiles__tile tiles__tile--large">
                        <div class="tiles__tile__content--top ">
                            <div class="tiles__tile__content--top__header  pt-xs left">Your Details</div>
                            <div class="tiles__tile__content__description tiles__tile__content--top__description">
                                <div><strong>Name: </strong>  <span id="review-your-name"></span></div>
                                <div><strong>Address: </strong> <span id="review-your-address"></span></div>
                                <div><strong>Email: </strong><span id="review-your-email"></span></div>
                                <div><strong>Mobile Number: </strong><span id="review-your-mobile"></span></div>
                                <div><strong>Alternate Number: </strong><span id="review-your-alternate"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="review-their-details" class="sm4">
                    <div class="tiles__tile tiles__tile--large">
                        <div class="tiles__tile__content--top">
                            <div class=" tiles__tile__content--top__header  pt-xs left">Their Details</div>
                            <div class="tiles__tile__content__description tiles__tile__content--top__description">
                                <div><strong>Name: </strong> <span id="review-their-name"></span></div>
                                <div><strong>Address: </strong> <span id="review-their-address"></span></div>
                                <div><strong>Email: </strong><span id="review-their-email"></span></div>
                                <div><strong>Mobile Number: </strong><span id="review-their-mobile"></span></div>
                                <div><strong>Alternate Number: </strong><span id="review-their-alternate"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr class="input--separator" />
        <div class="row mt-md justify-center">
            <div class="sm8">
                <label class="tiles__label--large">Is there anything more you would like to tell us?</label>
            </div>
        </div>

        <div class="row justify-center">
            <div class="sm8 input">
                <label for="communication-needs">Are there any communication needs that volunteers need to know about before they contact you or the person who needs help?</label>
                <textarea name="communication-needs" placeholder="For example, do you have any specific language requirements, or hearing issues that we should know about?"></textarea>
                <span id="e-communication-needs" class="error"></span>          
            </div>
        </div>
        <div class="row justify-center">
            <div class="sm8 input">
                <label for="helper-additional-details">Is there anything else you would like to tell us about the request?</label>
                <textarea name="helper-additional-details" placeholder="For example, if it’s a request for some shopping and you know what you want, you could give us the list."></textarea>
                <span id="e-helper-additional-details" class="error"></span>
            </div>
        </div>
    </div>
