.btn {
    border-radius: 24px;
    border: 2px solid transparent;
    font-size: 1rem;
    line-height: 1.222;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 13px 40px;
    text-decoration: none;

    .text {
        font-size: 1rem;
        line-height: 1.222;
        font-weight: bold;
    }

    &.border-blue {
        border: 2px solid $blue;
    }

    &.border-green {
        border: 2px solid $green;
    }

    &.large {
        border-radius: 32px;
        line-height: 1.8;

        @media screen and (max-width: $sm-screen) {
            width: 100%;
        }
    }

    &.wide {
        min-width: 250px;
        border-radius: 32px;
    }

    &:hover {
        cursor: pointer;
    }
}


.clear{
    border: 2px solid $green;
    background: $white;
    color: $green;
}

.cta {
    @extend .white;
    @extend .bg-green;

    &:hover {
        @extend .white;
    }

    &--orange {
        @extend .bg-orange;
        display: inline-block;
    }
}
