.btn {
  border-radius: 24px;
  border: 2px solid transparent;
  font-size: 1rem;
  line-height: 1.222;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 13px 40px;
  text-decoration: none;

  &.border-blue {
    border: 2px solid $blue;
  }

  &.large {
    border-radius: 32px;
    line-height: 1.5;

    @media screen and (max-width: $sm-screen) {
      width: 100%;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .loader {
    display: none;
  }
}

.cta {
  @extend .white;
  @extend .bg-green;
}
