@model HelpMyStreetFE.Models.Account.Jobs.JobStatusChangePopupViewModel;
@{
    var isShift = Model.RequestType == HelpMyStreet.Utils.Enums.RequestType.Shift;
}
<div class="popup__content">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        @if (Model.JobSummary.JobStatus == HelpMyStreet.Utils.Enums.JobStatuses.Done)
        {
            <div class="popup__content__header">Mark as cancelled?</div>
        }
        else
        {
            <div class="popup__content__header">Cancel?</div>
        }
        <div class="popup__content__text">
            <p>Is there a problem with this request (e.g. you have become aware that it was entered in error or that the help is no longer needed)?</p>

            @if (Model.JobSummary.JobStatus == HelpMyStreet.Utils.Enums.JobStatuses.Open)
            {
                <p>We can mark is as Cancelled and remove it from the "@(isShift ? "Open Shifts" : "Open Requests")" list.</p>
            }
            else if (Model.JobSummary.JobStatus == HelpMyStreet.Utils.Enums.JobStatuses.InProgress)
            {
                <p>We can mark is as Cancelled and remove it from the relevant volunteer’s “My @(isShift ? "Shifts" : "Accepted Requests")” page.</p>
            }
            else if (Model.JobSummary.JobStatus == HelpMyStreet.Utils.Enums.JobStatuses.Done)
            {
                <p>We can mark is as Cancelled for your records.</p>
            }

        </div>
        <div class="popup__content__buttons">
            <p class="error dnone">Oops, we couldn’t cancel this @(isShift ? "shift" : "request") at the moment.</p>
            <partial name="_PopupAcceptButton" model='new PopupButtonModel { ButtonText = "Confirm" }' />
        </div>
    </div>
</div>

