@model HelpMyStreetFE.Models.Account.Jobs.JobStatusChangePopupViewModel;
@{
    var isShift = Model.RequestType == HelpMyStreet.Utils.Enums.RequestType.Shift;
    var requestType = isShift ? "shift" : "request";
}
<div class="popup__content apply">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        <div class="popup__content__header">Decline this volunteer’s request to help?</div>
        <div class="popup__content__text">
            <p>To decline this volunteer’s application for this role, click ‘Confirm’ - we will automatically email the volunteer to let them know their application has been unsuccessful.</p>
            <p>If you want to get in touch with the volunteer directly before declining their application you need to do this before clicking confirm below - you can find their details by expanding the “Contact Details” section in the admin request view.</p>
        </div>
        <div class="popup__content__buttons">
            <p class="error dnone">Oops, we couldn’t release this @requestType at the moment.</p>
            <partial name="_PopupAcceptButton" model='new PopupButtonModel { ButtonText = "Decline", CssClass="cta--dark-blue" }' />
        </div>
    </div>
</div>


