@model HelpMyStreetFE.Models.Account.Jobs.JobStatusChangePopupViewModel;
@{
    var isShift = Model.RequestType == HelpMyStreet.Utils.Enums.RequestType.Shift;
    var requestType = isShift ? "shift" : "request";
}
<div class="popup__content apply">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        <div class="popup__content__header">Accept this volunteer’s request to help?</div>
        <div class="popup__content__text">
            <p>If you are happy that this volunteer meets the requirements for this role click ‘Confirm’ to accept their application to help.  We will automatically email the volunteer to let them know their application has been successful. You should then get in touch with them directly to provide any additional information they may need to get started.</p>
            <p>If you need to decline the volunteer’s application to help close this pop-up and select “Mark as Open” to make the opportunity available to another volunteer. We will automatically email the volunteer to let them know their application has been unsuccessful. If you want to get in touch with the volunteer directly before declining their application we suggest you do this before marking the request as open - you can find their details by expanding the “Contact Details” section.</p>
        </div>
        <div class="popup__content__buttons">
            <p class="error dnone">Oops, we couldn’t update this @requestType at the moment.</p>
            <partial name="_PopupAcceptButton" model='new PopupButtonModel { ButtonText = "Confirm", CssClass="cta--dark-blue" }' />
        </div>
    </div>
</div>



