@using HelpMyStreet.Utils.Enums;
@using HelpMyStreetFE.Helpers; 

@model HelpMyStreetFE.Models.Account.Jobs.JobStatusChangePopupViewModel;

<div class="popup__content">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        @if (Model.RequestSummary.SingleJobStatus() == JobStatuses.Done)
        {
            <div class="popup__content__header">Mark as cancelled?</div>
        }
        else
        {
            <div class="popup__content__header">Cancel?</div>
        }
        <div class="popup__content__text">
            <p>Click “Confirm” to cancel this shift (and all @Model.RequestSummary.JobSummaries.Count() slots within it).</p>

            <p>We will notify any volunteers who have accepted the shift that it has been cancelled and will remove it from their “My Shifts” page.</p>

            <p><b>This action cannot be undone.</b> Please make sure you want to make this change before you click to confirm.</p>
        </div>
        <div class="popup__content__buttons">
            <p class="error dnone">Oops, we couldn’t cancel this shift at the moment.</p>
            <partial name="_PopupAcceptButton" model='new PopupButtonModel { ButtonText = "Confirm" }' />
        </div>
    </div>
</div>

