@model HelpMyStreetFE.Models.Account.Jobs.JobStatusChangePopupViewModel;


<div class="popup__content__header">Completed?</div>
<div class="popup__content__text">
    <p>Have you become aware that this task has been completed, but not marked as such?</p>
    <p>We can mark it as Complete on behalf of the volunteer for you.</p>
</div>
<div class="popup__content__buttons">
    <p class="error dnone">Oops, we couldn’t complete this request at the moment.</p>
    <div class="popup__content__buttons__button">
        <button id="popup-accept" class="btn cta  wide fill ">
            <span class="text">Confirm</span>
            <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Submitting..."}' /></div>
        </button>
    </div>
</div>

