@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreetFE.Models.Account.Jobs

@model JobStatusChangePopupViewModel;


<div class="popup__content wide">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        <div class="popup__content__header">Start Helping?</div>
        <div class="popup__content__text credentials-required">
            @if (Model.AnnotatedGroupActivityCredentialSets.AnnotatedCredentialSets.Where(s => !s.Any(c => c.UserHasCredential)).Count() == 1)
            {
                <p class="text-left">There's just one more thing you need to do before you can accept this request.</p>
            }
            else
            {
                <p class="text-left">There's just a few more things you need to do before you can accept this request. </p>
            }

            <p class="text-left">To complete this <strong>@Model.ReferringGroup</strong> request for <strong>@Model.JobBasic.GetSupportActivityName</strong> you need:</p>

            <partial name="_CredentialsRequired" model="Model.AnnotatedGroupActivityCredentialSets" />
        </div>
    </div>
</div>

