@using HelpMyStreetFE.Models.Account.Jobs;
@using HelpMyStreet.Utils.Models;
@using HelpMyStreet.Utils.Enums;
@using HelpMyStreet.Utils.Utils;
@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreetFE.Helpers;

@model JobViewModel<IEnumerable<JobDetail>>;

<button class="btn cta @(Model.UserHasRequiredCredentials ? "" : "cta--green-border") trigger-series-status-update-popup" data-target-state="@JobStatuses.InProgress">
    <span class="text">Accept</span>
</button>
