@using HelpMyStreet.Utils.Enums;
@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreet.Utils.Models;

@model IEnumerable<JobSummary>

@{ 
    var nextJobDue = Model.Where(j => j.JobStatus.Incomplete()).OrderBy(j => j.DueDate).FirstOrDefault();
}

@if(nextJobDue != null)
{
    var allDates = Model.Select(j => j.DueDate).Distinct();
    var nextJobDueIsFirst = nextJobDue.DueDate.Equals(allDates.Min());

    <span class="due-date" title="@((nextJobDue.DueDateType == DueDateType.On ? "On " : "On or before ") + nextJobDue.DueDate.FormatDate(DateTimeFormat.ShortDateFormat))">
        @if (allDates.Count() == 1)
        {
        <span>@nextJobDue.DueDate.JobDueDate(nextJobDue.DueDateType)</span>
        }
        else if (nextJobDueIsFirst)
        {
            <span>First due @nextJobDue.DueDate.FriendlyFutureDate()</span>
        }
        else
        {
            <span>Next due @nextJobDue.DueDate.FriendlyFutureDate()</span>
        }
    </span>
}
