@using HelpMyStreet.Utils.Extensions;
@model HelpMyStreet.Utils.Models.Address

@{
    var MaskAddress = ViewData["MaskAddress"] != null & ViewData["MaskAddress"] is bool ? (bool)ViewData["MaskAddress"] : false;

    var addressComponents = new List<string>();

    if (!MaskAddress)
    {
        if (!String.IsNullOrEmpty(Model.AddressLine1))
        {
            addressComponents.Add(@Model.AddressLine1);
        }
        if (!String.IsNullOrEmpty(Model.AddressLine2))
        {
            addressComponents.Add(@Model.AddressLine2);
        }
        if (!String.IsNullOrEmpty(Model.AddressLine3))
        {
            addressComponents.Add(@Model.AddressLine3);
        }
        if (!String.IsNullOrEmpty(Model.Locality))
        {
            addressComponents.Add(Model.Locality.ToTitleCase());
        }
    }

    if (!String.IsNullOrEmpty(Model.Postcode))
    {
        addressComponents.Add(Model.Postcode);
    }
}



@foreach (var item in addressComponents)
{
    @if (addressComponents.IndexOf(item) != addressComponents.Count - 1)
    {
        //another item exists so add a comma
        <span>@item, </span>
    }
    else
    {
        <span>@item</span>
    }
}
