@model HelpMyStreet.Utils.Models.Job

@{
    bool UserIsVerified = (bool)ViewData["UserIsVerified"];
}

<script>
    function open(guid) {
        console.log('hey hey');
        $(`#${guid}`).addClass('open');
    }

    function close(guid) {
        $(`#${guid}`).removeClass('open');
    }
</script>

<div class="job" id="@Model.UniqueIdentifier">
    <div class="job__header @(@Model.HealthCritical ? "job__header--critical" : "")">&nbsp;</div>

    <div class="job__info">
    </div>
    <div class="job__footer">
        @if (UserIsVerified)
        {
            <a href="#" data-guid="@Model.UniqueIdentifier" class="open">View more info&#9660;</a>
            <a href="#" data-guid="@Model.UniqueIdentifier" class="close">View less info&#9650;</a>
        }
        else
        {
            <a href="#" class="disabled">View more info&#9660;</a>
        }
    </div>
    <div class="job__detail">
        <hr />
        <p>More info here</p>
    </div>
</div>