<p>
    The information you provide will be shared with Street Champions in your local area to help organise volunteers.
    You can read more in out <a href="/privacy-policy">Privacy Notice</a>
</p>
<div class="input input--checkbox">
    <label class="small">
        <input name="privacy_notice" type="checkbox" hidden />
        <span class="input--checkbox__checkbox">
            <span class="mdi mdi-check"></span>
        </span>
        I acknowledge the Help My Street <a href="/privacy-policy">Privacy Notice</a>
    </label>
</div>
<div class="input input--checkbox">
    <label class="small">
        <input name="terms_and_conditions" type="checkbox" hidden />
        <span class="input--checkbox__checkbox">
            <span class="mdi mdi-check"></span>
        </span>
        I agree to the Help My Street <a href="/terms-conditions">Terms and Conditions</a>
        <span class="error"></span>
    </label>
</div>