<h2>What type of help are you looking for</h2>
<partial name="_Activties" />
<div class="row">
    <div class="sm12 input">
        <label for="additional-help-detail">Would you like to tell us more about the help you need?</label>
        <textarea name="additional-help-detail" placeholder="Please don't include any sensitve details that aren't needed in order for us to help you"></textarea>
    </div>
</div>