
<div class="input input--radio">
    <label>
        <input name="volunteer_medical_condition" type="radio" value="true" hidden />
        <span class="input--radio__radio">
            <span class="input--radio__radio__inner"></span>
        </span>
        Yes
    </label>
</div>
<hr class="input--separator" />
<div class="input input--radio">
    <label>
        <input name="volunteer_medical_condition" type="radio" value="false" hidden />
        <span class="input--radio__radio">
            <span class="input--radio__radio__inner"></span>
        </span>
        No
    </label>
</div>
