
    <div class="btn-wrapper">
        <button class="btn cta large  btnBack  left clear-button" type="button">Back</button>
        <span id="hasErrors" class="error">Please check the form for any errors</span>
        <span  class="error retryError">Oops! an error occured, please try again.</span>
        <button id="btnNext" class="btn btnNext cta large  right" type="button">
            <span class="text">Continue</span>
            <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Validating..."}' /></div>
        </button>

        <button  id="btnSubmit" class="btn btnSubmit cta large  dnone right" type="button">
            <span class="text">Submit</span>
            <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Submitting..."}' /></div>
        </button>
    </div>
