<ol class="progress-bar">
    <li class="is-active" data-tab="Request"><span>Request</span></li>
    <li data-tab="Details"><span>Details</span></li>
    <li data-tab="Review" ><span>Review</span></li>    
</ol>
