<ol class="progress-bar">
    <li class="is-active" data-tab="request"><span>Request</span></li>
    <li data-tab="details"><span>Details</span></li>
    <li data-tab="review" ><span>Review</span></li>    
</ol>
