@model HelpMyStreetFE.Models.RequestHelp.Stages.Request.QuestionsViewModel
@using HelpMyStreetFE.Models.RequestHelp;

@if (Model.Questions != null)
{
    @foreach (RequestHelpQuestion question in Model.Questions)
    {
        <div class="row">
            <div class="sm12 input">
                <label>
                    @Html.Raw(question.Label)
                    <span class="sub-text">@Html.Raw(question.SubText)</span>
                </label>

                <partial name="_Question" model="question" />
            </div>
        </div>
    }
}