<div data-tab-page="Request">
    <h2>What type of help are you looking for</h2>
    <div class="row">
        <div class="sm12">
            <partial name="_Activties" />
            <hr class="input--separator" />
        </div>
    </div>

    <div class="row">
        <div class="sm12 input">
            <label for="additional-help-detail">Would you like to tell us more about the help you need?</label>
            <textarea name="additional-help-detail" placeholder="Please don't include any sensitve details that aren't needed in order for us to help you"></textarea>
            <hr class="input--separator" />
        </div>
    </div>
    <h2>Help Description</h2>
    <div class="row">
        <div class="sm12 input">
            <label>Who is the help for?</label>
            <partial name="_RequestFor">
                <hr class="input--separator" />
        </div>
    </div>
    <div class="row">
        <div class="sm12 input">
            <label>When is the help needed?</label>
            <partial name="_Timeframe">
                <hr class="input--separator" />
        </div>
    </div>


    <div class="row mt-md">
        <div class="sm8 input mt-md">
            <label>Is this request critical to someone’s health or wellbeing?</label>
            <partial name="_HealthWelbeing">
             <hr class="input--separator" />
</div>
    </div>



    <div class="row">
        <div class="sm10">
               <partial name="_AgreeToTerms" />

        </div>
    </div>
</div>