@using HelpMyStreetFE.Models.RequestHelp;



@{
	ViewData["Title"] = "Thank you";
}



<div class="container">
	<div class="row justify-center mt72">
		<div class="sm12">
		
		</div>
	</div>
</div>






