@using HelpMyStreetFE.Models.RequestHelp;
@using HelpMyStreet.Utils.Enums


@section Scripts {
    <script src="~/requesthelp.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Request Help";
}



<div id="request-help" class="container request-help">
    <div class="row mt-md">
        <div class="sm12">
            <partial name="_ProgressBar" />
        </div>
    </div>
    <form>
        <partial name="_RequestStage">
        <partial name="_DetailStage">
        <partial name="_ReviewStage">
        <partial name="_NextPrevButtons" />
</form>

</div>


