@using HelpMyStreetFE.Models.RequestHelp;
@using HelpMyStreet.Utils.Enums

@model RequestHelpFormModel;

@section Scripts {
    <script src="~/requesthelp.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Request Help";
}



<div class="container request-help">
    <div class="row mt-md">
        <div class="sm12">
            <partial name="_ProgressBar" />
        </div>
    </div>

    <h2>What type of help are you looking for</h2>
    <button class="btnBack">Back</button>
    <button class="btnNext">Next</button>

    
    <partial name="_Activties" />
    <div class="row">
        <div class="sm12 input">
            <label for="additional-help-detail">Would you like to tell us more about the help you need?</label>
            <textarea name="additional-help-detail" placeholder="Please don't include any sensitve details that aren't needed in order for us to help you"></textarea>
        </div>
    </div>
 
    <partial name="_Timeframe" />  
</div>


