@using HelpMyStreetFE.Models.RequestHelp;
@using HelpMyStreet.Utils.Enums

@model RequestHelpFormModel;

@section Scripts {
    <script src="~/requesthelp.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Request Help";

    var helpOptions = new Dictionary<SupportActivities, string>
{
        { SupportActivities.Shopping, "Picking up groceries and other essentials (e.g. food, toiletries, household products etc.)" },
        { SupportActivities.CollectingPrescriptions, "Collecting prescriptions from a local pharmacy" },
        { SupportActivities.Errands, "Running essential local errands (e.g. posting mail)" },
        { SupportActivities.DogWalking, "Walking a calm dog" },
        { SupportActivities.MealPreparation, "A hot / pre-prepared meal" },
        { SupportActivities.PhoneCalls_Friendly, "A friendly chat on the phone" },
        { SupportActivities.PhoneCalls_Anxious, "Some extra support over the phone" },
        { SupportActivities.HomeworkSupport, "Remote support for adults home-schooling their children" },
        { SupportActivities.CheckingIn, "Check that someone is OK" },
        { SupportActivities.Other, "I’d like to check if you can help with something else" },
    };
}



<div class="container">
    <partial name="_ProgressBar" />
    <partial name="_Activties" />
   
</div>