@using HelpMyStreetFE.Models.RequestHelp;
@using HelpMyStreet.Utils.Enums

@model RequestHelpFormModel;

@section Scripts {
    <script src="~/requesthelp.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Request Help";
}



<div class="container request-help">
    <div class="row mt-md">
        <div class="sm12">
            <partial name="_ProgressBar" />
        </div>
    </div>
    <form>
        <partial name="_RequestStage">
            <partial name="_DetailStage">


    </form>
    <partial name="_NextPrevButtons" />
</div>


