@using HelpMyStreetFE.Models.RequestHelp;
@using HelpMyStreet.Utils.Enums

@model RequestHelpFormModel;

@section Scripts {
	<script src="~/requesthelp.js" asp-append-version="true"></script>
}

@{
	ViewData["Title"] = "Request Help";

	var helpOptions = new Dictionary<SupportActivities, string>
{
		{ SupportActivities.Shopping, "Picking up groceries and other essentials (e.g. food, toiletries, household products etc.)" },
		{ SupportActivities.CollectingPrescriptions, "Collecting prescriptions from a local pharmacy" },
		{ SupportActivities.Errands, "Running essential local errands (e.g. posting mail)" },
		{ SupportActivities.DogWalking, "Walking a calm dog" },
		{ SupportActivities.MealPreparation, "A hot / pre-prepared meal" },
		{ SupportActivities.PhoneCalls_Friendly, "A friendly chat on the phone" },
		{ SupportActivities.PhoneCalls_Anxious, "Some extra support over the phone" },
		{ SupportActivities.HomeworkSupport, "Remote support for children being home-schooled" },
		{ SupportActivities.CheckingIn, "Check that someone is OK" },
		{ SupportActivities.Other, "I’d like to check if you can help with something else" },
	};
}

<partial name="_SiteHeaderPublic" />

<div class="container">
	<div class="row justify-center mt72">
		<div class="sm12">
			<h1>@ViewData["Title"]</h1>

			@if (Context.Request.Query["failure"] == "error")
			{
				<p class="orange">There has been an error submitting your details. Please try again.</p>
			}
			@if (@Model.HasErrors)
			{
				<p class="orange">There has been an error submitting your details. Please try again.</p>
			}
		</div>
	</div>
	<div class="row justify-center mt72">
		<div class="sm12">
			<div class="row street-check">
				<div class="input sm12">
					<label>Postcode Where Help Is Needed</label>
					<div class="postcode-input-button">
						<input id="postcode_search" name="postcode_search" type="text" placeholder="Enter Postcode..." />
						<button class="btn cta large" id="postcode_button">
							<span class="text">Check Postcode</span>
							<span class="loader">Checking&hellip;</span>
						</button>
					</div>
				</div>
			</div>
			<div class="postcode__info dnone">
				<div id="postcode_notcovered" class="dnone postcode__info__message">
					<div class="row">
						<div class="sm8 postcode__info__message__text">
							Your street is not yet covered. Sign up as a Street Champion or Helper and help people in need
						</div>
						<div class="sm4"><a href="/registration/stepone" class="btn cta large fill mt16 btn--sign-up">Sign Up Now</a></div>
					</div>
				</div>
				<div id="postcode_invalid" class="dnone postcode__info__message">
					<div class="row">
						<div class="sm12 postcode__info__message__text__warning">
							Sorry - that’s not quite right. Please enter a valid UK postcode.
						</div>
					</div>
				</div>
				<div id="postcode_error" class="dnone postcode__info__message__text__warning">
					We're currently experiencing issues finding coverage, please try again later.
				</div>
			</div>
		</div>
		<div class="sm12">
			<form id="requesthelp_form" method="post" asp-controller="RequestHelp" asp-action="Send">

				<div class="input sm8 dnone" id="address_selector">
					<label>Select address</label>
					<select name="address_selector">
					</select>
				</div>
				<div class="expander sm8">
					<label>Check the address</label>
					<div class="input">
						<label>Address line 1</label>
						<input name="address_line_1" type="text" placeholder="e.g. 170 High Street" />
						<span class="error"></span>
					</div>
					<div class="input">
						<label>Address line 2</label>
						<input name="address_line_2" type="text" placeholder="e.g. Hockley" />
						<span class="error"></span>
					</div>
					<div class="input">
						<label>Town / City</label>
						<input name="city" type="text" placeholder="e.g. Nottingham" />
						<span class="error"></span>
					</div>
					<div class="input">
						<label>County</label>
						<input name="county" type="text" placeholder="e.g. Nottingham" />
						<span class="error"></span>
					</div>
					<div class="input">
						<label>Postcode</label>
						<input name="postcode" type="text" placeholder="e.g. NG1 1PS" />
						<span class="error"></span>
					</div>
				</div>
				<div class="expanderDetails dnone">
					<div class="row">
						<div class="input sm8">
							<label>Is this for you or someone else?</label>
							<div class="input input--checkbox">
								<div class="input input--radio">
									<label>
										<input name="help_for_me" type="radio" value="true" hidden checked="checked" />
										<span class="input--radio__radio">
											<span class="input--radio__radio__inner"></span>
										</span>
										Me
									</label>
								</div>

								<div class="input input--radio">
									<label>
										<input name="help_for_me" type="radio" value="false" hidden />
										<span class="input--radio__radio">
											<span class="input--radio__radio__inner"></span>
										</span>
										Someone Else
									</label>
								</div>
							</div>
						</div>
					</div><div class="row">
						<div class="input sm8">
							<label>Is there a concern about someone’s health or wellbeing?</label>
							<div class="input input--checkbox">
								<div class="input input--radio">
									<label>
										<input name="health_concern" type="radio" value="true" hidden />
										<span class="input--radio__radio">
											<span class="input--radio__radio__inner"></span>
										</span>
										Yes
									</label>
								</div>

								<div class="input input--radio">
									<label>
										<input name="health_concern" type="radio" value="false" hidden checked="checked" />
										<span class="input--radio__radio">
											<span class="input--radio__radio__inner"></span>
										</span>
										No
									</label>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="input sm4">
							<label>You first name</label>
							<input name="firstname" type="text" placeholder="e.g. John" />
							<span class="error"></span>
						</div>
						<div class="input sm4">
							<label>Your last name</label>
							<input name="lastname" type="text" placeholder="e.g. Smith" />
							<span class="error"></span>
						</div>
					</div>

					<div class="row">
						<div class="input sm8">
							<label>Your email Address</label>
							<input name="email" type="email" placeholder="e.g. johndow@gmail.com" />
							<span class="error"></span>
						</div>
					</div>
					<div class="row">
						<div class="input sm8">
							<label>Your phone number</label>
							<input name="phonenumber" type="number" placeholder="e.g. 07700112233" />
							<span class="error"></span>
						</div>
					</div>
					<div class="row">
						<div class="input sm12">
							<label>What Help are you looking for?</label>
							<p>(Please tick as many as you like, but at least one)</p>
							<span class="error" id="help-needed-array-error">Please select at least one option</span>
							@foreach (var option in helpOptions)
							{
								<div class="input input--checkbox">
									<label>
										<input name="help-needed-array" type="checkbox" value="@option.Key" hidden />
										<span class="input--checkbox__checkbox">
											<span class="mdi mdi-check"></span>
										</span>
										@option.Value
									</label>
								</div>
							}
						</div>
					</div>
					<div class="row">
						<div class="input sm12">
							<label>Anything else to add?</label>
							<p>We will share this description with local volunteers who may be able to help.  Please don’t include anything sensitive that isn’t essential to the request – but do tell us anything we need to know to be able to help you.</p>
							<textarea name="message" rows="5"></textarea>
						</div>
					</div>
					<input id="requestId" name="requestId" type="hidden" />

					<div class="row">
						<p class="orange">
							<span class="error" id="general-error">There are some errors on the page, please correct them</span>
						</p>
					</div>
					<div class="row">
						<div class="input sm3">
							<div class="controls">
								<button class="btn cta large fill" id="submit_button" type="submit">
									<span class="text">Submit</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


