@model HelpMyStreetFE.Models.Feedback.FeedbackViewModel;
@using HelpMyStreetFE.Models.Feedback;

<script type="text/javascript" src="~/feedback.js" asp-append-version="true"></script>

<div class="ml-md mr-md">
    @if (Model.FeedbackMessages.Count() > 0)
    {
        <div class="feedback-message">
            @foreach (FeedbackMessage feedbackMessage in Model.FeedbackMessages)
            {
                <div class="card-feedback mr-sm ml-sm mb-sm">
                    <div class="card-feedback-inner">
                        <h3>&ldquo;@feedbackMessage.Tagline&bdquo;</h3>
                        <p>@feedbackMessage.Message</p>
                        <p class="person">@feedbackMessage.Person</p>
                    </div>
                </div>
            }
        </div>
    }
</div>
