@model HelpMyStreetFE.Models.PartnersViewModel;
@using HelpMyStreetFE.Models;
@using HelpMyStreetFE.Models.Community;

<script type="text/javascript" src="~/testimonials.js" asp-append-version="true"></script>

<div class="ml-md mr-md">
    @if (Model.Partners.Count() > 0)
    {
        <div class="mb-sm" style="margin-left:-1.5rem;"><strong>In partnership with...</strong></div>
        <div class="partners-container">
            @foreach (Partner partner in Model.Partners)
            {
                <a href="/community/@partner.GroupKey" class="mr-sm ml-sm mb-sm">
                    <div class="card-partner">
                        <div class="card-partner-inner">
                            <partial name="_GroupLogo" model="new GroupLogoViewModel { GroupId = (int) partner.Group }" />
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>