@model HelpMyStreetFE.Models.PartnersViewModel;
@using HelpMyStreetFE.Models;
@using HelpMyStreetFE.Models.Community;

<script type="text/javascript" src="~/testimonials.js" asp-append-version="true"></script>

<div>
    @if (Model.Partners.Count() > 0)
    {
        <h2 class="mb-sm-md">In partnership with...</h2>
        <div class="ml-md mr-md">
            <div class="partners-container">
                @foreach (Partner partner in Model.Partners.OrderBy(x => Guid.NewGuid()))
                {
                    <a href="/community/@partner.GroupKey" class="mr-sm ml-sm mb-sm">
                        <div class="card-partner">
                            <div class="card-partner-inner">
                                <partial name="_GroupLogo" model="new GroupLogoViewModel { GroupId = (int) partner.Group }" />
                                @if(!string.IsNullOrEmpty(partner.Label))
                                {
                                    <span>@partner.Label</span>
                                }
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    }
</div>