@using HelpMyStreetFE.Helpers; 

@model HelpMyStreet.Contracts.GroupService.Response.GroupCredential

<div class="popup__content">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        <div class="popup__content__header">@Model.Name</div>
        <div class="text-left">
            <p>@Html.Raw(Model.WhatIsThis.ToHtmlSafeStringWithLineBreaks())</p>
        </div>
    </div>
</div>


