.tiles {
    margin: 20px 0;

    &__tile {
        text-align: center;
        background: white;
        padding: 10px;
        width: 100%;
        margin: 10px 0px;
        @include shadow-md;
        border-radius: 3px;
        cursor: pointer;
        border: 2px solid $white;

        &--large {
            height: 200px;
            padding: 0px;
        }



        &:hover {
            border: 2px solid $light-orange;
            box-shadow: 0 0 10px $light-orange-opaque;
        }


        .on-selected {
            display: none;
        }

        .no-selected {
            display: inline-block;
        }

        &.selected {
            border: 2px solid $light-orange;
            background: $light-orange-opaque;
            color: $dark-blue;

            .cirlce {
                background: $orange;

                .on-selected {
                    display: inline-block;
                }

                .no-selected {
                    display: none;
                }
            }
        }

        &.dark-blue {
            color: $dark-blue;
        }

        &.blue {
            color: $blue;
        }

        &.light-purple {
            color: $light-purple;
        }

        &__content {
            top: 15%;

            &__header {
                font-weight: 600;
                font-size: 1.2em;
                margin-bottom: 2px;
            }

            &__icon {
                margin-bottom: 5px;

                .cirlce {
                    background: $background-main;
                    border-radius: 50%;
                    width: 66px;
                    margin: auto;
                    padding: 11px;
                    height:60px;
                    display:inline-block;
                    img {                        
                        vertical-align: middle;
                    }
                }
            }



            &__description {
                color: $black;
            }
        }
    }
}
