@{
    ViewBag.Title = "Oops - something's gone wrong";
}



<article class="content-page content-page--about-us">

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">
                
                <article class="content-page__section__body">
                    <h2>Oops</h2>
                    <p class="subtitle">Sorry, something’s not quite right.</p>
                    <p>If you were in the middle of registering, please use the login at the top of this page to sign back in and continue your registration</p>
                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/404 grey-kitten-on-floor-774731.jpg" alt="Man and woman on sofa" />
            </div>
        </section>
    </div>

    <div class="outer-container outer-container--darker">
        <section class="container content-page__outer content-page__outer--reverse">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <p>Or click on your link below:</p>

                    <ul>
                        <li><a href="https://helpmystreet.org/registration/step-one">Volunteers</a></li>
                        <li><a href="https://helpmystreet.org/community">Community Organisers</a></li>
                        <li><a href="mailto:contact@helpmystreet.org">Not-for-Profit organisations</a></li>
                        <li><a href="mailto:media@helpmystreet.org">Press and Media</a></li>
                        <li><a href="mailto:partners@helpmystreet.org">Commercial Organisations</a></li>
                        <li>
                            <p>Join our Team</p>
                            <p>Please complete the <a href="https://helpmystreet.org/contact-us">contact form</a> to get in touch.</p>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="content-page__inner">
                <div class="content-page__inner__image">
                    <img src="~/img/section-images/404 adult-black-pug-1851164.jpg" alt="Red bag on door handle" />
                </div>
            </div>
        </section>
    </div>

</article>