@{
    ViewBag.Title = "Oops - something's gone wrong";
}



<article class="content-page content-page--about-us">

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">
                
                <article class="content-page__section__body">
                    <h2>Oops</h2>
                    <p class="subtitle">Sorry, something’s not quite right.</p>
                    <p>If you were in the middle of registering, please use the login at the top of this page to sign back in and continue your registration</p>
                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/404 grey-kitten-on-floor-774731.jpg" alt="Kitten" />
            </div>
        </section>
    </div>

    <div class="outer-container outer-container--darker">
        <section class="container content-page__outer content-page__outer--reverse">
            <div class="content-page__inner">
                <article class="content-page__section__body">
                    <p>Or click on your link below:</p>

                    <ul>
                        <li><a href="/account">Volunteers</a></li>
                        <li><a href="/request-help">Request Help</a></li>
                        <li><a href="/case-studies">Case Studies</a></li>
                        <li><a href="/contact-us">Contact Form</a></li>
                        <li><a href="mailto:contact@factor-50.co.uk">Email Us</a></li>
                    </ul>
                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/404 adult-black-pug-1851164.jpg" alt="Pug dog" />
            </div>
        </section>
    </div>

</article>