@{
    ViewBag.Title = "Sorry - link expired";
}



<article class="content-page content-page--about-us">

    <div class="outer-container">
        <section class="container content-page__outer">
            <div class="content-page__inner">

                <article class="content-page__section__body">
                    <h2>Link Expired</h2>
                    <p class="subtitle">Sorry, the link you clicked is no longer valid.</p>
                    <p>If you were trying to submit feedback for a completed task, you can get in touch via our <a href="https://helpmystreet.org/contact-us">contact form</a>.</p>
                </article>
            </div>
            <div class="content-page__inner">
                <img src="~/img/section-images/404 grey-kitten-on-floor-774731.jpg" alt="Kitten" />
            </div>
        </section>
    </div>

</article>