@model SiteHeaderViewModel;

    <header>
        <div class="outer-container nav-holder">
            <div class="container-fluid page-header @(Model.isLoggedIn ? "" : "logged-out") align-center">
                <partial name="_HMSLogo" model="@ViewData["HMSLogoViewModel"] != null ? @ViewData["HMSLogoViewModel"] : new HMSLogoViewModel()" />
            </div>
        </div>
    </header>